<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ampeu - Article</title>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<a class="skip-main" href="#main">Prijeđi na glavni sadržaj</a>

<!-- SVG Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-menu" viewBox="0 0 28 16">
        <g fill="currentColor">
            <path d="m0 14h20v2h-20z" />
            <path d="m0 7h24v2h-24z" />
            <path d="m0 0h28v2h-28z" />
        </g>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 22 22">
        <rect y="20.192" width="28" height="2" transform="rotate(-45 0 20.1924)" fill="currentColor" />
        <rect x="1.414" y=".393" width="28" height="2" transform="rotate(45 1.41418 0.393311)" fill="currentColor" />
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 10.99L4 6H20ZM12 13L4 8V18H20V8L12 13Z" fill="#currentColor" />
        </g>
    </symbol>
    <symbol id="icon-download" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6C3.79 18 2 16.21 2 14C2 11.95 3.53 10.24 5.56 10.03L6.63 9.92L7.13 8.97C8.08 7.14 9.94 6 12 6C14.62 6 16.88 7.86 17.39 10.43L17.69 11.93L19.22 12.04C20.78 12.14 22 13.45 22 15C22 16.65 20.65 18 19 18ZM10.55 10H13.45V13H16L12 17L8 13H10.55V10Z" fill="currentColor" />
        </g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 30 30">
        <path d="M23.75 16.25H16.25V23.75H13.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25Z"
              fill="currentColor" />
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 24 24">
        <path d="M3 11H21V13H3V11Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 24 24">
        <path d="M7.41 15.705L12 11.125L16.59 15.705L18 14.295L12 8.29496L6 14.295L7.41 15.705Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M16.59 8.29504L12 12.875L7.41 8.29504L6 9.70504L12 15.705L18 9.70504L16.59 8.29504Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 22 20">
        <path
            d="M10.9997 16.6665L12.2922 15.4915L7.17718 10.8332L18.333 10.8332V9.1665L7.17718 9.1665L12.2922 4.50817L10.9997 3.33317L3.66634 9.99984L10.9997 16.6665Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 22 20">
        <path
            d="M11.0003 3.3335L9.70783 4.5085L14.8228 9.16683H3.66699V10.8335H14.8228L9.70783 15.4918L11.0003 16.6668L18.3337 10.0002L11.0003 3.3335Z" fill="currentColor" />
    </symbol>
</svg>
<!-- EOF SVG Symbols -->

<header
    class="Header Header--isFixed Header--isOpen"
    data-js="cmp-header">
    <div
        class="Header__container"
        data-js="main-navigation-mobile"
    >
        <div class="Header__container-inner">

            <div class="Header__logo Logo Logo--app-homepage">
                <!-- <a href="/" title="Go to homepage" class="Logo__content"> -->
                <h1 class="Logo__content">
                    <img
                        src="<%= require('../images/svg/ampeu-logo.svg') %>"
                        alt="Logo Agencija za mobičnost i programe EU">
                    <span class="sr-only">Agencija za mobilnost i programe EU</span>
                </h1>
            </div>

            <div class="Header__trigger-container ml-auto">
                <button
                    class="Header__trigger"
                    data-js="cmp-menu-trigger"
                    aria-expanded="false"
                    aria-controls="main-menu"
                >
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu" />
                    </svg>
                </button>
            </div>

            <div class="Header__group">
                <div class="Header__group-inner Header__group-inner--space-evenly">
                    <nav
                        class="Nav Nav--header"
                        role="navigation"
                        data-js="cmp-mobile-navigation"
                        aria-label="Main Site Navigation">
                        <ul
                            id="main-menu"
                            class="Nav__list Nav__list--parent"
                            role="menubar"
                            aria-label="Main Site Navigation">
                            <li role="none" class="active-link active-dropdown has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>Programi</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none" class="active-link">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="none">
                                <a role="menuitem" href="/" title="title"><span>Natječaji</span></a>
                            </li>
                            <li role="none" class="has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>Novosti</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="none" class="has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>O nama</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <div
                        class="Header__extra"
                        data-js="cmp-extra">
                        <div class="Header__extra-inner">

                            <div class="PageSettings" data-js="cmp-page-settings">
                                <div class="PageSettings__block PageSettings__block--top">
                                    <span tabindex="0"
                                          title="Prilagodba stranice"
                                          class="PageSettings__trigger"
                                          data-js="cmp-page-setting-toggle"
                                    >
                                        Prilagodba stranice
                                    </span>
                                    <button
                                        class="PageSettings__close-trigger"
                                        data-js="cmp-page-setting-close">
                                        <svg class="icon-container">
                                            <use xlink:href="#icon-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div
                                    class="PageSettings__block-group"
                                    data-js="cmp-page-settings-menu">
                                    <div class="PageSettings__block" data-js="cmp-settings-font-color">
                                        <ul>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-color-black"
                                title="Crna slova">Crna slova</span>
                                            </li>
                                            <li>
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-color-light"
                                                    title="Crna slova">Bijela slova</span>
                                            </li>
                                            <li class="active">
                            <span
                                tabindex="0"
                                data-settings="font-color-default"
                                title="Zadane boje">Zadane boje</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PageSettings__block" data-js="cmp-settings-font-size">
                                        <ul>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-size-decrement"
                                title="Manja slova">Manja slova</span>
                                            </li>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-size-increment"
                                title="Veća slova">Veća slova</span>
                                            </li>
                                            <li class="active">
                            <span
                                tabindex="0"
                                data-settings="font-size-default"
                                title="Zadana slova">Zadana slova</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PageSettings__block" data-js="cmp-settings-font-family">
                                        <ul>
                                            <li>
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-family-dyslexia"
                                                    title="Font za disleksiju">Font za disleksiju</span>
                                            </li>
                                            <li class="active">
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-family-default"
                                                    title="Zadani font">Zadani Font</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <a href="/" class="LanguageMenu"
                               title="Change to EN language, ali kako, gdje je dizajn/specka?">en</a>
                        </div>
                    </div>
                </div>

                <button
                    class="Header__desktop-trigger"
                    data-js="cmp-desktop-menu-trigger"
                    aria-expanded="false"
                    aria-controls="main-menu-desktop"
                >
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="Header__menu" data-js="cmp-desktop-menu">
        <div class="container">
            <div class="Header__menu-inner-container">
                <div class="Header__menu-body Header__menu-body--two-items">
                    <div class="Header__menu-block">
                        <a href="/" title="Programi"><span>Programi</span></a>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Novosti"><span>Novosti</span></a>
                    </div>
                </div>
                <div class="Header__menu-body Header__menu-body--three-items">
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>Natječaji</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 1</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 2</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 3</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 4</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 5</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>Programi</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Erasmus+</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Aktivni program broj 2</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Aktivni program broj 3</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Arhiva programa</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Erasmus+</span></a></li>
                        </ul>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>O nama</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Upravno vijeće</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Kontakti</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Zaposli se u agenciji</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Objave za medije</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Istraživanje i analize o radu
                                                                              agencije</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="Header__menu-footer">
                    <p>Pravne informacije</p>
                    <ul class="Nav">
                        <li><a href="" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                        <li><a href="" title="Zaštita privatnosti"><span>Zaštita privatnosti</span></a></li>
                        <li><a href="" title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                        <li><a href="" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<main id="main">
    <section class="container-960">
        <article class="Article Article--layout-short Article--vertical-padding">
            <header class="Article__header">
                <nav class="Breadcrumbs Breadcrumbs--blue">
                    <ul>
                        <li><a href="/">Level 1</a></li>
                        <li><a href="/">Level 2</a></li>
                        <li><a href="/">Level 3</a></li>
                    </ul>
                </nav>
                <h1 class="Article__title">
                    Iznesite mišljenje i prijedloge i sudjelujte u kreiranju budućnosti Europe!
                </h1>
            </header>

            <div class="Article__intro">
                <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje čime se demokratski omogućuje svima da sudjeluju u kreiranju budućnosti Europe.</p>
            </div>

            <div class="Article__content">
                <p>Ovo je prigoda za sve pojedince da razmislite o tome kakvu budućnost žele za Europsku uniju i da o tome iznesu mišljenje i daju prijedloge. Europski parlament, Vijeće i Europska komisija žele saslušati Europljane i Europljanke i na temelju dobivenih preporuka poduzeti daljnje korake u okviru svojih nadležnosti. Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i pružiti se smjernice o budućnosti Europe.</p>

                <h2>Ovo je nekakav podnaslov, h2 ofc</h2>

                <p>Sudjelovati mogu svi europski građani i građanke, a središnju ulogu imaju mladi. Također pojedinci i organizacije - europska, nacionalna, regionalna i lokalna tijela, kao i civilno društvo i druge organizacije mogu se ako žele uključiti organizacijom događanja.</p>

                <div class="Video">
                    <iframe
                        class="Video__iframe"
                        src="https://www.youtube.com/watch?v=2DiDYTPUvXs"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>

                <div class="Faqs">
                    <div data-js="cmp-faq">

                        <div tabindex="0" data-js="faq" class="Faq">
                            <div class="Faq__header">
                                <p class="FaqHeader__title Faq__title">
                                    pitanje 1
                                </p>
                                <span
                                    class="Faq__action"
                                    aria-hidden="true">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-plus" />
                            </svg>
                        </span>
                            </div>
                            <div class="Faq__body">
                                <p>
                                    odgovor 1
                                </p>
                            </div>
                        </div>

                        <div tabindex="0" data-js="faq" class="Faq is-collapsed">
                            <div class="Faq__header">
                                <p class="FaqHeader__title Faq__title">
                                    pitanje 2
                                </p>
                                <span
                                    class="Faq__action"
                                    aria-hidden="true">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-plus" />
                            </svg>
                        </span>
                            </div>
                            <div class="Faq__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, eaque eius eos error fugit magni minus nulla ut voluptate voluptatibus. Ab amet distinctio dolor hic neque perspiciatis quod saepe veritatis.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, eaque eius eos error fugit magni minus nulla ut voluptate voluptatibus. Ab amet distinctio dolor hic neque perspiciatis quod saepe veritatis.</p>
                            </div>
                        </div>

                        <div tabindex="0" data-js="faq" class="Faq is-collapsed">
                            <div class="Faq__header">
                                <p class="FaqHeader__title Faq__title">Kako mogu sudjelovati u programu Erasmus+?</p>
                                <span
                                    class="Faq__action"
                                    aria-hidden="true">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-plus" />
                            </svg>
                        </span>
                            </div>
                            <div class="Faq__body">
                                <ul>
                                    <li>Pronađite se u nekoj od nekoliko ključnih aktivnosti programa Erasmus+</li>
                                    <li>Dogovorite s kolegama iz ustanove što želite unaprijediti i na kojoj temi želite raditi.</li>
                                    <li>Proučite rokove za prijavu</li>
                                    <li>Prijavite se</li>
                                </ul>

                                <ol>
                                    <li>Pronađite se u nekoj od nekoliko ključnih aktivnosti programa Erasmus+</li>
                                    <li>Dogovorite s kolegama iz ustanove što želite unaprijediti i na kojoj temi želite raditi.</li>
                                    <li>Proučite rokove za prijavu</li>
                                    <li>Prijavite se</li>
                                </ol>

                                <a href="/" class="Button Button--tertiary" title="Prijavite se">Prijavite se</a>

                                <p>
                                    odgovor 3
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <ul>
                    <li>potvrdu o preboljenju COVID-19 i primitku jedne doze cjepiva unutar šest mjeseci od početka bolesti, s tim da cijepljenje mora biti provedeno prije manje od 180 dana od dolaska na granični prijelaz;</li>
                    <li>predočenje pozitivnog PCR ili brzog antigenskog testa, kojim se potvrđuje da se vlasnik oporavio od infekcije virusom SARS-CoV-2, pri čemu je taj test napravljen unazad 180 dana, a stariji od 11 dana od dana dolaska na granični prijelaz ili uz predočenje liječničke potvrde o preboljenu;</li>
                    <li>ili obaviti PCR testiranje ili brzo antigensko testiranje - BAT na SARS-CoV-2 odmah po dolasku u Republiku Hrvatsku (o vlastitom trošku), uz obvezu samoizolacije do prispijeća negativnog nalaza. U slučaju nemogućnosti testiranja određuje se mjera samoizolacije u trajanju od deset (10) dana.</li>
                </ul>

                <p>Održavat će se i europski paneli građana i građanki na kojima će se raspravljati o različitim temama. Bit će reprezentativni u pogledu zemljopisnog podrijetla, roda, dobi, socioekonomskog podrijetla i/ili razine obrazovanja.</p>
                <p class="img img--full-width">
                    <img src="<%= require('../images/image.jpg?v=1')%>" alt="">
                </p>

                <div class="Tabs" data-js="cmp-tabs">

                    <div class="Tabs__trigger-container">
                        <div class="Tab Tab--active-tab"></div>
                        <button type="button" class="Tabs__trigger">
                            <svg class="icon-container">
                                <use xlink:href="#icon-menu" />
                            </svg>
                        </button>
                    </div>

                    <aside class="Tabs__aside">
                        <ul>
                            <li class="Tab">
                                <a href="#section-1">
                                    <span class="Tab__title">Odgoj i opće obrazovanje</span>
                                    <span class="Tab__subtitle">za učenike, osoblje i odgojno-obrazovne ustanove</span>
                                </a>
                            </li>

                            <li class="Tab">
                                <a href="#section-2">
                                    <span class="Tab__title">strukovno obrazovanje i osposobljavanje</span>
                                    <span class="Tab__subtitle">za učenike, vježbenike, pripravnike, osoblje, škole i poduzeća</span>
                                </a>
                            </li>

                            <li class="Tab">
                                <a href="#section-3">
                                    <span class="Tab__title">visoko obrazovanje</span>
                                    <span class="Tab__subtitle">za studente, osoblje, visoka učilišta i poduzeća</span>
                                </a>
                            </li>

                            <li class="Tab">
                                <a href="#section-4">
                                    <span class="Tab__title">obrazovanje odraslih</span>
                                    <span class="Tab__subtitle">za odrasle učenike, osoblje, ustanove i poduzeća</span>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <section class="Tabs__body">
                        <section id="section-1">
                            <h2>Visoko obrazovanje</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In risus nulla, ornare non turpis pellentesque, molestie consectetur velit. Sed iaculis elit quis orci molestie placerat. Mauris sit amet ante eu lacus ultricies lacinia. Morbi in leo nunc. Integer hendrerit sit amet odio quis molestie. Nulla id aliquet velit. Donec at dolor volutpat, eleifend elit sit amet, vestibulum nibh.
                            </p>
                            <ul>
                                <li>Vestibulum a nibh id enim laoreet pulvinar</li>
                                <li>Sed rhoncus tempus tincidunt. Maecenas a scelerisque diam</li>
                                <li>Quisque rhoncus eros nibh, quis accumsan risus placerat nec</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.
                                <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.
                            </p>

                            <a href="/" class="Button Button--tertiary">Saznaj više</a>
                        </section>

                        <section id="section-2">
                            <h2>Section 2</h2>
                            <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>
                        </section>

                        <section id="section-3">
                            <h2>Section 3</h2>
                            <p>Phasellus ac tristique orci. Nulla maximus
                                <a href="">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida,
                                <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.
                            </p>
                        </section>

                        <section id="section-4">
                            <h2>Section 4</h2>
                            <p>Nam luctus, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. </p>
                        </section>
                    </section>
                </div>

                <p>Središnje mjesto za sve ove aktivnosti - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična digitalna platforma Konferencija o budućnosti Europe.</p>

                <figure>
                    <img src="<%= require('../images/image.jpg?v=1')%>" alt="">
                    <figcaption>lorem ipsum dolor sit amet!</figcaption>
                </figure>

                <p>Sudjelovati mogu svi europski građani i građanke, a središnju ulogu imaju mladi. Također pojedinci
                   i organizacije - europska, nacionalna, regionalna i lokalna tijela, kao i civilno društvo i druge organizacije mogu se ako žele uključiti organizacijom događanja. Središnje mjesto za sve ove aktivnosti - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična digitalna platforma Konferencija o budućnosti Europe.</p>

                <p>Održavat će se i europski paneli građana i građanki na kojima će se raspravljati o različitim temama. Bit će reprezentativni u pogledu zemljopisnog podrijetla, roda, dobi, socioekonomskog podrijetla i/ili razine obrazovanja.
                </p>

                <p>
                    <strong>Središnje mjesto za sve ove aktivnosti</strong> - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična
                    <a href="/" title="title">digitalna platforma Konferencija o budućnosti Europe.</a>
                </p>

                <blockquote>
                    <div class="Blockquote__content">
                        <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje.</p>
                    </div>
                    <div class="Blockquote__author">
                        <span><strong>Marko Marković</strong></span>
                        <span>Agencija za mobilnost i programe EU</span>
                    </div>
                </blockquote>

                <div class="Blockquote">
                    <div class="Blockquote__content">
                        <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje.</p>
                    </div>
                    <div class="Blockquote__author">
                        <span><strong>Marko Marković</strong></span>
                        <span>Agencija za mobilnost i programe EU</span>
                    </div>
                </div>

                <div class="Sidebar" data-js="cmp-sidebar">
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Kako sudjelovati</span>
                                </a>
                            </p>
                            <button
                                class="Sidebar__action">
                                <svg class="icon-container icon-1.5x">
                                    <use xlink:href="#icon-arrow-down" />
                                </svg>
                            </button>
                        </div>
                        <div class="Sidebar__body">
                            <ul>
                                <li>
                                    <a href="/" title="Natječajna dokumentacija 2021.">
                                        <span>Natječajna dokumentacija 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Potpora pri prijavi 2021.">
                                        <span>Potpora pri prijavi 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Provedba projekata 2021.">
                                        <span>Provedba projekata 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Arhiva prošlogodišnjih natječaja">
                                        <span>Arhiva prošlogodišnjih natječaja</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Mobilnost studenata</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Stručna praksa</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Mobilnost osoblja</span>
                                </a>
                            </p>
                            <button
                                class="Sidebar__action">
                                <svg class="icon-container icon-1.5x">
                                    <use xlink:href="#icon-arrow-down" />
                                </svg>
                            </button>
                        </div>
                        <div class="Sidebar__body">
                            <ul>
                                <li>
                                    <a href="/" title="Natječajna dokumentacija 2021.">
                                        <span>Natječajna dokumentacija 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Potpora pri prijavi 2021.">
                                        <span>Potpora pri prijavi 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Provedba projekata 2021.">
                                        <span>Provedba projekata 2021.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="Arhiva prošlogodišnjih natječaja">
                                        <span>Arhiva prošlogodišnjih natječaja</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Strateška partnerstva</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Suradnja s partnerskim državama</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>TCA - Aktivnosti transnacionalne suradnje</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Udruživanja znanja</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Erasmus Mundus združeni diplomski studiji</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                        <div class="Sidebar__header">
                            <p class="SidebarHeader__title Sidebar__title">
                                <a href="/" title="Kako sudjelovati">
                                    <span>Erasmus+: Jean Monnet</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <p>Plenarna skupština se sastoji od predstavnika i predstavnica iz Europskog parlamenta, Vijeća i Europske komisije, kao i iz svih nacionalnih parlamenata koji će biti ravnopravno zastupljeni te građana i građanki. Odbor regija, Gospodarski i socijalni odbor, socijalni partneri i civilno društvo također će biti zastupljeni. U rasprave o međunarodnoj ulozi EU-a bit će uključen visoki predstavnik Unije za vanjske poslove i sigurnosnu politiku. Mogu biti pozvani predstavnici i predstavnice ključnih dionika. Izvršni odbor sastavljat će i objavljivati zaključke plenarne skupštine konferencije.</p>

                <h2>Preuzmite dokumente</h2>

                <div class="Document Document--offset">
                    <div class="Document__header">
                        <p class="Document__title">
                            <a
                                href="<%= require('../images/image.jpg?v=1')%>"
                                title="Vodič kroz program Erasmus+ (EN)"
                                download="Vodič kroz program Erasmus+ (EN)">
                                Vodič kroz program Erasmus+ (EN)
                            </a>
                        </p>
                        <span class="Document__meta">.pdf, 2.30MB, 04.07.2021.</span>
                    </div>
                    <div class="Document__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pelle ntesque sem quis nulla placerat malesuada.</p>
                    </div>
                </div>

                <div class="Document">
                    <div class="Document__header">
                        <p class="Document__title">
                            <a
                                href="<%= require('../images/image.jpg?v=1')%>"
                                title="Vodič kroz program Erasmus+ (EN)"
                                download>
                                Vodič kroz program Erasmus+ (EN)
                            </a>
                        </p>
                        <span class="Document__meta">.pdf, 2.30MB, 04.07.2021.</span>
                    </div>
                    <div class="Document__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pelle ntesque sem quis nulla placerat malesuada.</p>
                    </div>
                </div>

                <p><a href="#" title="title">#TheFutureIsYours</a></p>

            </div>

            <div class="Article__footer">
                <div class="Article__meta">
                    <span class="Article__meta-pubdate">
                        Objavljeno:
                        <time datetime="2021-04-12">12.04.2021.</time> /
                        Zadnje ažurirano:
                        <time datetime="2021-04-20">20.04.2021.</time>
                    </span>
                </div>
            </div>
        </article>
    </section>
    <aside class="NewsItems">
        <div class="container">
            <div class="NewsItems__header">
                <h2 class="NewsItems__title">Vezane vijesti</h2>
            </div>

            <div class="NewsItems__list NewsItems__list--four-items">

                <div class="NewsItem NewsItem--small">
                    <a href="/" title="title" class="NewsItem__link">
                        <div class="NewsItem__image">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/news-item-image.png')%>"
                                width="260"
                                height="174"
                                alt="alt">
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__meta">
                            <span>
                                <strong>Natječaj</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                            </p>
                            <p class="NewsItem__title">
                                Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                            </p>
                            <p class="NewsItem__info">
                                <strong>Rok: 23.09.2021.</strong>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="NewsItem NewsItem--small">
                    <a href="/" title="title" class="NewsItem__link">
                        <div class="NewsItem__image">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/news-item-image.png')%>"
                                width="260"
                                height="174"
                                alt="alt">
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__meta">
                            <span>
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                            </p>
                            <p class="NewsItem__title">
                                Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                            </p>
                            <p class="NewsItem__info">
                                <strong>Rok: 23.09.2021.</strong>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="NewsItem NewsItem--small">
                    <a href="/" title="title" class="NewsItem__link">
                        <div class="NewsItem__image">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/news-item-image.png')%>"
                                width="260"
                                height="174"
                                alt="alt">
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__title">
                                Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                            </p>
                        </div>
                    </a>
                </div>
                <div class="NewsItem NewsItem--small">
                    <a href="/" title="title" class="NewsItem__link">
                        <div class="NewsItem__image">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/news-item-image.png')%>"
                                width="260"
                                height="174"
                                alt="alt">
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__title">
                                Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </aside>
</main>

<footer class="Footer">
    <div class="Footer__container">
        <div class="Footer__section Footer__section--upper">
            <div class="Footer__block">
                <div class="Footer__section-header Footer__section-header--primary">
                    <p class="title">Trebaš pomoć</p>
                    <span class="subtitle">Reci nam kako ti možemo pomoći</span>
                </div>

                <a href="/" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-mail" />
                    </svg>
                    <span>Pošalji email</span>
                </a>

                <a href="/" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-download" />
                    </svg>
                    <span>Preuzmi publikacije</span>
                </a>
            </div>
            <div class="Footer__block">
                <div class="Footer__section-header Footer__section-header--secondary">
                    <p class="title">Agencija za mobilnost i programe EU</p>
                    <span class="subtitle">Adresa i kontakt</span>
                </div>
                <div class="Footer__info">
                    <p>
                        <a href="https://goo.gl/maps/P7hFuKvTkjV2NNVa9" title="title">
                            Frankopanska 26, Zgrada Leksikografskog zavoda Miroslav Krleža, HR - 10000 Zagreb
                        </a>
                    </p>
                    <p>
                        <a
                            href="tel:+385015556498"
                            title="+385 (0) 1 5556 498">
                            Tel: +385 (0) 1 5556 498
                        </a>
                        <br>
                        <a
                            href="mailto:info@mobilnost.hr"
                            title="info@mobilnost.hr">
                            e-mail: <strong>info@mobilnost.hr</strong>
                        </a>
                    </p>

                    <p>OIB: 25385906011</p>
                </div>
            </div>
            <div class="Footer__block">
                <nav class="Nav Nav--column Footer__nav">
                    <ul class="Nav__list">
                        <li><a href="/" title="Naslovnica"><span>Naslovnica</span></a></li>
                        <li><a href="/" title="Novosti"><span>Novosti</span></a></li>
                        <li><a href="/" title="Programi"><span>Programi</span></a></li>
                        <li><a href="/" title="Natječaj"><span>Natječaj</span></a></li>
                        <li><a href="/" title="O nama"><span>O nama</span></a></li>
                    </ul>
                </nav>

                <div class="Footer__block-info">
                    <a
                        href="/"
                        title="Sufinancira europska unija"
                        rel="noreferrer noopener">
                        <img
                            loading="lazy"
                            decoding="async"
                            src="<%= require('../images/sufinancira-europska-unija.png')%>"
                            width="160"
                            height="42"
                            alt="alt title">
                    </a>
                </div>
            </div>
        </div>
        <div class="Footer__section Footer__section--lower">
            <div class="Socials">
                <ul class="Socials__list">
                    <li>
                        <a href="/" title="Facebook">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/svg/social/icon-facebook.svg')%>"
                                width="32"
                                height="32"
                                alt="Facebook social icon">
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Youtube">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/svg/social/icon-youtube.svg')%>"
                                width="32"
                                height="32"
                                alt="Youtube social icon">
                        </a>
                    </li>
                    <li>
                        <a href="/" title="LinkedIn">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/svg/social/icon-linkedin.svg')%>"
                                width="32"
                                height="32"
                                alt="LinkedIn social icon">
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Instagram">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/svg/social/icon-instagram.svg')%>"
                                width="32"
                                height="32"
                                alt="Instagram social icon">
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Twitter">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="<%= require('../images/svg/social/icon-twitter.svg')%>"
                                width="32"
                                height="32"
                                alt="Twitter social icon">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="Footer__address-block">
                <div class="Footer__address-navigation">
                    <nav class="Nav Nav--row Nav--small">
                        <ul class="Nav__list">
                            <li><a href="/" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                            <li><a href="/" title="Zaštita privatnosti"><span>Zaštita privatnosti</span></a>
                            </li>
                            <li><a href="/"
                                   title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                            <li><a href="/" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                        </ul>
                    </nav>
                    <p>© AMPEU, 2021.</p>
                </div>
                <div class="Footer__address-colophone">
                    <p>Ova mrežna stranica je ostvarena uz financijsku potporu Europske komisije. Ona izražava isključivo stajalište autora publikacije i Komisija se ne može smatrati odgovornom pri upotrebi informacija koje se u njoj nalaze.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
