<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ampeu</title>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<a class="skip-main" href="#main">Prijeđi na glavni sadržaj</a>

<!-- SVG Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-menu" viewBox="0 0 28 16">
        <g fill="currentColor">
            <path d="m0 14h20v2h-20z" />
            <path d="m0 7h24v2h-24z" />
            <path d="m0 0h28v2h-28z" />
        </g>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 22 22">
        <rect y="20.192" width="28" height="2" transform="rotate(-45 0 20.1924)" fill="currentColor" />
        <rect x="1.414" y=".393" width="28" height="2" transform="rotate(45 1.41418 0.393311)" fill="currentColor" />
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 10.99L4 6H20ZM12 13L4 8V18H20V8L12 13Z" fill="#currentColor" />
        </g>
    </symbol>
    <symbol id="icon-download" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6C3.79 18 2 16.21 2 14C2 11.95 3.53 10.24 5.56 10.03L6.63 9.92L7.13 8.97C8.08 7.14 9.94 6 12 6C14.62 6 16.88 7.86 17.39 10.43L17.69 11.93L19.22 12.04C20.78 12.14 22 13.45 22 15C22 16.65 20.65 18 19 18ZM10.55 10H13.45V13H16L12 17L8 13H10.55V10Z" fill="currentColor" />
        </g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 30 30">
        <path d="M23.75 16.25H16.25V23.75H13.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25Z"
              fill="currentColor" />
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 24 24">
        <path d="M3 11H21V13H3V11Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 24 24">
        <path d="M7.41 15.705L12 11.125L16.59 15.705L18 14.295L12 8.29496L6 14.295L7.41 15.705Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M16.59 8.29504L12 12.875L7.41 8.29504L6 9.70504L12 15.705L18 9.70504L16.59 8.29504Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 22 20">
        <path
            d="M10.9997 16.6665L12.2922 15.4915L7.17718 10.8332L18.333 10.8332V9.1665L7.17718 9.1665L12.2922 4.50817L10.9997 3.33317L3.66634 9.99984L10.9997 16.6665Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 22 20">
        <path
            d="M11.0003 3.3335L9.70783 4.5085L14.8228 9.16683H3.66699V10.8335H14.8228L9.70783 15.4918L11.0003 16.6668L18.3337 10.0002L11.0003 3.3335Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-search" viewBox="0 0 50 50">
        <path d="M 21 3 C 11.622998 3 4 10.623005 4 20 C 4 29.376995 11.622998 37 21 37 C 24.712383 37 28.139151 35.791079 30.9375 33.765625 L 44.085938 46.914062 L 46.914062 44.085938 L 33.886719 31.058594 C 36.443536 28.083 38 24.223631 38 20 C 38 10.623005 30.377002 3 21 3 z M 21 5 C 29.296122 5 36 11.703883 36 20 C 36 28.296117 29.296122 35 21 35 C 12.703878 35 6 28.296117 6 20 C 6 11.703883 12.703878 5 21 5 z"/>
    </symbol>
</svg>
<!-- EOF SVG Symbols -->

<header
    class="Header Header--isFixed Header--isOpen"
    data-js="cmp-header">
    <div
        class="Header__container"
        data-js="main-navigation-mobile"
    >
        <div class="Header__container-inner">

            <div class="Header__logo Logo Logo--app-homepage">
                <!-- <a href="/" title="Go to homepage" class="Logo__content"> -->
                <h1 class="Logo__content">
                    <img
                        src="<%= require('../images/svg/ampeu-logo.svg') %>"
                        alt="Logo Agencija za mobičnost i programe EU">
                    <span class="sr-only">Agencija za mobilnost i programe EU</span>
                </h1>
            </div>

            <div class="Header__trigger-container ml-auto">
                <button
                    class="Header__trigger"
                    data-js="cmp-menu-trigger"
                    aria-expanded="false"
                    aria-controls="main-menu"
                >
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu" />
                    </svg>
                </button>
            </div>

            <div class="Header__group">
                <div class="Header__group-inner Header__group-inner--space-evenly">
                    <nav
                        class="Nav Nav--header"
                        role="navigation"
                        data-js="cmp-mobile-navigation"
                        aria-label="Main Site Navigation">
                        <ul
                            id="main-menu"
                            class="Nav__list Nav__list--parent"
                            role="menubar"
                            aria-label="Main Site Navigation">
                            <li role="none" class="active-link active-dropdown has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>Programi</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none" class="active-link">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="none">
                                <a role="menuitem" href="/" title="title"><span>Natječaji</span></a>
                            </li>
                            <li role="none" class="has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>Novosti</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="none" class="has-mobile-dropdown">
                                <a role="menuitem" href="/" title="title"><span>O nama</span></a>
                                <ul
                                    class="Nav__nested"
                                    role="menubar"
                                    aria-label="Main Site Navigation submenu">
                                    <li role="none">
                                        <a href="/" title="Natječajna dokumentacija 2021.">
                                            <span>Natječajna dokumentacija 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Potpora pri prijavi 2021.">
                                            <span>Potpora pri prijavi 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Provedba projekata 2021.">
                                            <span>Provedba projekata 2021.</span>
                                        </a>
                                    </li>
                                    <li role="none">
                                        <a role="menuitem" href="/" title="Arhiva prošlogodišnjih natječaja">
                                            <span>Arhiva prošlogodišnjih natječaja</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <div
                        class="Header__extra"
                        data-js="cmp-extra">
                        <div class="Header__extra-inner">

                            <div class="PageSettings" data-js="cmp-page-settings">
                                <div class="PageSettings__block PageSettings__block--top">
                                    <span tabindex="0"
                                          title="Prilagodba stranice"
                                          class="PageSettings__trigger"
                                          data-js="cmp-page-setting-toggle"
                                    >
                                        Prilagodba stranice
                                    </span>
                                    <button
                                        class="PageSettings__close-trigger"
                                        data-js="cmp-page-setting-close">
                                        <svg class="icon-container">
                                            <use xlink:href="#icon-close"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div
                                    class="PageSettings__block-group"
                                    data-js="cmp-page-settings-menu">
                                    <div class="PageSettings__block" data-js="cmp-settings-font-color">
                                        <ul>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-color-black"
                                title="Crna slova">Crna slova</span>
                                            </li>
                                            <li>
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-color-light"
                                                    title="Crna slova">Bijela slova</span>
                                            </li>
                                            <li class="active">
                            <span
                                tabindex="0"
                                data-settings="font-color-default"
                                title="Zadane boje">Zadane boje</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PageSettings__block" data-js="cmp-settings-font-size">
                                        <ul>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-size-decrement"
                                title="Manja slova">Manja slova</span>
                                            </li>
                                            <li>
                            <span
                                tabindex="0"
                                data-settings="font-size-increment"
                                title="Veća slova">Veća slova</span>
                                            </li>
                                            <li class="active">
                            <span
                                tabindex="0"
                                data-settings="font-size-default"
                                title="Zadana slova">Zadana slova</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PageSettings__block" data-js="cmp-settings-font-family">
                                        <ul>
                                            <li>
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-family-dyslexia"
                                                    title="Font za disleksiju">Font za disleksiju</span>
                                            </li>
                                            <li class="active">
                                                <span
                                                    tabindex="0"
                                                    data-settings="font-family-default"
                                                    title="Zadani font">Zadani Font</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <a href="/" class="LanguageMenu"
                               title="Change to EN language, ali kako, gdje je dizajn/specka?">en</a>
                        </div>
                    </div>
                </div>

                <button
                    class="Header__desktop-trigger"
                    data-js="cmp-desktop-menu-trigger"
                    aria-expanded="false"
                    aria-controls="main-menu-desktop"
                >
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="Header__menu" data-js="cmp-desktop-menu">
        <div class="container">
            <div class="Header__menu-inner-container">
                <div class="Header__menu-body Header__menu-body--two-items">
                    <div class="Header__menu-block">
                        <a href="/" title="Programi"><span>Programi</span></a>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Novosti"><span>Novosti</span></a>
                    </div>
                </div>
                <div class="Header__menu-body Header__menu-body--three-items">
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>Natječaji</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 1</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 2</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 3</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 4</span></a>
                            </li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Otvoreni natječaj broj 5</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>Programi</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Erasmus+</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Aktivni program broj 2</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Aktivni program broj 3</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Arhiva programa</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Erasmus+</span></a></li>
                        </ul>
                    </div>
                    <div class="Header__menu-block">
                        <a href="/" title="Natječaji"><span>O nama</span></a>
                        <ul>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Upravno vijeće</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Kontakti</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Zaposli se u agenciji</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Objave za medije</span></a></li>
                            <li><a href="" title="Otvoreni natječaj broj 1"><span>Istraživanje i analize o radu
                                                                              agencije</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="Header__menu-footer">
                    <p>Pravne informacije</p>
                    <ul class="Nav">
                        <li><a href="" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                        <li><a href="" title="Zaštita privatnosti"><span>Zaštita privatnosti</span></a></li>
                        <li><a href="" title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                        <li><a href="" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<main id="main">
    <section class="container">
        <section
            data-js="cmp-layout-sidebar"
            data-option-show-mobile
            class="Content Layout Layout--sidebar">

            <aside class="Content__aside" aria-expanded="true">
                <!-- Content goes here -->
                <form class="FilterAction" action="">
                    <div class="FilterAction__block">

                        <p class="FilterAction__title">Unesi pretragu</p>

                        <div class="FilterAction__search">
                            <input
                                type="text"
                                name="q"
                                value=""
                                placeholder="Traži"
                                class="text"
                            />
                            <button class="Button Button--small Button--secondary">
                                <svg class="icon-container icon-1.5x">
                                    <use xlink:href="#icon-search" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="FilterAction__block">

                        <p class="FilterAction__title">Ja sam</p>

                        <div>
                            <label class="RadioPill">
                                <input type="radio" name="group1" value="Javascript" />
                                <span>Pojedinac</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="group1" value="Javascript" />
                                <span>Ustanova</span>
                            </label>
                        </div>
                    </div>

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanimaju me područja</p>

                        <div>
                            <label class="RadioPill">
                                <input type="radio" name="obrazovanje" value="obrazovanje" />
                                <span>Obrazovanje</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="sport" value="sport" />
                                <span>Sport</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="osposobljavanje" value="osposobljavanje" />
                                <span>Osposobljavanje</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="eu_integracije" value="Javascript" />
                                <span>EU Integracije</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="mobilnost" value="mobilnost" />
                                <span>Mobilnost</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="volontiranje" value="volontiranje" />
                                <span>Volontiranje</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="razmjena_mladih" value="Razmjena mladih" />
                                <span>Razmjena mladih</span>
                            </label>
                        </div>
                    </div>

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanimaju me sadržaji</p>

                        <div>
                            <label class="RadioPill">
                                <input type="radio" name="group2" value="Programi" />
                                <span>Programi</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="group2" value="Natječaji" />
                                <span>Natječaji</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="group2" value="Informacije" />
                                <span>Informacije</span>
                            </label>
                            <label class="RadioPill">
                                <input type="radio" name="group2" value="Novosti" />
                                <span>Novosti</span>
                            </label>
                        </div>
                    </div>
                </form>
            </aside>

            <section class="Content__section">
                <!-- Content goes here -->
                <article class="Article Article--no-padding">
                    <header class="Article__header">
                        <nav class="Breadcrumbs Breadcrumbs--blue">
                            <ul>
                                <li><a href="/">Naslovnica</a></li>
                            </ul>
                        </nav>
                        <h1 class="PageHeader__primary">Pronađi sve za sebe</h1>
                    </header>
                </article>

                <div class="FilterResults">
                    <ul class="FilterResults__list FilterResults__list--grid">
                        <li class="columns-2">
                            <div class="SpecialItem SpecialItem--primary">
                                <a href="/" title="link title" class="SpecialItem__link">
                                    <div class="SpecialItem__image">
                                        <img loading="lazy" decoding="async" src="/images/special-item-wide.jpg" width="560" height="373" alt="alternativni tekst za fotku, za waia aria bitno je da je opis deskriptivan, odnosno da opisuje fotografiju/grafiku">
                                    </div>

                                    <div class="SpecialItem__content">
                                        <span class="SpecialItem__meta">Program</span>
                                        <p class="SpecialItem__title">
                                            Erasmus+
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="SpecialItem SpecialItem--primary">
                                <a href="/" title="link title" class="SpecialItem__link">
                                    <div class="SpecialItem__image">
                                        <img loading="lazy" decoding="async" src="/images/special-item.jpg" width="460" height="373" alt="alternativni tekst za fotku, za waia aria bitno je da je opis deskriptivan, odnosno da opisuje fotografiju/grafiku">
                                    </div>

                                    <div class="SpecialItem__content">
                                        <span class="SpecialItem__meta">Program</span>
                                        <p class="SpecialItem__title">
                                            Erasmus+
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="SpecialItem SpecialItem--tertiary">
                                <a href="/" title="link title" class="SpecialItem__link">
                                    <p class="SpecialItem__title">Želim sudjelovati u EU projektu</p>
                                    <div class="SpecialItem__image">
                                        <img loading="lazy" decoding="async" src="/images/special-item-small-illustration.png" width="163" height="130" alt="alternativni tekst za fotku, za waia aria bitno je da je opis deskriptivan, odnosno da opisuje fotografiju/grafiku">
                                    </div>

                                    <div class="SpecialItem__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec odio sem. Ut hendrerit est nec.</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="SpecialItem SpecialItem--tertiary">
                                <a href="/" title="link title" class="SpecialItem__link">
                                    <p class="SpecialItem__title">Želim sudjelovati u EU projektu</p>
                                    <div class="SpecialItem__image">
                                        <img loading="lazy" decoding="async" src="/images/special-item-small-illustration.png" width="163" height="130" alt="alternativni tekst za fotku, za waia aria bitno je da je opis deskriptivan, odnosno da opisuje fotografiju/grafiku">
                                    </div>

                                    <div class="SpecialItem__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec odio sem. Ut hendrerit est nec.</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="SpecialItem SpecialItem--tertiary">
                                <a href="/" title="link title" class="SpecialItem__link">
                                    <p class="SpecialItem__title">Želim sudjelovati u EU projektu</p>
                                    <div class="SpecialItem__image">
                                        <img loading="lazy" decoding="async" src="/images/special-item-small-illustration.png" width="163" height="130" alt="alternativni tekst za fotku, za waia aria bitno je da je opis deskriptivan, odnosno da opisuje fotografiju/grafiku">
                                    </div>

                                    <div class="SpecialItem__content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec odio sem. Ut hendrerit est nec.</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="/" title="title" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                        <img loading="lazy" decoding="async" src="/images/news-item-image.png" width="260" height="174" alt="alt">
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>Novosti</strong>,
                                <time datetime="2021-06-14">14.06.2021</time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            Poziv za podnošenje prijedloga za program Europske snage solidarnosti za 2021. godinu
                                        </p>
                                        <p class="NewsItem__info">
                                            <strong>Rok: 23.09.2021.</strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <section class="Pagination__container">
                        <nav class="Pagination is-centered" role="navigation">
                            <ul class="Pagination__list">
                                <li class="Pagination__list-element is-first">
                                    <a href="/" title="Go to previous page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-left"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 1">1</a>
                                </li>
                                <li class="Pagination__list-element is-active">
                                    <a href="/" title="Go to page 2">2</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 2">3</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Show other pages">...</a>
                                </li>
                                <li class="Pagination__list-element is-last">
                                    <a href="/" title="Go to next page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </section>

        </section>
    </section>
</main>

</body>
</html>
