<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ampeu</title>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Development styles -->
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            counter-reset: section;
        }

        section + section {
            margin-top: 5rem;
        }

        section > header {
            margin-bottom: 2rem;
        }

        .pt-section {
            display: inline-block;
            margin-top: 2rem !important;
            margin-bottom: 1rem !important;
            /*border-bottom: 2px solid black;*/
        }

        section > header > p::before {
            counter-increment: section; /* Increment the value of   section counter by 1 */
            content: counter(section) ": ";
        }

    </style>
</head>
<body>

<!-- SVG Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-menu" viewBox="0 0 28 16">
        <g fill="currentColor">
            <path d="m0 14h20v2h-20z" />
            <path d="m0 7h24v2h-24z" />
            <path d="m0 0h28v2h-28z" />
        </g>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 22 22">
        <rect y="20.192" width="28" height="2" transform="rotate(-45 0 20.1924)" fill="currentColor" />
        <rect x="1.414" y=".393" width="28" height="2" transform="rotate(45 1.41418 0.393311)" fill="currentColor" />
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 10.99L4 6H20ZM12 13L4 8V18H20V8L12 13Z" fill="#currentColor" />
        </g>
    </symbol>
    <symbol id="icon-download" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6C3.79 18 2 16.21 2 14C2 11.95 3.53 10.24 5.56 10.03L6.63 9.92L7.13 8.97C8.08 7.14 9.94 6 12 6C14.62 6 16.88 7.86 17.39 10.43L17.69 11.93L19.22 12.04C20.78 12.14 22 13.45 22 15C22 16.65 20.65 18 19 18ZM10.55 10H13.45V13H16L12 17L8 13H10.55V10Z" fill="currentColor" />
        </g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 30 30">
        <path d="M23.75 16.25H16.25V23.75H13.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25Z"
              fill="currentColor" />
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 24 24">
        <path d="M3 11H21V13H3V11Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 24 24">
        <path d="M7.41 15.705L12 11.125L16.59 15.705L18 14.295L12 8.29496L6 14.295L7.41 15.705Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M16.59 8.29504L12 12.875L7.41 8.29504L6 9.70504L12 15.705L18 9.70504L16.59 8.29504Z" fill="currentColor"/>
    </symbol>
</svg>
<!-- EOF SVG Symbols -->

<header
    class="Header Header--isFixed Header--isOpen"
    data-js="cmp-header">
    <div class="container">

        <div class="Header__container" data-js="main-navigation-mobile">

            <div class="Header__logo Logo Logo--homepage">
                <!-- <a href="/" title="Go to homepage" class="Logo__content"> -->
                <h1 class="Logo__content">
                    <img
                        src="<%= require('../images/svg/ampeu-logo.svg') %>"
                        alt="Logo Agencija za mobičnost i programe EU">
                    <span class="sr-only">Agencija za mobilnost i programe EU</span>
                </h1>
            </div>

            <div class="Header__group">
                <div class="Header__group-inner">
                    <nav class="Nav">
                        <ul class="Nav__list">
                            <li class="active"><a href="/" title="title"><span>Programi</span></a></li>
                            <li><a href="/" title="title"><span>Natječaji</span></a></li>
                            <li><a href="/" title="title"><span>Novosti</span></a></li>
                            <li><a href="/" title="title"><span>O nama</span></a></li>

                        </ul>
                    </nav>

                    <div class="Header__extra" data-js="cmp-extra">
                        <div class="Header__extra-inner">
                            <button
                                title="Šta ovo radi, gdje je dizjan/specka?"
                                class="SiteOptionsMenu">Prilagodba stranice
                            </button>
                            <a href="/" class="LanguageMenu"
                               title="Change to EN language, ali kako, gdje je dizajn/specka?">en</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Header__trigger-container">
                <button class="Header__trigger" data-js="cmp-menu-trigger">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>

<nav class="container">
    <ul>
        <li><a href="/intro-block.html" target="_blank">intro block</a></li>
        <li><a href="#footer">footer</a></li>
        <li><a href="#typography">typography</a></li>
        <li><a href="#breadcrumbs">bredcrumbs</a></li>
        <li><a href="#page-titles">page titles</a></li>
        <li><a href="#hero">hero</a></li>
        <li><a href="#article-document">article document</a></li>
    </ul>
</nav>

<br>
<br>

<main>
    <section>
        <header class="container">
            <p class="h2 pt-section"><a name="intro-block">Intro blocks</a></p>
        </header>

        <section class="IntroBlock" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--bg-blue-1" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--inverted" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--bg-blue-1 IntroBlock--inverted" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--bg-blue-2" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--bg-blue-3" data-js="cmp-intro-block">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Kroz različita područja</span>
                        <p class="IntroBlock__title">Erasmus+</p>
                    </div>
                    <div class="IntroBlock__image">
                        <img
                            loading="lazy"
                            src="<%= require('../images/intro-block/intro-block.jpg')%>"
                            width="660"
                            height="440"
                            alt="alt title">
                    </div>
                    <div class="IntroBlock__text">
                        <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                    </div>
                    <div class="IntroBlock__cta">
                        <a
                            href="/"
                            title="title"
                            class="Button">Saznaj više</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--wide">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Lorem ipsum dolor sit amet</span>
                        <p class="IntroBlock__title">Vodič kroz ostvarene prilike</p>
                    </div>
                    <div class="IntroBlock__text">
                        <p>Kako su nam programi Erasmus+ i Europske snage solidarnosti pomogli pretvoriti dobre ideje u projekte koji mijenjaju društvo nabolje</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--wide IntroBlock--bg-blue-1">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Lorem ipsum dolor sit amet</span>
                        <p class="IntroBlock__title">Vodič kroz ostvarene prilike</p>
                    </div>
                    <div class="IntroBlock__text">
                        <p>Kako su nam programi Erasmus+ i Europske snage solidarnosti pomogli pretvoriti dobre ideje u projekte koji mijenjaju društvo nabolje</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--wide IntroBlock--bg-blue-2">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Lorem ipsum dolor sit amet</span>
                        <p class="IntroBlock__title">Vodič kroz ostvarene prilike</p>
                    </div>
                    <div class="IntroBlock__text">
                        <p>Kako su nam programi Erasmus+ i Europske snage solidarnosti pomogli pretvoriti dobre ideje u projekte koji mijenjaju društvo nabolje</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="IntroBlock IntroBlock--wide IntroBlock--bg-blue-3">
            <div class="IntroBlock__container">
                <div class="IntroBlock__content">
                    <div class="IntroBlock__header">
                        <span class="IntroBlock__label">Lorem ipsum dolor sit amet</span>
                        <p class="IntroBlock__title">Vodič kroz ostvarene prilike</p>
                    </div>
                    <div class="IntroBlock__text">
                        <p>Kako su nam programi Erasmus+ i Europske snage solidarnosti pomogli pretvoriti dobre ideje u projekte koji mijenjaju društvo nabolje</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section>
        <header class="container">
            <p class="h2 pt-section"><a name="footer">Footer</a></p>
        </header>

        <footer class="Footer">
            <div class="Footer__container">
                <div class="Footer__section Footer__section--upper">
                    <div class="Footer__block">
                        <div class="Footer__section-header Footer__section-header--primary">
                            <p class="title">Trebaš pomoć</p>
                            <span class="subtitle">Reci nam kako ti možemo pomoći</span>
                        </div>

                        <a href="/" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-mail" />
                            </svg>
                            <span>Pošalji email</span>
                        </a>

                        <a href="/" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-download" />
                            </svg>
                            <span>Preuzmi publikacije</span>
                        </a>
                    </div>
                    <div class="Footer__block">
                        <div class="Footer__section-header Footer__section-header--secondary">
                            <p class="title">Agencija za mobilnost i programe EU</p>
                            <span class="subtitle">Adresa i kontakt</span>
                        </div>
                        <div class="Footer__info">
                            <p>
                                <a href="https://goo.gl/maps/P7hFuKvTkjV2NNVa9" title="title">
                                    Frankopanska 26, Zgrada Leksikografskog zavoda Miroslav Krleža, HR - 10000 Zagreb
                                </a>
                            </p>
                            <p>
                                <a
                                    href="tel:+385015556498"
                                    title="+385 (0) 1 5556 498">
                                    Tel: +385 (0) 1 5556 498
                                </a>
                                <br>
                                <a
                                    href="mailto:info@mobilnost.hr"
                                    title="info@mobilnost.hr">
                                    e-mail: <strong>info@mobilnost.hr</strong>
                                </a>
                            </p>

                            <p>OIB: 25385906011</p>
                        </div>
                    </div>
                    <div class="Footer__block">
                        <nav class="Nav Nav--column Footer__nav">
                            <ul class="Nav__list">
                                <li><a href="/" title="Naslovnica"><span>Naslovnica</span></a></li>
                                <li><a href="/" title="Novosti"><span>Novosti</span></a></li>
                                <li><a href="/" title="Programi"><span>Programi</span></a></li>
                                <li><a href="/" title="Natječaj"><span>Natječaj</span></a></li>
                                <li><a href="/" title="O nama"><span>O nama</span></a></li>
                            </ul>
                        </nav>

                        <div class="Footer__block-info">
                            <a
                                href="/"
                                title="Sufinancira europska unija"
                                rel="noreferrer noopener">
                                <img
                                    loading="lazy"
                                    decoding="async"
                                    src="<%= require('../images/sufinancira-europska-unija.png')%>"
                                    width="160"
                                    height="42"
                                    alt="alt title">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="Footer__section Footer__section--lower">
                    <div class="Socials">
                        <ul class="Socials__list">
                            <li>
                                <a href="/" title="Facebook">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        src="<%= require('../images/svg/social/icon-facebook.svg')%>"
                                        width="32"
                                        height="32"
                                        alt="Facebook social icon">
                                </a>
                            </li>
                            <li>
                                <a href="/" title="Youtube">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        src="<%= require('../images/svg/social/icon-youtube.svg')%>"
                                        width="32"
                                        height="32"
                                        alt="Youtube social icon">
                                </a>
                            </li>
                            <li>
                                <a href="/" title="LinkedIn">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        src="<%= require('../images/svg/social/icon-linkedin.svg')%>"
                                        width="32"
                                        height="32"
                                        alt="LinkedIn social icon">
                                </a>
                            </li>
                            <li>
                                <a href="/" title="Instagram">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        src="<%= require('../images/svg/social/icon-instagram.svg')%>"
                                        width="32"
                                        height="32"
                                        alt="Instagram social icon">
                                </a>
                            </li>
                            <li>
                                <a href="/" title="Twitter">
                                    <img
                                        loading="lazy"
                                        decoding="async"
                                        src="<%= require('../images/svg/social/icon-twitter.svg')%>"
                                        width="32"
                                        height="32"
                                        alt="Twitter social icon">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="Footer__address-block">
                        <div class="Footer__address-navigation">
                            <nav class="Nav Nav--row Nav--small">
                                <ul class="Nav__list">
                                    <li><a href="/" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                                    <li><a href="/" title="Zaštita privatnosti"><span>Zaštita privatnosti</span></a>
                                    </li>
                                    <li><a href="/"
                                           title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                                    <li><a href="/" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                                </ul>
                            </nav>
                            <p>© AMPEU, 2021.</p>
                        </div>
                        <div class="Footer__address-colophone">
                            <p>Ova mrežna stranica je ostvarena uz financijsku potporu Europske komisije. Ona izražava isključivo stajalište autora publikacije i Komisija se ne može smatrati odgovornom pri upotrebi informacija koje se u njoj nalaze.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section"><a name="typography">Typography</a></p>
        </header>

        <div>
            <h3>Heading</h3>
            <h1>Sve što te zanima o programu Erasmus+</h1>
            <h2>Sve što te zanima o programu Erasmus+</h2>
            <h3>Sve što te zanima o programu Erasmus+</h3>
            <h4>Sve što te zanima o programu Erasmus+</h4>
            <h5>Sve što te zanima o programu Erasmus+</h5>
            <h6>Sve što te zanima o programu Erasmus+</h6>
            <p class="h1">Sve što te zanima o programu Erasmus+</p>
            <p class="h2">Sve što te zanima o programu Erasmus+</p>
            <p class="h3">Sve što te zanima o programu Erasmus+</p>
            <p class="h4">Sve što te zanima o programu Erasmus+</p>
            <p class="h5">Sve što te zanima o programu Erasmus+</p>
            <p class="h6">Sve što te zanima o programu Erasmus+</p>
            <br>
            <h3>Title</h3>
            <h2 class="Title Title--small">Sve što te zanima o programu Erasmus+</h2>
            <p class="Title Title--small">Sve što te zanima o programu Erasmus+</p>
            <p class="Title Title--big">Pomažemo pretvoriti dobre ideje u uspješne projekte koji mijenjaju društvo nabolje.</p>
            <h1 class="Title Title--big">Pomažemo pretvoriti dobre ideje u uspješne projekte koji mijenjaju društvo nabolje.</h1>
            <br>
            <h3>Subtitle</h3>
            <p class="Subtitle Subtitle--small">Agencija za mobilnost i programe EU</p>
            <p class="Subtitle Subtitle--regular">Agencija za mobilnost i programe EU</p>
            <p class="Subtitle Subtitle--large">Agencija za mobilnost i programe EU</p>
            <br>
            <h3>Meta</h3>
            <p class="Meta Meta--small">Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i pružiti se smjernice o budućnosti Europe.</p>
            <p class="Meta Meta--regular">Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i pružiti se smjernice o budućnosti Europe.</p>
            <p class="Meta Meta--large">Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i pružiti se smjernice o budućnosti Europe.</p>
            <br>
            <h3>Text</h3>
            <br>
            <h4>Intro</h4>
            <div class="Text Text--intro">
                <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih
                   politika i prioriteta Europske unije sudjelovanjem u Konferenciji o
                   budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje
                   mišljenje čime se demokratski omogućuje svima da sudjeluju u kreiranju budućnosti Europe.</p></div>
            <br>
            <h4>Content</h4>
            <div class="Text Text--content">
                <p>Ovo je prigoda za sve pojedince da razmislite o tome kakvu budućnost žele za Europsku uniju i da o tome
                    <strong>iznesu mišljenje</strong> i daju prijedloge. Europski parlament, Vijeće i Europska komisija žel saslušati Europljane i Europljanke i na temelju dobivenih preporuGLOorake u okviru svojih nadležnosti. Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i
                    <strong>pružiti se smjernice o budućnosti Europe</strong>.</p>

                <p>Sudjelovati mogu svi europski građani i građanke, a središnju ulogu imaju mladi. Također pojedinci i organizacije - europska, nacionalna, regionalna i lokalna tijela, kao i civilno društvo i druge organizacije mogu se ako žele uključiti organizacijom događanja.</p>

                <p>Održavat će se i europski paneli građana i građanki na kojima će se raspravljati o različitim temama.
                   Bit će reprezentativni u pogledu zemljopisnog podrijetla, roda, dobi, socioekonomskog podrijetla i/ili razine obrazovanja.</p>
            </div>
            <br>
            <h4>Quote</h4>
            <div class="Text Text--quote">
                <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje čime se demokratski omogućuje svima da sudjeluju u kreiranju budućnosti Europe.</p>
                <blockquote>
                    Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje čime se demokratski omogućuje svima da sudjeluju u kreiranju budućnosti Europe.
                </blockquote>
                <q>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje čime se demokratski omogućuje svima da sudjeluju u kreiranju budućnosti Europe.</q>
            </div>
        </div>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section">Pills</p>
        </header>

        <div>
            <span class="Pill">Sport</span>
            <span class="Pill">Music</span>
            <div class="Pill">Programming</div>
            <div class="Pill">PHP</div>
            <a href="/" class="Pill">Javascript</a>
            <a href="/" class="Pill">C#</a>
            <a href="/" class="Pill active">C#</a>
        </div>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section">Buttons</p>
        </header>

        <div>
            <button class="Button Button--primary">Button</button>
            <button class="Button Button--secondary">Button</button>
            <button class="Button Button--tertiary">Button</button>
            <br>
            <a href="/" title="Saznaj više" class="Button Button--primary">Anchorn
                                                                                                        button</a>
            <a href="/" title="Saznaj više" class="Button Button--secondary">Anchorn button</a>
            <a href="/" title="Saznaj više" class="Button Button--tertiary">Anchorn button</a>
            <br>
            <button class="Button Button--primary" disabled>Disabled button</button>
            <button class="Button Button--secondary" disabled>Disabled button</button>
            <button class="Button Button--tertiary" disabled>Disabled button</button>
        </div>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section">Links</p>
        </header>

        <div>
            <p>Ovo je prigoda za sve pojedince da o tome <a href="/">iznesu mišljenje i daju prijedloge</a>.</p>
            <div>Ovo je prigoda za sve pojedince da o tome <a href="/">iznesu mišljenje i daju prijedloge</a>.</div>
            <span>Ovo je prigoda za sve pojedince da o tome <a href="/">iznesu mišljenje i daju prijedloge</a>.</span><br>
            Ovo je prigoda za sve pojedince da o tome <a href="/">iznesu mišljenje i daju prijedloge</a>.
        </div>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section"><a name="breadcrumbs">Breadcrumbs</a></p>
        </header>

        <nav class="Breadcrumbs Breadcrumbs--green">
            <ul>
                <li><a href="/">Level 1</a></li>
                <li><a href="/">Level 2</a></li>
                <li><a href="/">Level 3</a></li>
            </ul>
        </nav>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section"><a name="page-titles">Page titles</a></p>
        </header>

        <br>
        <header class="PageTitle">
            <nav class="Breadcrumbs Breadcrumbs--blue">
                <ul>
                    <li><a href="/">Level 1</a></li>
                    <li><a href="/">Level 2</a></li>
                    <li><a href="/">Level 3</a></li>
                </ul>
            </nav>
            <h1 class="PageHeader__primary">Erasmus+</h1>
        </header>

        <br>
        <header class="PageHeader">
            <nav class="Breadcrumbs Breadcrumbs--blue">
                <ul>
                    <li><a href="/">Level 1</a></li>
                    <li><a href="/">Level 2</a></li>
                    <li><a href="/">Level 3</a></li>
                </ul>
            </nav>
            <h1 class="PageHeader__secondary">Iznesite mišljenje i prijedloge i sudjelujte u kreiranju budućnosti
                                              Europe!</h1>
        </header>

        <br>
        <header class="SectionHeader">
            <p class="SectionHeader__title">Struktura programa</p>
            <p class="SectionHeader__subtitle">Kroz različita područja</p>
        </header>

        <header class="SectionHeader SectionHeader--small">
            <p class="SectionHeader__title">Trebaš pomoć?</p>
            <p class="SectionHeader__subtitle">Kroz različita područja</p>
        </header>
    </section>

    <section>
        <div class="container">
            <header>
                <p class="h2"><a name="hero">Hero</a></p>
            </header>
        </div>
        <br>

        <section class="Hero Hero--primary">
            <div class="Hero__container">
                <div class="Hero__content">
                    <div class="Hero__body">
                        <span class="Hero__label">Agencija za mobilnost i programe EU</span>
                        <h1 class="Hero__title">
                            Pomažemo pretvoriti dobre ideje u uspješne projekte koji <span
                            class="u-decoration u-decoration--big">mijenjaju</span> <span
                            class="u-decoration u-decoration--big">društvo</span> na bolje.
                        </h1>
                        <div class="Hero__cta">
                            <button class="Button Button--tertiary">Saznaj više</button>
                        </div>
                    </div>
                </div>
                <div class="Hero__image-container">
                    <figure>
                        <img
                            loading="lazy"
                            src="<%= require('../images/hero/hero-visual.png')%>"
                            width="1600"
                            height="1080"
                            alt="Hero visual description of image">
                    </figure>
                </div>
            </div>
        </section>

        <br>
        <br>

        <section
            class="Hero Hero--secondary"
            style="background-image: url(<%= require('../images/hero/hero-visual-2.jpg')%>)"
        >
            <div class="Hero__container">
                <div class="Hero__content">
                    <div class="Hero__body">
                        <nav class="Breadcrumbs Breadcrumbs--blue">
                            <ul>
                                <li><a href="/">Level 1</a></li>
                                <li><a href="/">Level 2</a></li>
                                <li><a href="/">Level 3</a></li>
                            </ul>
                        </nav>
                        <h1 class="Hero__title">Erasmus+</h1>
                        <div class="Hero__text">
                            <p>Erasmus+ je najveći program Europske unije za obrazovanje i osposobljavanje, mlade i sport koji već više od 30 godina obogaćuje živote i širi vidike milijunima građana svih generacija. Njegov proračun iznosi oko 26,2 milijarde eura.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="container">
        <header>
            <p class="h2 pt-section"><a name="article-document">Document</a></p>
        </header>

        <div>
            <div class="Document">
                <div class="Document__header">
                    <p class="Document__title">
                        <a href="/" title="Vodič kroz program Erasmus+ (EN)">Vodič kroz program Erasmus+ (EN)</a></p>
                    <span class="Document__meta">.pdf, 2.30MB, 04.07.2021.</span>
                </div>
                <div class="Document__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pelle ntesque sem quis nulla placerat malesuada.</p>
                </div>
            </div>

        </div>
    </section>
</main>
<br>
<br>
<br>
</body>
</html>
