<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ampeu - Landing page</title>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<a class="skip-main" href="#main">Prijeđi na glavni sadržaj</a>

<!-- SVG Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-menu" viewBox="0 0 28 16">
        <g fill="currentColor">
            <path d="m0 14h20v2h-20z" />
            <path d="m0 7h24v2h-24z" />
            <path d="m0 0h28v2h-28z" />
        </g>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 22 22">
        <rect y="20.192" width="28" height="2" transform="rotate(-45 0 20.1924)" fill="currentColor" />
        <rect x="1.414" y=".393" width="28" height="2" transform="rotate(45 1.41418 0.393311)" fill="currentColor" />
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 10.99L4 6H20ZM12 13L4 8V18H20V8L12 13Z" fill="#currentColor" />
        </g>
    </symbol>
    <symbol id="icon-download" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6C3.79 18 2 16.21 2 14C2 11.95 3.53 10.24 5.56 10.03L6.63 9.92L7.13 8.97C8.08 7.14 9.94 6 12 6C14.62 6 16.88 7.86 17.39 10.43L17.69 11.93L19.22 12.04C20.78 12.14 22 13.45 22 15C22 16.65 20.65 18 19 18ZM10.55 10H13.45V13H16L12 17L8 13H10.55V10Z" fill="currentColor" />
        </g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 30 30">
        <path d="M23.75 16.25H16.25V23.75H13.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25Z"
              fill="currentColor" />
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 24 24">
        <path d="M3 11H21V13H3V11Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 24 24">
        <path d="M7.41 15.705L12 11.125L16.59 15.705L18 14.295L12 8.29496L6 14.295L7.41 15.705Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M16.59 8.29504L12 12.875L7.41 8.29504L6 9.70504L12 15.705L18 9.70504L16.59 8.29504Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 22 20">
        <path
            d="M10.9997 16.6665L12.2922 15.4915L7.17718 10.8332L18.333 10.8332V9.1665L7.17718 9.1665L12.2922 4.50817L10.9997 3.33317L3.66634 9.99984L10.9997 16.6665Z" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 22 20">
        <path
            d="M11.0003 3.3335L9.70783 4.5085L14.8228 9.16683H3.66699V10.8335H14.8228L9.70783 15.4918L11.0003 16.6668L18.3337 10.0002L11.0003 3.3335Z" fill="currentColor" />
    </symbol>
</svg>
<!-- EOF SVG Symbols -->

<main id="main">
    <section class="Layout Layout--landing">
        <aside class="Program__aside Program__aside--landing" aria-expanded="true">

            <div class="Sidebar Sidebar--desktop-sticky" data-js="cmp-sidebar">

                <div class="ProgramAside__header">
                    <a href="/" title="Homepage" class="Logo__content Logo__content--sidebar">
                        <img
                            src="<%= require('../images/svg/ampeu-logo.svg') %>"
                            alt="Logo Agencija za mobičnost i programe EU">
                        <span class="sr-only">Agencija za mobilnost i programe EU</span>
                    </a>
                    <p class="ProgramAside__title">Vodič kroz ostvarene prilike</p>
                </div>

                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="#predgovor" title="Kako sudjelovati">
                                <span>Predgovor</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="#preuzmite-dokumente" title="Kako sudjelovati">
                                <span>Preuzmite dokumente</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="#strucna-praksa" title="Kako sudjelovati">
                                <span>Stručna praksa</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="#mobilnost-osoblja" title="Kako sudjelovati">
                                <span>Mobilnost osoblja</span>
                            </a>
                        </p>
                        <button
                            class="Sidebar__action">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-down" />
                            </svg>
                        </button>
                    </div>
                    <div class="Sidebar__body">
                        <ul>
                            <li>
                                <a href="#mobilnost-osoblja-natjecaj" title="Natječajna dokumentacija 2021.">
                                    <span>Natječajna dokumentacija 2021.</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>Strateška partnerstva</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>Suradnja s partnerskim državama</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>TCA - Aktivnosti transnacionalne suradnje</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>Udruživanja znanja</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>Erasmus Mundus združeni diplomski studiji</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="/" title="Kako sudjelovati">
                                <span>Erasmus+: Jean Monnet</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </aside>
        <div class="container-landing">
            <section>
                <div><img src="<%= require('../images/ostvarene-prilike-korice-web.jpg')%>" alt="" /></div>

                <div class="IntroBlock IntroBlock--wide IntroBlock--bg-blue-3 mb-4">
                    <div class="IntroBlock__container">
                        <div class="IntroBlock__content">
                            <div class="IntroBlock__header">
                                <span class="IntroBlock__label">Lorem ipsum dolor sit amet</span>
                                <p class="IntroBlock__title">Vodič kroz ostvarene prilike</p>
                            </div>
                            <div class="IntroBlock__text">
                                <p>Kako su nam programi Erasmus+ i Europske snage solidarnosti pomogli pretvoriti dobre ideje u projekte koji mijenjaju društvo nabolje</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <article class="Article Article--layout-wide Article--horizontal-padding">
                <div class="Article__content">
                    <p>Ovo je prigoda za sve pojedince da razmislite o tome kakvu budućnost žele za Europsku uniju i da o tome iznesu mišljenje i daju prijedloge. Europski parlament, Vijeće i Europska komisija žele saslušati Europljane i Europljanke i na temelju dobivenih preporuka poduzeti daljnje korake u okviru svojih nadležnosti. Očekuje se da će se u okviru konferencije do proljeća 2022. donijeti zaključci i pružiti se smjernice o budućnosti Europe.</p>

                    <h2>Ovo je nekakav podnaslov, h2 ofc</h2>

                    <p>Sudjelovati mogu svi europski građani i građanke, a središnju ulogu imaju mladi. Također pojedinci i organizacije - europska, nacionalna, regionalna i lokalna tijela, kao i civilno društvo i druge organizacije mogu se ako žele uključiti organizacijom događanja.</p>
                    <h2 id="strucna-praksa">Stručna praksa</h2>

                    <ul>
                        <li>potvrdu o preboljenju COVID-19 i primitku jedne doze cjepiva unutar šest mjeseci od početka bolesti, s tim da cijepljenje mora biti provedeno prije manje od 180 dana od dolaska na granični prijelaz;</li>
                        <li>predočenje pozitivnog PCR ili brzog antigenskog testa, kojim se potvrđuje da se vlasnik oporavio od infekcije virusom SARS-CoV-2, pri čemu je taj test napravljen unazad 180 dana, a stariji od 11 dana od dana dolaska na granični prijelaz ili uz predočenje liječničke potvrde o preboljenu;</li>
                        <li>ili obaviti PCR testiranje ili brzo antigensko testiranje - BAT na SARS-CoV-2 odmah po dolasku u Republiku Hrvatsku (o vlastitom trošku), uz obvezu samoizolacije do prispijeća negativnog nalaza. U slučaju nemogućnosti testiranja određuje se mjera samoizolacije u trajanju od deset (10) dana.</li>
                    </ul>

                    <p>Održavat će se i europski paneli građana i građanki na kojima će se raspravljati o različitim temama. Bit će reprezentativni u pogledu zemljopisnog podrijetla, roda, dobi, socioekonomskog podrijetla i/ili razine obrazovanja.</p>
                    <p>
                        <img src="<%= require('../images/image.jpg?v=1')%>" alt="">
                    </p>

                    <p>Središnje mjesto za sve ove aktivnosti - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična digitalna platforma Konferencija o budućnosti Europe.</p>

                    <figure>
                        <img src="<%= require('../images/image.jpg?v=1')%>" alt="">
                        <figcaption>lorem ipsum dolor sit amet!</figcaption>
                    </figure>

                    <h2 id="mobilnost-osoblja">Mobilnost osoblja</h2>

                    <p>Sudjelovati mogu svi europski građani i građanke, a središnju ulogu imaju mladi. Također pojedinci
                       i organizacije - europska, nacionalna, regionalna i lokalna tijela, kao i civilno društvo i druge organizacije mogu se ako žele uključiti organizacijom događanja. Središnje mjesto za sve ove aktivnosti - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična digitalna platforma Konferencija o budućnosti Europe.</p>

                    <h3 id="mobilnost-osoblja-natjecaj">Natječajna dokumentacija</h3>

                    <p>Održavat će se i europski paneli građana i građanki na kojima će se raspravljati o različitim temama. Bit će reprezentativni u pogledu zemljopisnog podrijetla, roda, dobi, socioekonomskog podrijetla i/ili razine obrazovanja.
                    </p>

                    <p>
                        <strong>Središnje mjesto za sve ove aktivnosti</strong> - iznošenje ideja, prijedloga, sudjelovanje u raspravama i prijavu događanja je višejezična
                        <a href="/" title="title">digitalna platforma Konferencija o budućnosti Europe.</a>
                    </p>

                    <blockquote>
                        <div class="Blockquote__content">
                            <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje.</p>
                        </div>
                        <div class="Blockquote__author">
                            <span><strong>Marko Marković</strong></span>
                            <span>Agencija za mobilnost i programe EU</span>
                        </div>
                    </blockquote>

                    <div class="Blockquote">
                        <div class="Blockquote__content">
                            <p>Europska unija poziva sve građane da se uključe u oblikovanje budućih politika i prioriteta Europske unije sudjelovanjem u Konferenciji o budućnosti Europe. Riječ je o digitalnoj platformi putem koje građani mogu iznijeti svoje mišljenje.</p>
                        </div>
                        <div class="Blockquote__author">
                            <span><strong>Marko Marković</strong></span>
                            <span>Agencija za mobilnost i programe EU</span>
                        </div>
                    </div>

                    <p>Plenarna skupština se sastoji od predstavnika i predstavnica iz Europskog parlamenta, Vijeća i Europske komisije, kao i iz svih nacionalnih parlamenata koji će biti ravnopravno zastupljeni te građana i građanki. Odbor regija, Gospodarski i socijalni odbor, socijalni partneri i civilno društvo također će biti zastupljeni. U rasprave o međunarodnoj ulozi EU-a bit će uključen visoki predstavnik Unije za vanjske poslove i sigurnosnu politiku. Mogu biti pozvani predstavnici i predstavnice ključnih dionika. Izvršni odbor sastavljat će i objavljivati zaključke plenarne skupštine konferencije.</p>

                    <h2 id="preuzmite-dokumente">Preuzmite dokumente</h2>

                    <div class="Document">
                        <div class="Document__header">
                            <p class="Document__title">
                                <a href="/images/image.278ca9f26070fc9c3e26765fad9e376a.jpg" title="Vodič kroz program Erasmus+ (EN)" download="Vodič kroz program Erasmus+ (EN)">
                                    Vodič kroz program Erasmus+ (EN)
                                </a>
                            </p>
                            <span class="Document__meta">.pdf, 2.30MB, 04.07.2021.</span>
                        </div>
                        <div class="Document__body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pelle ntesque sem quis nulla placerat malesuada.</p>
                        </div>
                    </div>

                </div>
                <h2 id="predgovor">Predgovor title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorum harum laboriosam optio placeat, quaerat ullam vel? A accusantium cumque dolorum esse eveniet iusto libero, nam nesciunt repellat voluptas. Ut!</p>
                <br>
                <br>
            </article>
        </div>
    </section>
</main>

</body>
</html>
