{% extends "_layout" %}
{% block content %}
{% set sectionHandlesByFirstSegment = {
    'natjecaji': 'natjecaji',
    'open-calls': 'natjecaji',
} %}
{% set sectionHandle = sectionHandlesByFirstSegment[craft.app.request.getSegment(1)] %}
{% set section = craft.app.sections.getSectionByHandle(sectionHandle) %}
{% paginate craft.entries.section(section).limit(30).orderBy('istaknuto desc, rok desc') as pageInfo, pageEntries %}
{{ include("_header.html") }}
<main>
    <aside class="NewsItems">
        <div class="container">
            <div class="NewsItems__header">
                <h2 class="NewsItems__title">
                    {% if currentSite.language == 'hr' %}Aktivni natječaji{% else %}Open Calls{% endif %}
                </h2>
            </div>

            <div class="NewsItems__list NewsItems__list--four-items">
            {% for entry in pageEntries %}
                {% if entry.rok|date("U") > now|date("U") %}
                    <div class="NewsItem NewsItem--small">
                    {% if entry.file|length %}
                        {% for asset in entry.file.all() %}
                        <a href="{{ asset.url }}" title="{{ entry.title }}" class="NewsItem__link">
                        {% endfor %}
                    {% else %}
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                    {% endif %}
                            <div class="NewsItem__image">
                            {% set image = entry.coverImage.one() %}
                                {% for image in entry.coverImage %}
                                {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                    loading="lazy"
                                    decoding="async"
                                    src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                                    width="560"
                                    height="376"
                                    alt="{{ image.alttag }}">
                                {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                {% if entry.kategorijaVijesti %}
                                <span>
                                    <strong>{{ entry.kategorijaVijesti.one() }}</strong>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                                </span>
                                {% endif %}
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                                {% if entry.rok %}
                                <p class="NewsItem__info">
                                    <strong>
                                    {% if currentSite.language == 'hr' %}
                                        {% if entry.viseRokova %}
                                            Više rokova
                                        {% else %}
                                            Rok: {{ entry.rok | date("d.m.Y.") }}
                                        {% endif %}
                                    {% else %}
                                        {% if entry.viseRokova %}
                                            Multiple deadlines
                                        {% else %}
                                            Deadline: {{ entry.rok | date("d F Y") }}
                                        {% endif %}
                                    {% endif %}
                                    </strong>
                                </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>       
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </aside>
    <aside class="NewsItems">
        <div class="container">
            <div class="NewsItems__header">
                <h2 class="NewsItems__title">
                    {% if currentSite.language == 'hr' %}Zatvoreni natječaji{% else %}Closed Calls{% endif %}
                </h2>
            </div>
            <div class="NewsItems__list NewsItems__list--four-items">
            {% for entry in pageEntries %}
                {% if entry.rok|date("U") < now|date("U") %}
                    <div class="NewsItem NewsItem--small">
                    {% if entry.file|length %}
                        {% for asset in entry.file.all() %}
                        <a href="{{ asset.url }}" title="{{ entry.title }}" class="NewsItem__link">
                        {% endfor %}
                    {% else %}
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                    {% endif %}
                            <div class="NewsItem__image">
                            {% set image = entry.coverImage.one() %}
                                {% for image in entry.coverImage %}
                                {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                    loading="lazy"
                                    decoding="async"
                                    src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                                    width="560"
                                    height="376"
                                    alt="{{ image.alttag }}">
                                {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                {% if entry.kategorijaVijesti %}
                                <span>
                                    <strong>{{ entry.kategorijaVijesti.one() }}</strong>
                                    <time datetime="{{ entry.postDate | date("Y-m-d") }}">{% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}</time>
                                </span>
                                {% endif %}
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                                {% if entry.rok %}
                                <p class="NewsItem__info">
                                    <strong>{% if currentSite.language == 'hr' %}Rok je prošao{% else %}Deadline has passed{% endif %}</strong>
                                </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>       
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </aside>
    <section class="Pagination__container">
        <nav class="Pagination is-centered" role="navigation">
            <ul class="Pagination__list">
                {% if pageInfo.prevUrl %}
                <li class="Pagination__list-element is-first">
                    <a href="{{ pageInfo.prevUrl }}" title="Prethodna stranica">
                        <svg class="icon-container icon-1.5x">
                            <use xlink:href="#icon-arrow-left"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% for page, url in pageInfo.getPrevUrls(2) %}
                <li class="Pagination__list-element">
                    <a href="{{ url }}" title="{{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="Pagination__list-element is-active">
                    <a href="/" title="{{ pageInfo.currentPage }}">{{ pageInfo.currentPage }}</a>
                </li>
                {% for page, url in pageInfo.getNextUrls(2) %}
                <li class="Pagination__list-element">
                    <a href="{{ url }}" title="{{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if pageInfo.nextUrl %}
                <li class="Pagination__list-element is-last">
                    <a href="{{ pageInfo.nextUrl }}" title="Iduća stranica">
                        <svg class="icon-container icon-1.5x">
                            <use xlink:href="#icon-arrow-right"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>
</main>
{% endblock %}