{% for row in block.bigHero %}
<section class="Hero Hero--primary">
    <div class="Hero__container">
        <div class="Hero__content">
            <div class="Hero__body">
                <span class="Hero__label">{{ row.nadnaslov }}</span>
                <h1 class="Hero__title">
                    {{ row.naslov }}
                </h1>
                {% if row.cta %}
                <div class="Hero__cta">
                    <a class="Button Button--tertiary" href="{{ row.cta.url }}">{{ row.cta.text }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="Hero__image-container">
            <figure>
        {% for image in row.foto %}
        {% set transformedImages = craft.imager.transformImage(image, [
        { width: 1600, mode: 'fit', jpegQuality: 100 }
        ], { ratio: 16/10, jpegQuality: 100 }) %}
            <img style="display: inline;"
                loading="lazy"
                decoding="async"
                src="{{ craft.imager.placeholder({ width: 1600, height: 1080 }) }}"
                srcset="{{ craft.imager.srcset(transformedImages) }}"
                width="1600"
                height="1080"
                alt="{{ image.alttag }}">
        {% endfor %}
            </figure>
        </div>
    </div>
</section>
{% endfor %}