<section class="Section Section--bg-blue-2" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="container">
        <header class="Section__header">
            <p class="Section__title">{{ block.naslov }}</p>
            <p class="Section__subtitle">{{ block.podnaslov }}</p>
        </header>
        <section class="Section__body">
        {% if block.vrstaBannera == 'samoNaslov' %}
        <div class="Layout {% if block.brojBannera == 'tri' %}Layout--three-items-flex{% else %}Layout--four-items-flex{% endif %}">
            {% for row in block.cardBanneri %}
            <div class="SpecialItem SpecialItem--quaternary">
            {% if row.cta %}
                <p class="SpecialItem__title">
                    <a href="{{ row.cta.url }}" title="{{ row.naslov }}">
                        {{ row.naslov }}
                    </a>
                </p>
            {% endif %}
            </div>
            {% endfor %}
        </div>
        {% elseif block.vrstaBannera == 'samoTekst' %}
        <div class="Layout {% if block.brojBannera == 'tri' %}Layout--three-items-flex{% else %}Layout--four-items-flex{% endif %}">
        {% for row in block.cardBanneri %}
            <div class="NewsItem NewsItem--medium NewsItem--no-padding">
                {% if row.cta %}
                <a href="{{ row.cta.url }}" title="title" class="NewsItem__link">
                    <div class="NewsItem__content">
                        <p class="NewsItem__title">{{ row.naslov }}</p>
                        <p class="NewsItem__text">{{ row.tekst }}</p>
                    </div>
                </a>
                {% endif %}
            </div>
        {% endfor %}    
        </div>
        {% elseif block.vrstaBannera == 'samoSlike' %}
        <div class="Layout {% if block.brojBannera == 'tri' %}Layout--three-items-flex{% else %}Layout--four-items-flex{% endif %}">
            {% for row in block.cardBanneri %}
            <div class="SpecialItem SpecialItem--quinary">
                <a href="{{ row.cta.url }}" title="title" class="NewsItem__link">
                {% for image in row.foto %}
                {% set transformedImages = craft.imager.transformImage(image, [
                { width: 180, mode: 'fit', jpegQuality: 100 }
                ], { ratio: 16/10, jpegQuality: 100 }) %}
                <img style="display: inline;"
                    loading="lazy"
                    decoding="async"
                    src="{{ craft.imager.placeholder({ width: 180 }) }}"
                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                    width="140"
                    alt="{{ image.alttag }}">
                {% endfor %}
                </a>
            </div>
            {% endfor %}
        </div>
        {% elseif block.vrstaBannera == 'fileDownload' %}
        <div class="Layout {% if block.brojBannera == 'tri' %}Layout--three-items-flex{% else %}Layout--four-items-flex{% endif %}">
            {% for row in block.cardBanneri %}
            <div class="SpecialItem SpecialItem--quinary">
                <div class="SpecialItem__image">
                    <img loading="lazy" decoding="async" src="{{ siteUrl }}images/icon-special-item-{{ cycle(['1', '2', '3'], loop.index0) }}.png" width="55" height="48" alt="{{ row.naslov }}">
                </div>
                <div class="SpecialItem__body">
                    {% if row.cta %}
                    <p class="SpecialItem__title">
                        <a href="{{ row.cta.url }}" title="{{ row.naslov }}">{{ row.naslov }}</a>
                    </p>
                    {% endif %}
                    <div class="SpecialItem__content">
                        <p>{{ row.tekst }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% elseif block.vrstaBannera == 'cardBanneri' %}
        <div class="Layout {% if block.brojBannera == 'tri' %}Layout--three-items-flex{% else %}Layout--four-items-flex{% endif %}">
            {% for row in block.cardBanneri %}
            <div class="SpecialItem SpecialItem--tertiary">
                <p class="SpecialItem__title">{{ row.naslov }}</p>
                <div class="SpecialItem__image">
                    {% for image in row.foto %}
                    {% set letterboxImage = craft.imager.transformImage(image, { width: 163, height: 130, mode: 'letterbox', letterbox: { color: '#ffffff', opacity: 1 } }) %}
                    <img style="display: inline;"
                        loading="lazy"
                        decoding="async"
                        src="{{ craft.imager.placeholder({ width: 163, height: 130 }) }}"
                        srcset="{{ letterboxImage.url }}"
                        width="163"
                        height="130" 
                        alt="{{ image.alttag }}">
                    {% endfor %}
                </div>
                <div class="SpecialItem__content">
                    <p>{{ row.tekst }}</p>
                    {% if row.cta %}
                    <a
                        href="{{ row.cta.url }}"
                        title="{{ row.cta.text }}"
                        class="Button Button--tertiary">{{ row.cta.text }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        </section>
    </div>
</section>