{% for row in block.citati.all() %}
        <blockquote>
            <div class="Blockquote__content">
                <p>{{ row.citat }}</p>
            </div>
            <div class="Blockquote__author">
                <span><strong>{{ row.imeOsobe }}</strong></span>
                <span>{{ row.titulaOsobe }}</span>
            </div>
        </blockquote>
{% endfor %}