{% for row in block.citati.all() %}
    <section class="Section Section--bg-blue-1">
        <div class="container">
            <section class="Section__body">
                <article class="Article Article--vertical-padding">
                <div class="Article__content">
                <blockquote>
                    <div class="Blockquote__content">
                        <p>{{ row.citat }}</p>
                    </div>
                    <div class="Blockquote__author">
                        <span><strong>{{ row.imeOsobe }}</strong></span>
                        <span>{{ row.titulaOsobe }}</span>
                    </div>
                </blockquote>
                </div>
            </article>
            </section>
        </div>
    </section>
{% endfor %}