<header class="Section__header">
    <p class="Section__title">{{ block.naslov }}</p>
    <p class="Section__subtitle">{{ block.podnaslov }}</p>
</header>

{% for asset in block.file.all() %}
{% if asset.caption %}
    <div class="Document">
        <div class="Document__header">
            <p class="Document__title">
                <a
                    href="{{ asset.url }}"
                    title="{{ asset.title }}"
                    download="{{ asset.title }}">
                    {{ asset.title }}
                </a>
            </p>
            <span class="Document__meta">.{{ asset.extension }}, {{ asset.size|filesize(1) }}, {{ asset.dateCreated|date("j. n. Y.") }}</span>
        </div>
        <div class="Document__body">
            <p>{{ asset.caption }}</p>
        </div>
    </div>
{% else %}
<style>
    .Document__title__small {
        font-size:1em;
    }
    .Document__title__small:before {
        width: 1.2em;
        left: -25px;
    }
    .Document__small {
        padding:10px 10px 10px 40px;
        margin-bottom: 5px;
    }
    .Document__header__small {
        margin-bottom:0;
    }
</style>
    <div class="Document Document__small">
        <div class="Document__header Document__header__small">
            <p class="Document__title Document__title__small">
                <a
                    href="{{ asset.url }}"
                    title="{{ asset.title }}"
                    download="{{ asset.title }}">
                    {{ asset.title }}
                </a>
            </p>
            <span class="Document__meta">.{{ asset.extension }}, {{ asset.size|filesize(1) }}, {{ asset.dateCreated|date("j. n. Y.") }}</span>
        </div>
    </div>
{% endif %}
{% endfor %}