<section class="FaqSection FaqSection--verticalSpacing" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="container">
    <header class="SectionHeader">
        <p class="SectionHeader__title">{{ block.naslov }}</p>
        <p class="SectionHeader__subtitle">{{ block.podnaslov }}</p>
    </header>
    <div class="Faqs">
        <div data-js="cmp-faq">
            {% for row in block.faq %}
            <div tabindex="0" data-js="faq" class="Faq is-collapsed">
                <div class="Faq__header">
                    <p class="FaqHeader__title Faq__title">
                        {{ row.pitanje }}
                    </p>
                    <span
                        class="Faq__action"
                        aria-hidden="true">
                        <svg class="icon-container icon-1.5x">
                            <use xlink:href="#icon-plus" />
                        </svg>
                    </span>
                </div>
                <div class="Faq__body">
                    {{ row.odgovor }}
                    {% if row.cta %}
                    <p><a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="Button Button--tertiary" target="{{ row.cta.target }}">{{ row.cta.text }}</a></p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>