{% for row in block.foto.all() %}
    {% for asset in row.foto.all %}
    {% set transformedImages = craft.imager.transformImage(asset, [
        { width: 1360 }, 
        { width: 300, jpegQuality: 100 }
        ], { jpegQuality: 100 }, 
        { fillTransforms: true }) %}
        {% if asset.extension == 'gif' %}
            <img src="{{ asset.url }}" alt="{{ asset.alttag }}">
        {% else %}
        <figure>
            <img 
            src="{{ craft.imager.placeholder({ width: 1360 }) }}"
            srcset="{{ craft.imager.srcset(transformedImages) }}"
            alt="{{ asset.alttag }}">
            <figcaption>{{ asset.caption }} {{ asset.izvorFotografije }}</figcaption>
        </figure>
        {% endif %}
    {% endfor %}
{% endfor %}