<div class="container">
    <div class="NewsItems__header">
        <h2 class="NewsItems__title">{% if currentSite.language == 'hr' %}Galerija{% else %}Gallery{% endif %}</h2>
    </div>
    <div class="NewsItems__list NewsItems__list--four-items">
            {% for asset in block.galerija.all %}
            {% if asset.kind == 'json' %}
            {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
            {% set transformedImages = craft.imager.transformImage(embeddedAsset.image, [
                { width: 190, height: 127, jpegQuality: 95 }
                ], { ratio: 16/10, jpegQuality: 95 }) %}
                <a href="{{ embeddedAsset.url }}" title="{{ asset.title }}" data-gallery="gallery{{ block.id }}" class="glightbox">
                        <img
                        loading="lazy"
                        decoding="async"
                        src="{{ craft.imager.placeholder({ width: 190, height: 127 }) }}"
                        srcset="{{ craft.imager.srcset(transformedImages) }}"
                        width="190"
                        height="127"
                        alt="{{ asset.alttag }}">
                </a>
            {% else %}
            {% set transformedImages = craft.imager.transformImage(asset, [
                { width: 190, height: 127, jpegQuality: 95 }
                ], { ratio: 16/10, jpegQuality: 95 }) %}
                <a href="{{ asset.url }}" title="{{ asset.title }}" data-gallery="gallery{{ block.id }}" class="glightbox">
                        <img
                        loading="lazy"
                        decoding="async"
                        src="{{ craft.imager.placeholder({ width: 190, height: 127 }) }}"
                        srcset="{{ craft.imager.srcset(transformedImages) }}"
                        width="190"
                        height="127"
                        alt="{{ asset.alttag }}">
                </a>
            {% endif %}
            {% endfor %}
    </div>
</div>