{% for row in block.introBanner %}
    <section class="IntroBlock {{ row.orijentacija }} {{ row.boja }}" data-js="cmp-intro-block" id="{{ block.sidro|lower|replace({' ': ''}) }}">
        <div class="IntroBlock__container">
            <div class="IntroBlock__content">
                <div class="IntroBlock__header">
                    <span class="IntroBlock__label">{{ row.nadnaslov }}</span>
                    <p class="IntroBlock__title">{{ row.naslov }}</p>
                </div>
                <div class="IntroBlock__image">
                    {% for asset in row.foto.all %}
                    {% set transformedImages = craft.imager.transformImage(asset, [
                        { width: 670, height: 440 }, 
                        { width: 300, jpegQuality: 65 }
                        ], { jpegQuality: 100 }, 
                        { fillTransforms: true }) %}
                <img
                    loading="lazy"
                    src="{{ craft.imager.placeholder({ width: 660, height: 440 }) }}"
                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                    width="660"
                    height="440"
                    alt="{{ asset.alttag }}">
                    {% endfor %}
                </div>
                {% if row.tekst %}
                <div class="IntroBlock__text">
                    <p>{{ row.tekst }}</p>
                </div>
                {% endif %}
                <div class="IntroBlock__cta">
                    {% if row.cta %}
                    <a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="Button" target="{{ row.cta.target }}">{{ row.cta.text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endfor %}