<section class="NewsItems">
    <div class="container">
        <div class="NewsItems__header">
            {% if currentSite.language == 'hr' %}
            <h2 class="NewsItems__title">{% switch block.listing %}{% case "novosti" %}Novosti{% case "natjecaji" %}Natječaji{% case "publikacije" %}Publikacije{% case "dogadanja" %}Događanja{% endswitch %}</h2>
            {% else %}
            <h2 class="NewsItems__title">{% switch block.listing %}{% case "novosti" %}News{% case "natjecaji" %}Open Calls{% case "publikacije" %}Publications{% case "events" %}Events{% endswitch %}</h2>
            {% endif %}
        </div>
        <div class="NewsItems__list NewsItems__list--four-items">
            {% switch block.listing %}
            {% case "novosti" %}
                {% set entries = craft.entries.section('novosti').relatedTo(entry).limit(8) %}
                    {% for entry in entries %}
                    <div class="NewsItem NewsItem--small">
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                            <div class="NewsItem__image">
                            {% for image in entry.coverImage %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                                width="560"
                                height="376"
                                alt="{{ image.alttag }}">
                            {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                <span>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                                </span>
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            {% case "natjecaji" %}
                {% set entries = craft.entries.section('natjecaji').relatedTo(entry).limit(8) %}
                    {% for entry in entries %}
                    <div class="NewsItem NewsItem--small">
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                            <div class="NewsItem__image">
                            {% for image in entry.coverImage %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                                width="560"
                                height="376"
                                alt="{{ image.alttag }}">
                            {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                <span>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                                </span>
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                                <p class="NewsItem__info">
                                    <strong>
                                    {% if currentSite.language == 'hr' %}
                                        {% if entry.viseRokova %}
                                            Više rokova
                                        {% else %}
                                            Rok: {{ entry.rok | date("d.m.Y.") }}
                                        {% endif %}
                                    {% else %}
                                        {% if entry.viseRokova %}
                                            Multiple deadlines
                                        {% else %}
                                            Deadline: {{ entry.rok | date("d F Y") }}
                                        {% endif %}
                                    {% endif %}
                                    </strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            {% case "publikacije" %}
                {% set entries = craft.entries.section('publikacije').relatedTo(entry).limit(8) %}
                    {% for entry in entries %}
                    <div class="NewsItem NewsItem--small">
                        {% if entry.file|length %}
                            {% for asset in entry.file.all() %}
                            <a href="{{ asset.url }}" title="{{ entry.title }}" class="NewsItem__link">
                            {% endfor %}
                        {% else %}
                            <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                        {% endif %}
                            <div class="NewsItem__image">
                            {% for image in entry.coverImage %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                                width="560"
                                height="376"
                                alt="{{ image.alttag }}">
                            {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                <span>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                                </span>
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            {% case "dogadanja" %}
                {% set entries = craft.entries.section('dogadanja').relatedTo(entry).limit(8) %}
                    {% for entry in entries %}
                    <div class="NewsItem NewsItem--small">
                        <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                            <div class="NewsItem__image">
                            {% for image in entry.coverImage %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                                { width: 560, height: 376, jpegQuality: 95 }
                                ], { ratio: 16/10, jpegQuality: 95 }) %}
                                <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                                width="560"
                                height="376"
                                alt="{{ image.alttag }}">
                            {% endfor %}
                            </div>

                            <div class="NewsItem__content">
                                <p class="NewsItem__meta">
                                <span>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                                </span>
                                </p>
                                <p class="NewsItem__title">
                                    {{ entry.title }}
                                </p>
                                <p class="NewsItem__info">
                                    <strong>{% if currentSite.language == 'hr' %}Datum: {{ entry.rok | date("d.m.Y.") }}{% else %}Date: {{ entry.rok | date("d F Y") }}{% endif %}</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            {% endswitch %}
        </div>
    </div>
</section>