<section>
    <div class="container">    
        <div class="Map">
            <iframe width="1440" height="700" id="gmap_canvas" src="https://maps.google.com/maps?q=Frankopanska%2026&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
        </div>
    </div>
</section>