{% set search = search ?? ''%}
{% set section = section ?? ''%}

<main id="main" s-replace="#results">
    <section class="container">
        <section data-js="cmp-layout-sidebar" class="Content Layout Layout--sidebar">

            <aside class="Content__aside" aria-expanded="true">
             
                <form class="FilterAction" action="" sprig>
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Unesi pretragu</p>
                        {# Replaces only the `#results` div #}
                        <input sprig s-trigger="keyup changed" s-replace="#results" type="text" name="search" value="{{ search }}" placeholder="Traži" class="text" style="padding:10px;">
                    </div>

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanimaju me područja</p>
                        <div>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" value="">
                                <span>Sve</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="programi" value="programi">
                                <span>Programi</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="novosti" value="novosti">
                                <span>Novosti</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="natjecaji" value="natjecaji">
                                <span>Natječaji</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="dogadanja" value="dogadanja">
                                <span>Događanja</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="publikacije" value="publikacije">
                                <span>Publikacije</span>
                            </label>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" s-val:section="oNama" value="oNama">
                                <span>O nama</span>
                            </label>
                        </div>
                    </div>
                </form>
            </aside>

            <section class="Content__section">
                
                <article class="Article Article--no-padding">
                    <header class="Article__header">
                        <nav class="Breadcrumbs Breadcrumbs--blue">
                            <ul>
                                <li><a href="{{ siteUrl }}">Naslovnica</a></li>
                            </ul>
                        </nav>
                        <h1 class="PageHeader__primary">Pronađi sve za sebe</h1>
                    </header>
                </article>

                <div class="FilterResults">
                    <ul class="FilterResults__list FilterResults__list--grid" id="results">
                    {% set entries = craft.entries.section(section).search(search).orderBy('score') %}
                    {% for entry in entries %}
                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                    {% for image in entry.coverImage %}
                                    {% set transformedImages = craft.imager.transformImage(image, [
                                    { width: 260, height: 174, jpegQuality: 85 }
                                    ], { ratio: 16/10, jpegQuality: 85 }) %}
                                        <img
                                            loading="lazy"
                                            decoding="async"
                                            src="{{ craft.imager.placeholder({ width: 260, height: 174 }) }}"
                                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                                            width="260"
                                            height="174"
                                            alt="{{ image.alttag }}">
                                    {% endfor %}
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>{{ entry.section }}</strong>,
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                                </time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            {{ entry.title }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}

                    </ul>

<!--                     <section class="Pagination__container">
                        <nav class="Pagination is-centered" role="navigation">
                            <ul class="Pagination__list">
                                <li class="Pagination__list-element is-first">
                                    <a href="/" title="Go to previous page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-left"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 1">1</a>
                                </li>
                                <li class="Pagination__list-element is-active">
                                    <a href="/" title="Go to page 2">2</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 2">3</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Show other pages">...</a>
                                </li>
                                <li class="Pagination__list-element is-last">
                                    <a href="/" title="Go to next page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section> -->
                </div>
            </section>

        </section>
    </section>
</main>