{% set search = search ?? ''%}
{% set category = category ?? ''%}
{% set category2 = category2 ?? ''%}

{% set categoryId = categoryId ?? '' %}
{% set categoryId2 = categoryId2 ?? '' %}

{% set myCategoryQuery = craft.categories ({group: 'dokumenti'}) %}
{% set myCategoryQuery2 = craft.categories ({group: 'filtering'}) %}

{% set categories = myCategoryQuery.all() %}
{% set categories2 = myCategoryQuery2.all() %}

<main id="main" s-replace="#results">
    <section class="container">
        <section data-js="cmp-layout-sidebar" class="Content Layout Layout--sidebar">

            <aside class="Content__aside" aria-expanded="true">
             
                <form class="FilterAction" action="" sprig>
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Unesi pretragu</p>
                        {# Replaces only the `#results` div #}
                        <input sprig s-trigger="keyup changed" s-replace="#results" type="text" name="search" value="{{ search }}" placeholder="Traži" class="text" style="padding:10px;">
                    </div>
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanima me razdoblje</p>
                        <div class="FilterAction__select">
                            <select class="Select">
                                <option value="2000">2020</option>
                                <option value="2001">2021</option>
                                <option value="2002">2022</option>
                            </select>
                        </div>
                    </div>
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanimaju me sadržaji</p>
                        <div>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" value="">
                                <span>Sve</span>
                            </label>
                        {% for category in categories %}
                            <label class="RadioPill">
                                <input sprig s-val:categoryId="{{ category.id }}" type="radio" name="kategorije" value="{{ category.id }}">
                                <span>{{ category.title }}</span>
                            </label>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Zanimaju me područja</p>
                        <div>
                            <label class="RadioPill">
                                <input sprig type="radio" name="kategorije" value="">
                                <span>Sve</span>
                            </label>
                        {% for category2 in categories2 %}
                            <label class="RadioPill">
                                <input sprig s-val:categoryId="{{ category2.id }}" type="radio" name="kategorije" value="{{ category2.id }}">
                                <span>{{ category2.title }}</span>
                            </label>
                        {% endfor %}
                        </div>
                    </div>
                </form>
            </aside>

            <section class="Content__section">
                
                <article class="Article Article--no-padding">
                    <header class="Article__header">
                        <nav class="Breadcrumbs Breadcrumbs--blue">
                            <ul>
                                <li><a href="{{ siteUrl }}">Naslovnica</a></li>
                            </ul>
                        </nav>
                        <h1 class="PageHeader__primary">Arhiva dokumentacije</h1>
                    </header>
                </article>

                <div class="FilterResults">
                    <ul class="FilterResults__list" id="results">
                    {% set files = craft.assets().volume('files').search(search).orderBy('score').relatedTo(categoryId).all() %}
                    {% for asset in files %}
                    <li>
                        <div class="Document">
                            <div class="Document__header">
                                <p class="Document__title">
                                    <a
                                        href="{{ asset.url }}"
                                        title="{{ asset.title }}"
                                        download="{{ asset.title }}">
                                        {{ asset.title }}
                                    </a>
                                </p>
                                <span class="Document__meta">.{{ asset.extension }}, {{ asset.size|filesize(1) }}, {{ asset.dateCreated|date("j. n. Y.") }}</span>
                            </div>
                            <div class="Document__body">
                                <p>{{ asset.caption }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>

<!--                     <section class="Pagination__container">
                        <nav class="Pagination is-centered" role="navigation">
                            <ul class="Pagination__list">
                                <li class="Pagination__list-element is-first">
                                    <a href="/" title="Go to previous page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-left"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 1">1</a>
                                </li>
                                <li class="Pagination__list-element is-active">
                                    <a href="/" title="Go to page 2">2</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 2">3</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Show other pages">...</a>
                                </li>
                                <li class="Pagination__list-element is-last">
                                    <a href="/" title="Go to next page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section> -->
                </div>
            </section>

        </section>
    </section>
</main>