<section class="NewsItems">
    <div class="container">
        <div class="NewsItems__header">
            <h2 class="NewsItems__title">{% if currentSite.language == 'hr' %}Vezani sadržaj{% else %}Related content{% endif %}</h2>
        </div>
        <div class="NewsItems__list NewsItems__list--four-items">
            {% set entries = block.rucniListing %}
            {% if entries | length %}
                {% for entry in entries %}
                <div class="NewsItem NewsItem--small">
                    <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                        <div class="NewsItem__image">
                        {% for image in entry.coverImage %}
                        {% set transformedImages = craft.imager.transformImage(image, [
                            { width: 560, height: 376, jpegQuality: 95 }
                            ], { ratio: 16/10, jpegQuality: 95 }) %}
                            <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                            width="560"
                            height="376"
                            alt="{{ image.alttag }}">
                        {% endfor %}
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__meta">
                            <span>
                            <time datetime="{{ entry.postDate | date("Y-m-d") }}">
                                {% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}
                            </time>
                            </span>
                            </p>
                            <p class="NewsItem__title">
                                {{ entry.title }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>