<div class="container">
    <div class="NewsItems__header">
        <h2 class="TabsSection__title">{{ block.naslov }}</h2>
        <p class="TabsSection__subtitle">{{ block.podnaslov }}</p>
    </div>
    <div class="NewsItems__list NewsItems__list--three-items">
        {% for row in block.cardBanneri %}
            <div class="NewsItem NewsItem--small">
                <div class="NewsItem__image">
                    {% if row.cta %}
                    <a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="NewsItem__link" target="{{ row.cta.target }}">
                    {% for image in row.foto %}
                    {% set transformedImages = craft.imager.transformImage(image, [
                    { width: 260, jpegQuality: 85 }
                    ], { ratio: 16/10, jpegQuality: 85 }) %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.imager.placeholder({ width: 260 }) }}"
                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                            width="260"
                            alt="{{ image.alttag }}"
                            style="margin-bottom: 0;"
                            >
                    {% endfor %}
                    </a>
                    {% endif %}
                </div>
                <div class="NewsItem__content">
                    {% if row.cta %}
                    <p class="NewsItem__title">
                        <a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="NewsItem__link" target="{{ row.cta.target }}">{{ row.naslov }}</a>
                    </p>
                    {% endif %}
                    <p class="NewsItem__text">
                        {{ row.tekst }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>