<section class="Section Section--bg-blue-1" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="container">
    <header class="Section__header">
        <h2 class="Section__title">{{ block.naslov }}</h2>
        <p class="Section__subtitle">{{ block.podnaslov }}</p>
    </header>

    <section class="Section__body">
        <div class="Tabs" data-js="cmp-tabs">
            <div class="Tabs__trigger-container">
                <div class="Tab Tab--active-tab"></div>
                <button type="button" class="Tabs__trigger">
                    <svg class="icon-container">
                        <use xlink:href="#icon-hamburger" />
                    </svg>
                </button>
            </div>
            <aside class="Tabs__aside">
                <ul>
                {% for row in block.tabovi %}
                    <li class="Tab">
                        <a href="#section-{{ cycle(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], loop.index0) }}">
                            <span class="Tab__title">{{ row.naslov }}</span>
                            <span class="Tab__subtitle">{{ row.podnaslov }}</span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </aside>
            <section class="Tabs__body">
            {% for row in block.tabovi %}
                <section id="section-{{ cycle(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], loop.index0) }}">
                    <h2>{{ row.naslov }}</h2>
                      {% for block in row.sadrzaj %}
                        {{ block.text }}
                      {% endfor %}
                      {% if row.cta %}
                    <a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="Button Button--tertiary" target="{{ row.cta.target }}">{{ row.cta.text }}</a>
                      {% endif %}
                </section>
            {% endfor %}
            </section>
        </div>
    </section>
    </div>
</section>