<section class="Section Section--two-columns" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="Section__container">
        <header class="Section__header">
            <p class="Section__title">{{ block.naslov }}</p>
            <p class="Section__subtitle">{{ block.podnaslov }}</p>
        </header>

        <div class="Section__body">
            <div class="Testimonial splide" data-js="cmp-testimonial">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for row in block.testimoniali %}
                        <li class="splide__slide">
                            <div class="Testimonial">
                                <div class="Testimonial__text">{{ row.citat }}</div>
                                <div class="Testimonial__author">
                                    <div class="name">{{ row.imeOsobe }}</div>
                                    <div class="agency">{{ row.titulaOsobe }}</div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>