{% for row in block.textBlock %}
<section class="Section {% if row.pozadina %}Section--bg-white{% else %}{% endif %}" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="Section__body">
        <div class="TextComponent__container">
            <div class="TextComponent__header">
                <p>{{ block.naslov }}</p>
            </div>
            <div class="TextComponent {% switch row.brojStupaca %}{% case "1" %}{% case "2" %}TextComponent--two-columns{% case "3" %}TextComponent--three-columns{% endswitch %}">
                {{ row.text }}
            </div>
        </div>
    </div>
</section>
{% endfor %}