<section class="Video__section" id="{{ block.sidro|lower|replace({' ': ''}) }}">
    <div class="Video__container">
    {% for asset in block.video.all() %}
    {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
    <div class="Video">
        <iframe class="Video__iframe" src="{{ embeddedAsset.getIframeSrc(['autoplay=0']) }}" title="{{ embeddedAsset ? embeddedAsset.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    <div class="Video__text">
        <p class="Video__title">{{ embeddedAsset ? embeddedAsset.title }}</p>
    </div>
    {% endfor %}
    </div>
</section>