{% for asset in block.video.all() %}
{% set embeddedAsset = craft.embeddedAssets.get(asset) %}
<div class="Video" data-aspect="16:9">
    <iframe class="Video__iframe" src="{{ embeddedAsset.getIframeSrc(['autoplay=0']) }}" title="{{ embeddedAsset ? embeddedAsset.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>
{% endfor %}