{% extends "_layout" %}
{% set navItems = craft.facetedNavigation.buildFacets(['dokumenti', 'filtering']) %}

{% set relationParam = ['or'] %}
{% set params = {
    status: 'live',
    orderBy: 'title asc',
    limit: null,
    with: ['title']
    }
%}
{% set searchQuery = craft.app.request.getQueryParam('q') %}
{% set sectionQuery = craft.app.request.getQueryParam('section') %}

{% block content %}
{{ include("_header.html") }}
<main id="main" s-replace="#results">
    <section class="container">
        <section data-js="cmp-layout-sidebar" class="Content Layout Layout--sidebar">

            <aside class="Content__aside" aria-expanded="true">
                <form class="FilterAction" action="">
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Unesi pretragu</p>
                        {# Replaces only the `#results` div #}
                        <input type="text" name="q" value="{{searchQuery}}" placeholder="Traži" class="text" style="padding:10px;">
                    </div>
                    
                    {% for catGroup in navItems.categoryGroups %}
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">{{ catGroup.name }}</p>
                        <ul>
                            {% for cat in attribute(navItems.categories, catGroup.handle) %}
                            <li>
                                <a href="{% if cat.active %}{{ url('dokumentacija'~cat.url.remove) }}{% else %}{{ url('dokumentacija'~cat.url.add) }}{% endif %}" class="Pill{% if cat.active %} active{% endif %}">{{ cat.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </form>
            </aside>

            <section class="Content__section">      
                <article class="Article Article--no-padding">
                    <header class="Article__header">
                        <h1 class="PageHeader__primary">Arhiva dokumentacije</h1>
                        <nav>
                            <ul>
                            {% if navItems.activeCategories|length %}
                                {% for category in navItems.activeCategories %}
                                    {% set relationParam = relationParam|merge([{ targetElement:category }]) %}
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </nav>
                    </header>
                </article>

                <div class="FilterResults">
                    <ul class="FilterResults__list" id="results">

                {% if relationParam|length > 1 %}
                    {% set params = params|merge({relatedTo: relationParam}) %}
                {% endif %}
                
                {% set products = craft.assets(params).volume('files').search(searchQuery).orderBy('score').limit(50) %}

                {% if products|length %}
                    {% for asset in products.all() %}
                    <li>
                        <div class="Document">
                            <div class="Document__header">
                                <p class="Document__title">
                                    <a
                                        href="{{ asset.url }}"
                                        title="{{ asset.title }}"
                                        download="{{ asset.title }}">
                                        {{ asset.title }}
                                    </a>
                                </p>
                                <span class="Document__meta">.{{ asset.extension }}, {{ asset.size|filesize(1) }}, {{ asset.dateCreated|date("j. n. Y.") }}</span>
                            </div>
                            <div class="Document__body">
                                <p>{{ asset.caption }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <p>Nažalost vaša pretraga nije pronašla nikakve rezultate.</p>
                {% endif %}


                    </ul>

<!--                     <section class="Pagination__container">
                        <nav class="Pagination is-centered" role="navigation">
                            <ul class="Pagination__list">
                                <li class="Pagination__list-element is-first">
                                    <a href="/" title="Go to previous page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-left"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 1">1</a>
                                </li>
                                <li class="Pagination__list-element is-active">
                                    <a href="/" title="Go to page 2">2</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 2">3</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Show other pages">...</a>
                                </li>
                                <li class="Pagination__list-element is-last">
                                    <a href="/" title="Go to next page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section> -->
                </div>
            </section>

        </section>
    </section>
</main>

{% endblock %}