%article-content {
    ul, ol {
        @include clamp-size("margin-bottom", 20, 40);

        position: relative;
        padding-left: rem-calc(28);

        li {
            @apply mb-4 mt-0 relative;

            &::before {
                content: '';
                position: absolute;
                top: rem-calc(4);
                left: rem-calc(-24);
                display: inline-flex;
                width: rem-calc(18);
                height: rem-calc(18);
                background: url(../images/svg/article/list-mark.svg);
                background-size: contain;
            }
        }
    }

    & > p, & > li {
        @extend %content-paragraph;
    }

    & > p {
        @include clamp-size("margin-bottom", 20, 40);
    }

    & > li {
        @apply mb-4 mt-0;
    }

    h2, h3, h4, h5, h6 {
        &:not(&:first-of-type) {
            @include clamp-size("margin-top", 20, 40);
        }

        @extend %margin-bottom-30;
    }

    h2 {
        @extend %h3;
    }

    h3 {
        @extend %h4;
    }

    h4 {
        @extend %h5;
    }

    h5 {
        @extend %h5;
    }
}

.Article {
    &--vertical-padding {
        @include rwd-fluid-sizing("padding-top", 30px, 60px);
        @include rwd-fluid-sizing("padding-bottom", 30px, 60px);
    }

    &--vertical-contact-padding {
        @include rwd-fluid-sizing("padding-top", 30px, 60px);

        padding-bottom: rem-calc(30);
    }

    &--horizontal-padding {
        @include rwd-fluid-sizing("padding-left", 20px, 40px);
        @include rwd-fluid-sizing("padding-right", 20px, 40px);
    }

    &--layout-short {
        max-width: rem-calc(840);
    }

    &--layout-wide {
        max-width: rem-calc(960);
    }

    &--layout-short, &--layout-wide {
        margin: 0 auto;
    }

    a {
        @apply font-bold;
    }

    &__header {
        @extend %margin-bottom-30;
    }

    &__title {
        @extend %h2;
        @apply font-black;
    }

    &__intro {
        @extend %margin-bottom-30;

        p {
            @apply font-semibold;

            @extend .Text;
            @extend .Text--intro;
        }
    }

    &__content {
        @extend %article-content;
    }

    &__footer {
        @apply text-sm;
    }

    &__meta {
        @apply flex;
    }

    &__meta-pubdate {
        @apply text-sm leading-normal;

        letter-spacing: 0.01em;
        color: var(--color-gray-4);

        @include respond-to('large') {
            @apply ml-auto;
        }

        time {
            color: var(--color-gray-5);
        }
    }

    img {
        margin-bottom: rem-calc(16);
    }

    p.img {
        &--full-width {
            @include respond-to('large') {
                img {
                    position: relative;
                    max-width: rem-calc(960);
                    left: rem-calc(-80);
                    right: rem-calc(-80);
                }
            }
        }
    }

    figure {
        @include rwd-fluid-sizing("margin-top", 20px, 40px);
        @include rwd-fluid-sizing("margin-bottom", 20px, 40px);
    }

    figcaption {
        @apply font-light;

        padding: rem-calc(2) rem-calc(20);
        text-align: center;
        font-style: italic;
        color: var(--color-gray-4);
    }

    blockquote, .Blockquote {
        @apply relative;

        @include rwd-fluid-sizing("margin-bottom", 20px, 40px);
        @include rwd-fluid-sizing("padding-left", 50px, 60px);

        margin-top: 0;

        &::before {
            @apply absolute left-0 top-0 inline-block;

            content: '';
            width: rem-calc(33);
            height: rem-calc(38);
            background: url(../images/svg/article/quote.svg);
        }

        .Blockquote__content {
            @apply mb-5;

            p {
                @include clamp-size("font-size", 19, 21);
                @include clamp-size("line-height", 28, 34);

                font-style: italic;
                letter-spacing: 0.01em;
            }
        }

        .Blockquote__author {
            span {
                @apply block;

                &:first-of-type {
                    @apply text-sm leading-normal;

                    color: var(--color-black);
                }

                &:last-of-type {
                    @apply text-xs leading-normal uppercase font-bold;

                    letter-spacing: 0.05em;
                    color: var(--color-gray-4);
                }
            }
        }
    }
}

.NewsItems {
    @include rwd-fluid-sizing("padding-top", 40px, 80px);
    @include rwd-fluid-sizing("padding-bottom", 40px, 80px);

    background-color: var(--color-blue-1);

    &__header {
        @include rwd-fluid-sizing("margin-bottom", 20px, 30px);
    }

    &__title {
        @extend %h3;
    }

    &__list {
        @apply grid;
        grid-row-gap: rem-calc(50);

        @include respond-to('small') {
            grid-column-gap: rem-calc(40);
        }

        &--three-items {
            @include respond-to('medium') {
                @apply grid-cols-3;
            }
        }

        &--four-items {
            @include respond-to('small') {
                @apply grid-cols-2;
            }
            @include respond-to('medium') {
                @apply grid-cols-4;
            }
        }
    }
}

.NewsItem {
    $self: &;

    display: inline-flex;
    flex-direction: column;
    flex: 1;
    border-radius: rem-calc(5);

    &:focus-within {
        @extend %focus-style;
    }

    @include respond-to('medium') {
        max-width: rem-calc(360);
    }

    &--small {
        @include respond-to('medium') {
            max-width: rem-calc(260);
        }
    }

    &__link {
        @apply no-underline;

        color: var(--color-black);

        &:hover {
            #{$self}__title {
                color: var(--color-tertiary);
            }
        }

        &:focus, &:active {
            outline: none;
        }
    }

    &__image {
        @apply mb-5 shadow-element;

        border-radius: rem-calc(5);
        background-color: var(--color-gray-8);

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: rem-calc(5);
        }
    }

    &__content {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);

        .NewsItem--no-padding & {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__meta {
        @apply no-underline;

        margin-bottom: rem-calc(5);
        font-size: rem-calc(13);
        line-height: 1.5;
        color: var(--color-gray-5);

        strong {
            @apply uppercase no-underline;

            color: var(--color-primary);
        }
    }

    &__title {
        @apply font-bold no-underline transition-colors duration-200 ease-in-out;

        @include clamp-size("font-size", 16, 22);
        @include clamp-size("line-height", 22, 30);

        margin-bottom: rem-calc(10);
        letter-spacing: 0.01em;

        #{$self}--medium & {
            @include clamp-size("font-size", 18, 20);
            @include clamp-size("line-height", 24, 26);
        }

        #{$self}--small & {
            @include clamp-size("font-size", 16, 18);
            @include clamp-size("line-height", 22, 24);
        }
    }

    &__text {
        @apply text-base leading-normal;

        margin-bottom: rem-calc(5);
        color: var(--color-gray-5);
    }

    &__info {
        @apply uppercase no-underline;

        color: var(--color-tertiary);

        strong {
            font-size: rem-calc(13);
            line-height: 1.5;
        }
    }
}
