.Breadcrumbs {
    margin-right: rem-calc(10);
    margin-bottom: rem-calc(10);

    &--blue {
        a {
            color: var(--color-primary);
        }
    }

    &--green {
        a {
            color: var(--color-clr-brand-alt);
        }
    }

    ul {
        @apply inline-flex items-center flex-wrap;
    }

    li {
        &:first-of-type {
            a {
                padding-left: 0;
            }
        }

        &:not(:last-of-type) {
            a {
                margin-right: rem-calc(15);

                &::after {
                    @apply absolute inline-flex;

                    color: var(--color-gray-7);
                    content: ">";
                    right: rem-calc(-10);
                }
            }
        }

    }

    a {
        @apply relative inline-flex items-center relative underline font-semibold leading-tight;

        padding: rem-calc(5) rem-calc(5) rem-calc(5) 0;
        font-size: rem-calc(15);
        white-space: nowrap;
        letter-spacing: 0.01em;
    }
}
