.Button {
    @apply transition-colors duration-200 ease-in-out shadow-element font-bold uppercase;
    @apply border;
    @apply inline-flex;

    padding: rem-calc(14) rem-calc(30);
    font-family: var(--font-secondary);
    font-size: rem-calc(17);
    line-height: 1.17;
    letter-spacing: 0.2em;
    border-radius: rem-calc(5);
    color: var(--color-white);
    border-color: transparent;

    &--small {
        padding: rem-calc(14);
    }

    &--primary {
        background-color: var(--color-primary);

        &:hover, &:focus {
            background-color: var(--color-blue-3);
        }
    }

    &--secondary {
        background-color: var(--color-tertiary);

        &:hover, &:focus {
            background-color: var(--color-primary);
        }
    }

    &--tertiary {
        background-color: var(--color-white);
        color: var(--color-black);
        border-color: var(--color-gray-2);

        &:hover, &:focus {
            background-color: var(--color-tertiary);
            color: var(--color-white);
            border-color: transparent;
        }
    }

    &--quaternary {
        background-color: var(--color-secondary);

        &:hover, &:focus {
            background-color: var(--color-primary);
        }
    }

    &:active {
        color: var(--color-white);
        background-color: var(--color-black);
    }

    & + & {
        margin: rem-calc(3) rem-calc(3) 0 0;
    }

    &[disabled] {
        user-select: none;
        cursor: not-allowed;
        background-color: var(--color-gray-3);
        color: var(--color-white);
    }
}

.ButtonCta {
    @apply relative flex items-center font-bold text-base no-underline;
    @apply transition-colors duration-200 ease-in-out;

    padding: rem-calc(18);
    border-radius: rem-calc(5);
    border: 1px solid transparent;
    background-color: var(--color-blue-2);

    &--icon {
        padding-left: rem-calc(52);

        svg {
            @apply absolute;

            left: 1rem;
            color: var(--color-gray-5);
        }
    }

    &--full-width {
        @apply w-full;
    }

    & + & {
        margin-top: rem-calc(20);
    }

    &:hover {
        border-color: var(--color-gray-5);
    }
}
