.Document {
    $self: &;

    @include rwd-fluid-sizing("margin-bottom", 20px, 40px);
    @include rwd-fluid-sizing("padding-left", 70px, 100px);

    @apply mt-0;

    background-color: var(--color-white);
    border: 1px solid var(--color-gray-2);

    &--offset {
        @include respond-to('large') {
            margin-left: rem-calc(-80);
        }
    }

    padding: {
        top: rem-calc(30);
        right: rem-calc(30);
        bottom: rem-calc(30);
    }

    &__header {
        @apply flex justify-between items-center flex-wrap;

        margin-bottom: rem-calc(10);
    }

    &__title {
        @apply font-bold relative;

        @include clamp-size("font-size", 16, 19);
        @include clamp-size("line-height", 26, 32);

        margin-right: rem-calc(5);
        margin-bottom: 0;

        &::before {
            @include rwd-fluid-sizing("left", -47px, -57px);
            @apply absolute inline-block;

            content: "";
            width: rem-calc(32);
            height: rem-calc(37);
            background: url("../images/svg/article/document.svg") no-repeat center / contain;
        }
    }

    &__meta {
        @apply text-sm leading-normal;

        color: var(--color-gray-3);
    }

    &__body {
        p {
            @apply text-base leading-normal;

            color: var(--color-gray-4);
        }
    }
}
