.FaqSection {
    &--verticalSpacing {
        @include rwd-fluid-sizing("padding-top", 40px, 80px);
        @include rwd-fluid-sizing("padding-bottom", 40px, 80px);
    }

    &__header {
        @include rwd-fluid-sizing("margin-bottom", 26px, 30px);

        p {
            @extend %h3;

            letter-spacing: 0.01em;
        }
    }
}

.Faqs {
    @include parent-article {
        @include rwd-fluid-sizing("margin-bottom", 20px, 40px);
    }
}

.Faq {
    $self: &;

    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    border-bottom: 1px solid var(--color-clr-gray-2);

    @include parent-article {
        padding-left: 0;
        padding-right: 0;
    }

    &:not(:first-of-type) {
        border-top: 1px solid var(--color-clr-gray-2);
    }

    &__header {
        @include rwd-fluid-sizing("padding-top", 10px, 20px);
        @include rwd-fluid-sizing("padding-bottom", 10px, 20px);

        display: flex;
        align-items: center;

        @media (hover: hover) {
            cursor: pointer;
        }
    }

    &__action {
        display: inline-flex;
        flex: 0 0 auto;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
    }

    &__body {
        @extend %content-paragraph-no-margin;

        ul {
            list-style: disc;
        }

        ol {
            list-style: auto;
        }

        ol, ul {
            margin-bottom: rem-calc(20);
            padding-left: rem-calc(30);

            li {
                @include parent-article {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        padding-bottom: rem-calc(20);

        #{$self}.is-collapsed & {
            padding-bottom: 0;
        }
    }

    &.is-collapsed {
        .Faq__body {
            display: none;
        }
    }
}

.FaqHeader__title {
    @extend .Title;
    @extend .Title--small;

    margin-top: 0;
    margin-bottom: 0;
    user-select: none;
}
