.Footer {
    @apply mt-auto;

    @include rwd-fluid-sizing("padding-top", 30px, 50px);
    @include rwd-fluid-sizing("padding-bottom", 30px, 50px);

    background-color: var(--color-white);

    &__container {
        @extend %container-settings-global;
    }

    &__section {
        display: grid;
        grid-gap: rem-calc(40);

        &.Footer__section--upper {
            @include respond-to('medium') {
                grid-template-columns: percentage(380 / $container-width) percentage(380 / $container-width) percentage(160 / $container-width);
                grid-gap: percentage(120 / $container-width);
            }
        }

        &.Footer__section--lower {
            @apply text-sm;

            //color: rgba(85, 85, 85, 0.6);
            color: var(--color-gray-5);

            @include respond-to('large') {
                grid-template-columns: percentage(260 / $container-width) percentage(860 / $container-width);
            }
        }

        & + & {
            @include rwd-fluid-sizing("margin-top", 33px, 66px);
        }
    }

    &__section-header {
        margin-bottom: rem-calc(20);

        &--primary {
            .title {
                @extend %h5;

                font-weight: bold;
                letter-spacing: 0.01em;
                color: var(--color-black);
            }
        }

        &--secondary {
            .title {
                font-size: rem-calc(18);
                line-height: 1.33;
                font-weight: 900;
                letter-spacing: 0.02em;
            }
        }

        .subtitle {
            font-size: rem-calc(12);
            line-height: 1.66;
            letter-spacing: 0.05em;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--color-gray-5);
        }
    }

    &__nav {
        & + .Footer__block-info {
            @include rwd-fluid-sizing("margin-top", 20px, 40px);
        }
    }

    &__block {
    }

    &__block-info {
    }

    &__info {
        color: var(--color-gray-5);

        p {
            color: currentColor;
            &:not(:last-of-type) {
                margin-bottom: rem-calc(20);
            }
        }

        a {
            color: currentColor;
            text-decoration: none;

            &:hover, &:focus {
                color: currentColor;
                text-decoration: underline;
            }
        }
    }

    &__address-block {
        @apply flex flex-col;
    }

    &__address-navigation {
        @apply flex justify-between mb-5 flex-wrap;

        nav {
            margin-right: rem-calc(10);
            margin-bottom: rem-calc(10);
        }
    }

    &__address-colophone {

    }
}
