.Logo {
    &--app-homepage {
        img {
            @include clamp-size("max-width", 117, 192, 10);

            .Header--alternative & {
                @include only-to('small') {
                    @include clamp-size("max-width", 100, 117, 10);
                }
            }
        }
    }

    &--alternative {
        img {
            @include clamp-size("max-width", 148, 224, 10);

            .Header--alternative & {
                @include only-to('small') {
                    @include clamp-size("max-width", 100, 148, 10);
                }
            }
        }
    }

    &__content {
        line-height: 1;

        &--sidebar {
            margin-top: rem-calc(15);
            margin-bottom: rem-calc(25);

            img {
                max-width: rem-calc(130);
            }
        }
    }
}

h1.Logo__content {
    @apply m-0;
}

a.Logo__content {
    display: block;
}

.Header {
    $self: &;

    @apply w-full z-10;

    isolation: isolate;
    background-color: var(--color-white);
    transform: translate3d(0, 0, 0);

    &::before {
        @apply shadow-element;

        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        display: block;
    }

    .menu--is-opened & {
        &::before {
            opacity: 0;
        }
    }

    &--alternative {
    }

    &--isFixed {
        @apply fixed top-0 right-0 left-0;
    }

    &--isOpen {
        @apply transform-none;
    }

    &__container {
        @include clamp-size("padding-top", 5, 20);
        @include clamp-size("padding-bottom", 5, 20);

        &-inner {
            @apply flex w-full;

            @extend .container;

            @include only-to('large') {
                @apply items-center;
            }
        }

        &--upper {
            #{$self}--alternative & {
                @include only-to('large') {
                    @apply hidden;
                }

                @include respond-to('large') {
                    background-color: var(--color-blue-2);
                }
            }
        }

        &--lower {
        }
    }

    &__logo {
        @include respond-to('large') {
            @apply flex items-center;
        }
    }

    &__nav {
    }

    &__group {
        @apply hidden;

        #{$self}--isOpen & {
            @include only-to('large') {
                @apply flex flex-col;
                @apply absolute left-0 right-0 flex;
                @apply overflow-auto;

                top: var(--menu-position, 81px);
                height: 100vh;
                padding-top: rem-calc($gap);
                padding-bottom: calc(var(--header-inner-height) + var(--header-extra-height));
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                background-color: var(--color-white);
            }
        }

        @include respond-to('large') {
            @apply flex;
            @apply w-full;
            @apply items-center;
        }
    }

    &__group-inner {
        @extend %container-settings-menu;
        @apply flex w-full;

        &--align-left {
            @include respond-to('large') {
                margin-left: clamp(25px, 2.5vw, 50px);
            }
        }

        &--space-evenly {
            @include respond-to('large') {
                @apply justify-evenly;
            }
        }

        &--push-left {
            @include respond-to('large') {
                @apply justify-end;
            }
        }
    }

    &__extra {
        @apply flex items-center;

        @include only-to('large') {
            @include clamp-size("padding-top", 5, 20);
            @include clamp-size("padding-bottom", 5, 20);

            @apply fixed bottom-0 left-0 right-0;
            @apply shadow-extra;

            background-color: var(--color-white);
        }
    }

    &__extra-inner {
        @extend %container-settings-menu;

        @apply flex flex-1 justify-between;

        @include respond-to('large') {
            justify-content: unset;
        }

        button + a {
            margin-left: rem-calc(16);
        }
    }

    &__trigger-container {
        @include respond-to('large') {
            #{$self}--alternative & {
                @apply hidden;
            }
        }
    }

    &__trigger {
        @apply hidden;
        @apply p-2;

        @include only-to('large') {
            @apply p-3 inline-flex items-center;
        }

        #{$self}--isOpen & {
            @apply inline-flex;
        }
    }

    &__desktop-trigger {
        @include only-to('large') {
            @apply hidden;
            @apply p-2;
        }

        @include respond-to('large') {
            @apply inline-flex items-center justify-center;

            width: rem-calc(58);
            height: rem-calc(52);
        }

        svg {
            use {
                transform-origin: center;
                transform: scale(-1)
            }
        }
    }

    &__menu {
        @apply z-10 hidden fixed left-0 right-0 w-full overflow-auto;

        top: var(--menu-position);
        height: calc(100vh - var(--header-inner-height));
        background-color: var(--color-white);
        padding: rem-calc(16) 0;

        .menu--is-opened & {
            display: block;
        }

        &-inner-container {
            max-width: rem-calc(860);
            margin-left: auto;
        }

        a {
            span {
                @apply relative;

                &::before {
                    @apply absolute inline-block w-full left-0 right-0 opacity-0 transition-opacity duration-200 ease-in-out;

                    content: "";
                    bottom: rem-calc(2);
                    height: rem-calc(4);
                    background-color: rgba(234, 118, 36, 0.3);
                }
            }

            &:hover, &:focus {
                color: var(--color-black);

                span {
                    &::before {
                        @apply opacity-100;
                    }
                }
            }
        }

        &-block {
            a {
                display: inline-block;
                margin-bottom: 1em;
                color: inherit;
                text-decoration: none;
            }

            & > a {
                font-size: rem-calc(22);
                font-weight: bold;
                line-height: 1;
                letter-spacing: 0.03em;
                color: var(--color-typography);
            }

            ul > li > a {
                margin-bottom: 1em;
                font-size: rem-calc(16);
                line-height: 1.25;
                letter-spacing: 0.03em;
                font-weight: 600;
                color: var(--color-gray-5);
            }
        }

        &-body {
            display: grid;
            grid-gap: rem-calc(40);

            &:not(&:last-of-type) {
                margin-bottom: rem-calc(40);
            }

            &--two-items {
                grid-template-columns: repeat(2, 260px);
            }

            &--three-items {
                grid-template-columns: repeat(3, 260px);
            }
        }

        &-footer {
            p {
                margin-bottom: 1em;
                font-size: rem-calc(18);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.03em;
                color: var(--color-gray-5);
            }

            ul {
                li {
                    &:not(&:last-of-type) {
                        margin-right: rem-calc(30);
                    }
                }

                a {
                    font-size: rem-calc(14);
                    line-height: 1.4;
                    letter-spacing: 0.03em;
                    font-weight: 600;
                    color: var(--color-gray-4);
                    text-decoration: none;
                }
            }
        }
    }
}

.SiteOptionsMenu {
    @apply text-sm font-semibold leading-normal;

    color: var(--color-gray-5);
}

.LanguageMenu {
    @apply p-3 text-sm font-bold leading-normal uppercase inline-flex items-center;

    color: var(--color-gray-5);
}
