.Hero {
    &--primary {
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--color-blue-1);
    }

    &--secondary {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include respond-to('medium') {
            min-height: rem-calc(450);
        }
    }

    &__container {
        @include respond-to('medium') {
            @apply flex w-full;
        }

        .Hero--secondary & {
            @extend %container-settings-global;

            padding-top: rem-calc(80);
            padding-bottom: rem-calc(90);

            @include respond-to('medium') {
                @include rwd-fluid-sizing("padding-left", 20px, 60px);
                @include rwd-fluid-sizing("padding-right", 20px, 60px);
            }
        }
    }

    &__label {
        .Hero--primary & {
            @extend .Subtitle;
            @extend .Subtitle--large;
            @apply inline-block;

            margin-bottom: rem-calc(10);
            color: var(--color-primary);
        }
    }

    &__title {
        .Hero--primary & {
            @apply mt-0;
            @apply font-black leading-tight;

            @include clamp-size("font-size", 28, 52);
            @include clamp-size("line-height", 36, 70);

            font-family: var(--font-secondary);
            color: var(--color-typography);
        }

        .Hero--secondary & {
            @extend %h1;

            margin-bottom: rem-calc(10);
        }
    }

    &__text {
        @include clamp-size("font-size", 18, 21);
        @include clamp-size("line-height", 28, 33);

        letter-spacing: 0.01em;

        p {
            all: inherit;

            & + & {
                margin-bottom: rem-calc(16);
            }
        }
    }

    &__content {
        .Hero--primary & {
            @include rwd-fluid-sizing("padding-top", 100px, 120px);
            @include rwd-fluid-sizing("padding-bottom", 50px, 120px);

            @include respond-to('medium') {
                flex: 1 1 0;
                display: flex;
                justify-content: flex-end;
                margin: auto;
            }
        }

        .Hero--secondary & {
            @apply shadow-element p-10 w-full;

            max-width: rem-calc(840);
            border-radius: rem-calc(5);
            background-color: var(--color-white);
        }
    }

    &__body {
        @extend %container-settings-menu;

        .Hero--primary & {
            @include respond-to('medium') {
                max-width: 580px;
                width: 100%;
                padding-left: rem-calc($gap);
            }
        }
    }

    &__cta {
        @include rwd-fluid-sizing("margin-top", 40px, 56px);
    }

    &__image-container {
        @apply flex items-center;
        aspect-ratio: 4/3;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @include respond-to('medium') {
            @apply w-1/2;
        }
    }
}


