.IntroBlock {
    @include rwd-fluid-sizing("padding-top", 60px, 80px);
    @include rwd-fluid-sizing("padding-bottom", 60px, 80px);

    background-color: var(--color-white);

    .Button {
        @extend .Button--primary;
    }

    &--wide {
        @include rwd-fluid-sizing("padding-top", 120px, 150px);
        @include rwd-fluid-sizing("padding-bottom", 120px, 150px);

        text-align: center;
    }

    &--inverted {
        @include respond-to('medium') {

        }
    }

    &--bg-blue-1 {
        background-color: var(--color-blue-2);
    }

    &--bg-blue-2 {
        background-color: var(--color-blue-3);

        .Button {
            @extend .Button--secondary;
        }
    }

    &--bg-blue-3 {
        background-color: var(--color-typography);

        .Button {
            @extend .Button--quaternary;
        }
    }

    &__container {
        $content-container: percentage(5 / 12);
        $image-container: percentage(7 / 12);
        $gap: 40;

        @extend %container-settings-global;

        display: grid;
        grid-gap: rem-calc($gap);

        @include respond-to('medium') {
            grid-template-columns: $content-container calc(#{$image-container} - #{$gap}px);
            padding-left: 0;
            padding-right: 0;

            .IntroBlock--inverted & {
                grid-template-columns: calc(#{$image-container} - #{$gap}px) $content-container;
            }

            .IntroBlock--wide & {
                grid-template-columns: unset;
                max-width: rem-calc(760);
            }
        }
    }

    &__content {
        @apply flex flex-col justify-center;

        @include respond-to('medium') {
            .IntroBlock--inverted & {
                order: 2;
            }
        }
    }

    &__header {
        @extend %margin-bottom-30;
    }

    &__label {
        @extend .Subtitle;
        @extend .Subtitle--regular;

        .IntroBlock--bg-blue-2 & {
            color: var(--color-tertiary);
        }

        .IntroBlock--bg-blue-3 & {
            color: var(--color-secondary);
        }
    }

    &__title {
        @extend %h1;

        .IntroBlock--bg-blue-2 &,
        .IntroBlock--bg-blue-3 & {
            color: var(--color-white);
        }
    }

    &__image {
        @include only-to('medium') {
            margin-bottom: rem-calc(20);
        }

        aspect-ratio: 660 / 432;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            @apply shadow-element;
        }
    }

    &__text {
        @extend .Text;
        @extend .Text--intro;

        margin-bottom: 0;
        color: var(--color-typography);

        .IntroBlock--bg-blue-2 &,
        .IntroBlock--bg-blue-3 & {
            color: var(--color-white);
        }
    }

    &__cta {
    }
}
