.Nav {
    $self: &;
    @apply inline-flex;

    &--row {
    }

    &--column {
    }

    &--small {
    }

    &--header {
        @include only-to('large') {
            @apply flex w-full;
        }

        .menu--is-opened & {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__list {
        $list: &;

        @apply flex flex-wrap;

        .Nav--column & {
            @apply flex-col;
        }

        .Nav--header & {
            @include only-to('large') {
                @apply w-full;
            }

            @include respond-to('large') {
                @apply items-center;
            }
        }

        @include only-to('large') {
            #{$self}--header & {
                @apply flex-col;
            }
        }

        li {
            @apply flex flex-col;

            .Nav--column & {
                @apply mb-2;
            }

            #{$self}--header & {
                @include only-to('large') {
                    padding: 5px 0;
                }
            }

            &.active-link {
                & > a[role="menuitem"],
                & > div > a[role="menuitem"] {
                    @apply font-bold;

                    span {
                        &::before {
                            @apply opacity-100;
                        }
                    }
                }
            }

            .Nav--small & {
                &:last-child {
                    a {
                        span {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            ul {
                li {
                    &.active-link {
                        span {
                            &::before {
                                @apply opacity-100;
                            }
                        }
                    }

                    a {
                        @apply font-normal;
                    }
                }
            }
        }

        a {
            @apply inline-flex text-lg leading-tight font-bold tracking-wide no-underline;

            font-family: var(--font-secondary);
            color: var(--color-black);

            .Nav--small & {
                @apply text-sm relative;

                margin: 0 rem-calc(30) 0 0;
                padding: rem-calc(4) 0;
                color: currentColor;
            }

            padding-top: 0.5625rem;
            padding-bottom: 0.5625rem;

            @include respond-to('large') {
                padding: rem-calc(20) clamp(1rem, 1.35vw, 1.35rem);
            }

            .Nav--column & {
                @apply font-bold;

                padding: rem-calc(4) 0;
                color: var(--color-typography);
            }

            span {
                @apply relative;

                &::before {
                    @apply absolute inline-block w-full left-0 right-0 opacity-0 transition-opacity duration-200 ease-in-out;

                    content: "";
                    bottom: rem-calc(2);
                    height: rem-calc(4);
                    background-color: rgba(234, 118, 36, 0.3);
                }

                .Nav--small & {
                    &::before {
                        display: none;
                    }

                    &::after {
                        pointer-events: none;
                        content: "\25CF";
                        position: absolute;
                        right: rem-calc(-18);
                        color: rgba(85, 85, 85, 0.6);
                    }
                }
            }

            &:hover, &:focus {
                color: var(--color-black);

                span {
                    &::before {
                        @apply opacity-100;
                    }

                    .Nav--small & {
                        &::after {
                            color: rgba(85, 85, 85, 0.6);
                        }
                    }
                }
            }
        }
    }
}

.active-dropdown {
    & > div {
        button {
            transform: rotate(180deg);
        }
    }
}

.has-mobile-dropdown > div {
    @apply flex;

    button {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        width: 2.625rem;
        height: 2.625rem;
        margin-left: auto;
        transform-origin: center;

        svg {
            margin: auto;
        }
    }
}

.Nav__nested {
    display: none;

    @include only-to('large') {

        .Nav--header & {
            li {
                padding: 0;
            }

            a {
                @apply font-bold inline-block text-sm leading-tight tracking-wide no-underline;

                padding-top: 10px;
                padding-bottom: 10px;
                color: var(--color-gray-5);
            }
        }
    }

    .active-dropdown & {
        display: initial;
    }
}
