.PageHeader {
    &__primary {
        @extend %h1;
    }
    &__secondary {
        @extend %h2;
        @apply font-black;
    }
}

.SectionHeader {
    $self: &;

    &__title {
        @apply block;
        @extend %h3;

        #{$self}--small & {
            @extend %h5;
        }

        & + #{$self}__subtitle {
            margin-top: rem-calc(5);
        }
    }

    &__subtitle {
        @apply block;
        @extend .Subtitle;
        @extend .Subtitle--regular;

        #{$self}--small & {
            @extend .Subtitle--small;
        }
    }
}
