.Pagination { // nav
    &__container {
        @include clamp-size("padding-top", 30, 60);
        @include clamp-size("padding-bottom", 30, 60);
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .is-centered & {
            justify-content: center;
        }
    }

    &__list-element {
        display: flex;
        align-items: center;
        margin-right: rem-calc(7.5);
        margin-left: rem-calc(7.5);
        margin-bottom: rem-calc(7.5);

        &.is-first {
            margin-right: rem-calc(7.5);
        }

        &.is-last {
            margin-left: rem-calc(7.5);
        }

        &.is-first,
        &.is-last {
            a {
                color: var(--color-gray-4);
                border-color: var(--color-blue-1);
            }
        }

        &.is-active {
            a {
                @apply shadow-button;

                background-color: var(--color-primary);
                color: var(--color-white);
                border-color: transparent;
                cursor: default;
                pointer-events: none;

                &:focus {
                    color: var(--color-white);
                }
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            min-width: rem-calc(31);
            height: rem-calc(38);
            padding: rem-calc(6) rem-calc(15) rem-calc(5) rem-calc(15);
            font-size: rem-calc(13);
            font-weight: 700;
            letter-spacing: 0.05em;
            color: var(--color-black);
            border-radius: 50px;
            background-color: var(--color-blue-1);
            border: 1px solid var(--color-clr-gray-2);
            text-decoration: none;
            transition: color 300ms, border-color 300ms;

            &:hover, &:focus {
                color: var(--color-primary);
                border-color: var(--color-primary);
            }

            .is-first &,
            .is-last & {
                border-color: transparent;
            }
        }
    }
}
