.PageSettings {
    $self: &;

    @apply flex flex-col;

    @include only-to('large') {
        justify-content: center;
    }

    background-color: var(--color-white);

    .Header--alternative & {
        background-color: transparent;
    }

    &--is-active {
        @apply z-20;

        .Header--alternative & {
            background-color: var(--color-white);
        }

        @include only-to('large') {
            @apply fixed inset-0 w-full h-full;

            justify-content: initial;

            span {
                padding: rem-calc(10) rem-calc(25) !important;
            }
        }

        @include respond-to('large') {
            @apply shadow-element;
        }
    }

    @include respond-to('large') {
        position: relative;
        max-width: rem-calc(230);
        width: 100%;
    }

    span {
        user-select: none;
        display: flex;
        align-items: center;
        padding: rem-calc(10) 0;
        cursor: pointer;
        font-size: rem-calc(14);
        line-height: 1.5;
        font-weight: 600;
        color: var(--color-gray-4);
        transition: color 300ms;

        @include respond-to('large') {
            padding: rem-calc(10) rem-calc(25);
        }

        &:hover, &:focus, &:active {
            color: var(--color-black);
        }

        &#{$self}__trigger {
            color: var(--color-black);
        }

        svg {
            margin-left: auto;
        }
    }

    &__block {
        padding-left: 0;
        padding-right: 0;

        #{$self}--is-active & {
            @include only-to('large') {
                padding-left: rem-calc(20);
                padding-right: rem-calc(20);
            }
        }

        @include respond-to('large') {
            padding-left: rem-calc(13);
            padding-right: rem-calc(13);
        }

        &:not(:first-of-type) {
            border-top: 1px solid var(--color-clr-gray-1);
        }

        &--top {
            display: flex;
            justify-content: space-between;

            #{$self}--is-active & {
                @include only-to('large') {
                    height: var(--header-inner-height);
                }
            }

            @include respond-to('large') {
                padding-top: rem-calc(5);
                padding-bottom: rem-calc(5);
            }
        }

        &--bottom {
            #{$self}--is-active & {
                @include respond-to('large') {
                    padding-bottom: rem-calc(13);
                }
            }
        }

        &-group {
            display: none;
            padding-bottom: rem-calc(13);
            background: inherit;

            #{$self}--is-active & {
                display: initial;
            }


            @include respond-to('large') {
                @apply absolute left-0 right-0 shadow-element;

                top: 100%;
            }
        }
    }

    &__close-trigger {
        display: none;
        padding: rem-calc(12);

        .icon-container {
            font-size: 1.5rem;

            @include respond-to('large') {
                font-size: 1.25rem;
            }
        }

        #{$self}--is-active & {
            @include only-to('large') {
                display: initial;
            }
        }
    }

    &__trigger {
        flex: 1;
    }

    ul {
    }

    li {
        &.active {
            span {
                font-weight: bold;
                color: var(--color-black);
                background: transparent url(../images/svg/icon-checked.svg) no-repeat 0 center / 1.375rem 1.375rem;
            }
        }
    }
}
