.Pill {
    @apply leading-tight border uppercase font-medium;
    @apply inline-block no-underline transition-colors duration-200 ease-in-out;

    padding: rem-calc(5) rem-calc(15);
    border-radius: rem-calc(50);
    font-family: var(--font-secondary);
    letter-spacing: 0.05em;
    color: var(--color-gray-5);
    border-color: var(--color-gray-2);
    background-color: var(--color-blue-2);

    &:hover, &:focus, &:active, &.active {
        color: var(--color-white);
        border-color: transparent;
    }

    &:hover, &:focus {
        background-color: var(--color-tertiary);
    }

    &:active, &.active {
        background-color: var(--color-primary);
    }

    & + & {
        margin: 0 rem-calc(10) rem-calc(10) 0;
    }
}

.RadioPill {
    display: inline-block;
    cursor: pointer;

    span {
        @apply leading-tight border uppercase font-medium;
        @apply inline-block no-underline transition-colors duration-200 ease-in-out;

        padding: rem-calc(5) rem-calc(15);
        border-radius: rem-calc(50);
        font-family: var(--font-secondary);
        letter-spacing: 0.05em;
        color: var(--color-gray-5);
        border-color: var(--color-gray-2);
        background-color: var(--color-blue-2);
    }

    input {
        @extend .sr-only;

        &:checked + span {
            color: var(--color-white);
            background-color: var(--color-primary);
        }

        &:hover + span,
        &:active + span {
            color: var(--color-white);
            background-color: var(--color-tertiary);
        }

        &:focus + span {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }

    & + & {
        margin: 0 rem-calc(10) rem-calc(10) 0;
    }
}
