.Select {
    @apply leading-tight border uppercase font-medium;
    @apply inline-block no-underline transition-colors duration-200 ease-in-out;

    padding: rem-calc(5) rem-calc(15);
    border-radius: rem-calc(50);
    font-family: var(--font-secondary);
    letter-spacing: 0.05em;
    color: var(--color-white);
    border-color: var(--color-gray-2);
    background-color: var(--color-primary);

    &:hover, &:focus, &:active, &.active {
        color: var(--color-white);
        border-color: transparent;
    }

    &:hover, &:focus {
        background-color: var(--color-tertiary);
    }

    & + & {
        margin: 0 rem-calc(10) rem-calc(10) 0;
    }
}
