.Sidebar {
    $self: &;

    width: 100%;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);

    @include parent-article {
        padding-left: 0;
        padding-right: 0;
    }

    &--desktop-sticky {
        @include respond-to('large') {
            top: 0;
            position: sticky;
            overflow: auto;
            height: 100vh;
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__action {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        width: rem-calc(42);
        height: rem-calc(42);

        svg {
            margin: auto;
        }
    }

    &__body {
        ul {
            padding-bottom: rem-calc(10);

            .Sidebar__item.is-collapsed & {
                padding-bottom: 0;
            }
        }

        a {
            @apply font-bold inline-block text-sm leading-tight tracking-wide no-underline;

            padding-top: 10px;
            padding-bottom: 10px;
            color: var(--color-gray-5);
        }

        .Sidebar__item.is-collapsed & {
            @apply pb-0;
        }
    }
}

.Sidebar__item {
    border-bottom: 1px solid var(--color-clr-gray-2);

    &.is-collapsed {
        .Sidebar__body {
            @apply hidden;
        }
    }
}

.SidebarHeader__title {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;

    .Sidebar__item.is-collapsed & {
        a {
            display: inline-block;

            span {
                &::before {
                    @apply opacity-0;
                }
            }
        }
    }

    a {
        @extend .Title;
        @extend .Title--small;

        display: block;
        padding-top: rem-calc(9);
        padding-bottom: rem-calc(9);
        color: currentColor;
        text-decoration: none;

        &:hover, &:focus {
            color: currentColor;

            span {
                &::before {
                    opacity: 1 !important;
                }
            }
        }
    }

    span {
        @apply relative;

        //white-space: nowrap;

        &::before {
            @apply absolute inline-block w-full left-0 right-0 transition-opacity duration-200 ease-in-out;

            content: "";
            bottom: rem-calc(2);
            height: rem-calc(4);
            background-color: rgba(234, 118, 36, 0.3);
        }
    }
}
