.Socials {
    &__list {
        @apply flex;

        li {
            &:not(&:last-of-type) {
                margin-right: rem-calc(10);
            }
        }

        a {
            display: block;
            overflow: hidden;
            border-radius: 100%;
            background-color: var(--color-gray-6);
        }
    }
}
