.SpecialItem {
    $self: &;

    &:focus-within {
        @extend %focus-style;
    }

    &--primary,
    &--secondary,
    &--tertiary,
    &--quaternary {
        @apply shadow-element overflow-hidden w-full;
        border-radius: rem-calc(5);
    }

    &--primary,
    &--secondary {
        @include only-to('medium') {
            aspect-ratio: 324 / 350;
        }

        &:focus-within {
            @extend %focus-style;
        }
    }

    &--primary {
    }

    &--secondary {
        background-color: var(--color-white);
    }

    &--tertiary {
        display: inline-flex;
        flex-direction: column;
        padding: rem-calc(30) rem-calc(20);
        text-align: center;
        background-color: var(--color-white);
    }

    &--quaternary {
        padding: rem-calc(30) rem-calc(20);
        background-color: var(--color-white);
    }

    &--quinary {
        @apply flex relative;

        padding: rem-calc(20) rem-calc(20) rem-calc(20) rem-calc(70);
        background-color: transparent;
    }

    &--6\/12 {
        max-width: rem-calc(560);
    }

    &--5\/12 {
        max-width: rem-calc(460);
    }

    &--4\/12 {
        max-width: rem-calc(360);
    }

    &--3\/12 {
        max-width: rem-calc(260);
    }

    &__link {
        @apply flex flex-col relative h-full;
        text-decoration: none !important;

        &:focus, &:active {
            outline: none;
        }
    }

    &__image {
        #{$self}--primary &,
        #{$self}--secondary & {
            @apply flex justify-center;
            @apply h-full;
        }

        #{$self}--tertiary & {
            margin-top: rem-calc(10);
            margin-bottom: rem-calc(20);
        }

        #{$self}--quinary & {
            @apply absolute left-0 top-0;
        }

        img {
            @apply transition-transform duration-200 ease-in-out;
            margin: 0 auto;

            #{$self}--primary & {
                @apply object-cover w-full h-full object-center;
            }

            #{$self}--secondary & {
                @apply object-scale-down w-auto h-auto;
            }

            #{$self}--primary &,
            #{$self}--secondary & {
                @media (max-width: 479px) {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    &__content {
        #{$self}--primary &,
        #{$self}--secondary &,
        #{$self}--tertiary &,
        #{$self}--quaternary & {
            background-color: rgba(255, 255, 255, 0.9);
        }

        #{$self}--primary & {
            @apply absolute bottom-0 left-0 right-0 w-full;
        }

        #{$self}--primary &,
        #{$self}--secondary & {
            @apply p-5;

            z-index: 1;
            border-bottom-left-radius: rem-calc(5);
            border-bottom-right-radius: rem-calc(5);
        }

        #{$self}--tertiary & {
            display: flex;
            flex-direction: column;
            flex: 1;

            p {
                margin-bottom: 1rem;
                font-size: 1rem;
                line-height: 1.5;
                color: var(--color-gray-5);
            }

            .Button {
                margin-top: auto;
                align-self: center;

                &:focus {
                    outline: none;
                }
            }
        }

        #{$self}--quinary & {
            p {
                font-size: rem-calc(14);
                line-height: 1.5;
                color: var(--color-gray-5);
            }
        }
    }

    &__meta {
        @apply text-xs tracking-wider leading-6 font-bold uppercase;

        color: var(--color-gray-5);
    }

    &__title {
        @apply tracking-wide;
        @extend %h4;

        #{$self}--secondary &,
        #{$self}--quaternary & {
            @extend %h5;
        }

        #{$self}--tertiary & {
            @extend %h6;
        }

        #{$self}--quaternary &,
        #{$self}--quinary & {
            @apply font-black;

            a {
                text-decoration-color: rgba(234, 118, 36, 0.3);
                color: inherit;
                transition: all 300ms;

                &:focus {
                    outline: none;
                }

                &:hover, &:focus {
                    text-decoration-color: rgba(234, 118, 36, 0);
                }
            }
        }

        #{$self}--quinary & {
            margin-bottom: rem-calc(10);
            font-size: rem-calc(20);
            line-height: 1.1;
        }
    }
}
