%tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    padding: rem-calc(20);
    text-decoration: none;
}

.Tabs {
    @include respond-to('medium') {
        display: grid;
        border-radius: 5px;
        overflow: hidden;
    }

    @include parent-article {
        @include rwd-fluid-sizing("margin-bottom", 20px, 40px);
    }

    @media only screen and (min-width: 769px) {
        grid-template-columns: 0.4fr 1fr;
    }

    &__trigger-container {
        z-index: 1;
        position: relative;
        display: none;
        border-bottom: 1px solid var(--color-blue-2);
        background-color: var(--color-white);

        @include only-to('medium') {
            margin-left: rem-calc(20);
        }

        .Tab {
            background-color: transparent;

            &--active-tab {
                @extend %tab-content;
            }
        }

        @include only-to('medium') {
            display: flex;
        }
    }

    &__active-element {
    }

    &__trigger {
        padding: rem-calc(23);
        font-size: 1.75rem;
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    &__aside {
        @include only-to('medium') {
            position: relative;
        }

        @include respond-to('medium') {
            [role="tablist"] [aria-selected] {
                background-color: var(--color-white);
            }
        }

        @include only-to('medium') {
            [role="tablist"] [aria-selected]::after {
                position: absolute;
                top: calc(50% - 13px);
                right: 20px;
                content: "\0020⬅";
            }
        }

        [role="tablist"] {
            list-style-type: none;

            @include parent-article {
                padding-left: 0;
            }

            @include only-to('medium') {
                z-index: 1;
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

            .Tabs--is-active & {
                @include only-to('medium') {
                    display: block;
                }
            }
        }
    }

    &__body {
        background-color: var(--color-white);

        .Tabs--is-active & {
            @include only-to('medium') {
                filter: blur(5px);
            }
        }

        [role="tabpanel"] {
            @include rwd-fluid-sizing("padding-top", 30px, 60px);
            @include rwd-fluid-sizing("padding-bottom", 30px, 60px);
            @include rwd-fluid-sizing("padding-left", 40px, 120px);
            @include rwd-fluid-sizing("padding-right", 40px, 120px);

            @extend %article-content;

            width: 100%;
            height: 100%;
            border: 1px solid transparent;
        }

        [role="tabpanel"] * + * {
            margin-top: 0.75rem;
        }
    }
}

.Tab {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: rem-calc(86);
    background-color: var(--color-clr-background-2);

    @include parent-article {
        margin-bottom: 0;

        &::before {
            display: none;
        }
    }

    &:not(&:last-of-type) {
        border-bottom: 1px solid var(--color-white);
    }

    a {
        @extend %tab-content;
    }

    &__title {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 0.875rem;
        line-height: 1.55;
        color: var(--color-typography);
    }
}


