.Testimonials {}

.Testimonial {
    $size: 25px;

    display: flex;
    flex-direction: column;
    height: 100%;

    &__container {}

    &__text {
        @include rwd-fluid-sizing("padding", 20px, 30px);

        @extend .Text;
        @extend .Text--intro;

        position: relative;
        height: 100%;
        margin-bottom: 0;
        border-radius: $size;
        font-style: italic;
        color: var(--color-white);
        background-color: var(--color-tertiary);

        &::before {
            content: '';
            position: absolute;
            bottom: -$size;
            left: $size + 5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $size #{$size / 2} 0 #{$size / 2};
            border-color: var(--color-tertiary) transparent transparent transparent;
        }
    }

    &__author {
        margin-top: rem-calc(35);
        padding-left: rem-calc(30);

        .name {
            font-size: rem-calc(14);
            line-height: 1.5;
            font-weight: bold;
            color: var(--color-black);
        }

        .agency {
            font-size: rem-calc(12);
            line-height: 1.6;
            font-weight: 700;
            color: var(--color-gray-4);
            text-transform: uppercase;
        }
    }

    .splide__pagination {
        position: relative;
        margin-top: $size;
        padding-left: $size;
        justify-content: center;
        left: unset;
        transform: translateX(0);

        @include respond-to('large') {
            position: absolute;
            bottom: 0;
            justify-content: flex-end;
            width: 100%;
            margin-top: unset;
        }

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: rem-calc(20);
            height: rem-calc(20);
            margin: 0 rem-calc(10);

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        button {
            display: inline-flex;
            width: rem-calc(12);
            height: rem-calc(12);
            background: transparent url(../images/svg/article/list-mark.svg) no-repeat center / contain;

            &.is-active {
                width: rem-calc(18);
                height: rem-calc(18);
                background-image: url(../images/svg/article/list-mark.svg);
            }
        }
    }
}
