%text-column-spacing {
    @include rwd-fluid-sizing("padding-left", 20px, 40px);
    @include rwd-fluid-sizing("padding-right", 20px, 40px);
}

.TextComponent {
    @extend %text-column-spacing;

    &__container {
        @extend .container;
    }

    &__header {
        @extend %text-column-spacing;

        margin-bottom: rem-calc(30);

        p {
            @extend %h3;
        }
    }

    &--two-columns {
        @include respond-to('medium') {
            column-gap: rem-calc(40);
            column-count: 2;
        }
    }

    &--three-columns {
        @include respond-to('medium') {
            column-gap: rem-calc(40);
            column-count: 3;
        }
    }

    p {
        margin-bottom: rem-calc(16);
    }

    ul, ol {
        @include clamp-size("margin-bottom", 20, 40);

        position: relative;
        padding-left: rem-calc(28);

        li {
            @apply mb-4 mt-0 relative;

            &::before {
                content: '';
                position: absolute;
                top: rem-calc(4);
                left: rem-calc(-24);
                display: inline-flex;
                width: rem-calc(18);
                height: rem-calc(18);
                background: url(../images/svg/article/list-mark.svg);
                background-size: contain;
            }
        }
    }

    & > li {
        @extend %content-paragraph;
        @apply mb-4 mt-0;
    }

    & > li {
    }
}
