.Video {
    position: relative;
    overflow: hidden;
    width: 100%;

    // default aspect ratio
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    &[data-aspect="16:9"] {
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    &[data-aspect="4:3"] {
        padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
    }

    &[data-aspect="2:3"] {
        padding-top: 150%; /* 2:3 Aspect Ratio (divide 3 by 2 = 1) */
    }

    &[data-aspect="1:1"] {
        padding-top: 100%; /* 1:1 Aspect Ratio (divide 1 by 1 = 1) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    &__iframe {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        @include rwd-fluid-sizing("padding-top", 40px, 80px);
        @include rwd-fluid-sizing("padding-bottom", 40px, 80px);

        display: flex;
        flex-direction: column;
        max-width: rem-calc(960);
        width: 100%;
        margin: 0 auto;
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
    }

    &__section {
        background: linear-gradient(0deg, var(--color-typography) 0%, var(--color-typography) 65%, var(--color-white) 65%, var(--color-white) 100%);
    }

    &__text {
    }

    &__title {
        @extend %content-paragraph;

        margin-top: rem-calc(22);
        margin-bottom: rem-calc(16);
        color: var(--color-white);
    }
}
