@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff');
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff');
    font-weight: 900;
    font-display: auto;
}

