.Form__group {

}

.Input {
    @apply font-bold text-base;

    margin-right: rem-calc(20);
    margin-bottom: rem-calc(20);
    padding: rem-calc(18);
    border-radius: rem-calc(5);
    background-color: var(--color-blue-2);

    &::placeholder {
        color: var(--color-typography);
    }

    &--icon {
        padding-left: rem-calc(52);
    }

    &--full-width {
        @apply w-full;
    }
}
