/*
|--------------------------------------------------------------------------
| Function that return z-index from $zlayers variable
|--------------------------------------------------------------------------
*/
@function get-zindex($index) {
    @if map-has-key($zlayers, $index) {
        @return map-get($zlayers, $index);
    }
    @warn 'Layer `#{$index}` not found in $zlayers.';
    @return null;
}

/*
|--------------------------------------------------------------------------
| Function that converts pixels into rems
|--------------------------------------------------------------------------
*/
@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


/*
    Map deep get
    @author Hugo Giraudel
    @access public
    @param {Map} $map - Map
    @param {Arglist} $keys - Key chain
    @return {*} - Desired value
    @source https://css-tricks.com/snippets/sass/deep-getset-maps/
*/
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

/*
    linear-interpolation
    Calculate the definition of a line between two points
    @param $map - A SASS map of viewport widths and size value pairs
    @returns A linear equation as a calc() function
    @example
      font-size: linear-interpolation((320px: 18px, 768px: 26px));
    @author Jake Wilson <jake.e.wilson@gmail.com>
*/
@function linear-interpolation($map) {
    $keys: map-keys($map);

    @if (length($keys) != 2) {
        @error "linear-interpolation() $map must be exactly 2 values";
    }
    $m: (map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1))) / (nth($keys, 2) - nth($keys, 1));
    $b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);
    $sign: "+";

    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }
    @return calc(#{$m*100}vw #{$sign} #{$b});
}

/*
    list-remove
    Remove an item from a list
    @param $list - A SASS list
    @param $index - The list index to remove
    @returns A SASS list
    @author Jake Wilson <jake.e.wilson@gmail.com>
*/
@function list-remove($list, $index) {
    $newList: ();

    @for $i from 1 through length($list) {
        @if $i != $index {
            $newList: append($newList, nth($list, $i), "space");
        }
    }

    @return $newList;
}

/*
    list-sort
    Sort a SASS list
    @param $list - A SASS list
    @returns A sorted SASS list
    @requires function list-remove
    @author Jake Wilson <jake.e.wilson@gmail.com>
*/
@function list-sort($list) {
    $sortedlist: ();

    @while length($list) > 0 {
        $value: nth($list, 1);

        @each $item in $list {
            @if $item < $value {
                $value: $item;
            }
        }
        $sortedlist: append($sortedlist, $value, "space");
        $list: list-remove($list, index($list, $value));
    }

    @return $sortedlist;
}

/*
    map-sort
    Sort map by keys
    @param $map - A SASS map
    @returns A SASS map sorted by keys
    @requires function list-sort
    @author Jake Wilson <jake.e.wilson@gmail.com>
*/
@function map-sort($map) {
    $keys: list-sort(map-keys($map));
    $sortedMap: ();

    @each $key in $keys {
        $sortedMap: map-merge($sortedMap, ($key: map-get($map, $key)));
    }

    @return $sortedMap;
}

@function get-vw($target) {
    $vw-context: (1200 * 0.01) * 1px;

    @return ($target / $vw-context) * 1vw;
}

@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}
