@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

%focus-style {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 2px;
}

%margin-bottom-30 {
    @include rwd-fluid-sizing("margin-bottom", 20px, 30px);
}

%container-basic {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding-left: rem-calc($gap);
    padding-right: rem-calc($gap);
}

%container-settings-global {
    @extend %container-basic;

    @include respond-to('small') {
        max-width: rem-calc(640);
    }

    @include respond-to('medium') {
        max-width: rem-calc(768);
    }

    @include respond-to('large') {
        max-width: rem-calc(1024);
    }

    @include respond-to('xlarge') {
        max-width: rem-calc(1200);
    }
}

%container-large {
    max-width: rem-calc(1440);
}

%container-settings-menu {
    @include only-to('large') {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding-left: rem-calc($gap);
        padding-right: rem-calc($gap);
    }

    @include respond-to('small') {
        max-width: rem-calc(640);
    }

    @include respond-to('medium') {
        max-width: rem-calc(768);
    }

    @include respond-to('large') {
        max-width: rem-calc(1024);
    }
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
    color: var(--color-typography);
    background-color: var(--color-blue-2);
}

body {
    @apply text-base leading-relaxed antialiased subpixel-antialiased;
    @apply flex flex-col;

    padding-top: var(--menu-position, 50px);
    font-family: var(--font-primary);
}

a {
    &:focus {
        @extend %focus-style;
    }

    &.skip-main {
        position: absolute;
        left: -999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -999;

        &:focus, &:active {
            z-index: 999;
            left: auto;
            top: auto;
            width: 30%;
            height: auto;
            overflow: auto;
            padding: 5px;
            border-radius: 0;
            border: 1px solid var(--color-black);
            background-color: var(--color-black);
            color: var(--color-white) !important;
            text-align: center;
            font-size: 1rem;
        }
    }
}

strong, b {
    @apply font-bold;
}

.icon-container {
    position: relative;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon-1\.25x {
    font-size: 1.25rem;
}

.icon-1\.5x {
    font-size: 1.5rem;
}

.icon-2x {
    font-size: 2rem;
}

.icon-3x {
    font-size: 3rem;
}

.prevent-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.container {
    @extend %container-settings-global;
}

.container-960 {
    @extend %container-basic;

    max-width: rem-calc(960);
}

.container-landing {
    @extend %container-large;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--color-white);
}

td, th {
    border: 1px solid var(--color-gray-2);
    padding: rem-calc(8);
    color: var(--color-gray-4);
}

tr:nth-child(even) {
    background-color: var(--color-white);
}

tr:hover {
    //background-color: var(--color-gray-2);
}

th {
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);
    text-align: left;
    background-color: var(--color-primary);
    color: var(--color-white);
}
