.Layout {
    display: grid;

    &--sidebar {
        @include respond-to('large') {
            grid-column-gap: rem-calc(40);
            grid-template-columns: rem-calc(280) 1fr;
        }
    }

    &--landing {
        @include respond-to('large') {
            grid-template-columns: rem-calc(280) 1fr;
        }
    }

    &--three-items {
        grid-gap: rem-calc(40);
        grid-template-columns: repeat(auto-fit, minmax(rem-calc(260), 1fr));
    }

    &--three-items-progressive {
        grid-gap: rem-calc(40);

        @include respond-to('medium') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to('large') {
            grid-template-columns: calc(41.66666667% - 20px) calc(33.33333333% - 20px) calc(25% - 40px);
        }
    }

    &--four-items {
        grid-gap: rem-calc(40);

        @include respond-to('medium') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to('large') {
            grid-template-columns: repeat(auto-fit, minmax(auto, rem-calc(260)));
        }
    }

    &--four-items-small {
        grid-gap: rem-calc(20);

        @include respond-to('medium') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to('large') {
            grid-template-columns: repeat(auto-fit, minmax(auto, rem-calc(275)));
        }
    }

    &--three-items-flex {
        $spacing: 30px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: #{$spacing + 10};

        & > div {
            @include respond-to('medium') {
                width: calc(50% - #{$spacing - 10});
            }
            @include respond-to('large') {
                width: calc(33% - #{$spacing - 6});
            }
        }
    }

    &--four-items-flex {
        $spacing: 30px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: #{$spacing + 10};

        & > div {
            @include respond-to('medium') {
                width: calc(50% - #{$spacing - 10});
            }
            @include respond-to('large') {
                width: calc(25% - #{$spacing});
            }
        }
    }
}

.Section {
    $self: &;

    @include rwd-fluid-sizing("padding-top", 40px, 80px);
    @include rwd-fluid-sizing("padding-bottom", 40px, 80px);

    &__container {
        $gap: 90px;
        @extend %container-settings-global;

        #{$self}--two-columns & {
            @include respond-to('large') {
                display: grid;
                grid-template-columns: 30% calc(70% - #{$gap});
                grid-gap: #{$gap};
            }
        }
    }

    &__header {
        margin-bottom: rem-calc(30);

        #{$self}--agency-in-numbers & {
            z-index: 1;
            position: relative;
            max-width: rem-calc(956);
            margin: 0 auto;
        }
    }

    &__body {
        #{$self}--agency-in-numbers & {
            position: relative;
            max-width: rem-calc(1200);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__footer {
        @include rwd-fluid-sizing("margin-top", 25px, 50px);

        #{$self}--agency-in-numbers & {
            .Button {
                @include respond-to('large') {
                    position: absolute;
                    bottom: 100px;
                    right: 70px;
                }
            }
        }
    }

    &__title {
        @extend %h3;

        margin-bottom: rem-calc(5);
        font-weight: 900;
        letter-spacing: -0.01em;

        #{$self}--agency-in-numbers & {
            margin-bottom: rem-calc(15);
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--color-clr-brand-helper);

        #{$self}--agency-in-numbers & {
            @extend .Text;
            @extend .Text--intro;

            max-width: rem-calc(600);
            margin: 0 auto;
            font-weight: normal;
            text-transform: initial;

            @include respond-to('large') {
                max-width: rem-calc(800);
            }
        }
    }

    &--bg-white {
        background-color: var(--color-white);
    }

    &--bg-blue-1 {
        background-color: var(--color-blue-1);
    }

    &--bg-blue-2 {
        background-color: var(--color-blue-2);
    }

    &--agency-in-numbers {
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
        text-align: center;
    }
}

.AgencyInNumbers {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);

    &__row {
        display: grid;
        grid-gap: rem-calc(18);
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: rem-calc(10);

        div {
            display: flex;
            align-items: flex-end;

            &:first-of-type {
                justify-content: flex-end;

                span {
                    font-family: var(--font-secondary);
                    font-size: rem-calc(32);
                    line-height: 1.125;
                    font-weight: 900;
                    letter-spacing: 0.01em;
                    text-align: right;
                    color: var(--color-black);

                    small {
                        font-size: rem-calc(18);
                        line-height: 1.125;
                    }
                }
            }

            &:last-of-type {
                justify-content: flex-start;

                span {
                    font-size: rem-calc(13);
                    font-weight: 600;
                    line-height: 1.33;
                    text-align: left;
                    color: var(--color-typography);
                }
            }
        }
    }

    @include respond-to('medium') {
        display: none;
    }
}

.AgencyInNumbersSvg {
    margin-top: var(--ain-position);

    @include only-to('medium') {
        display: none;
    }
}
