%link-settings {
    @apply transition-colors duration-200 ease-in-out underline;

    color: var(--color-primary);

    &:hover, &:focus {
        color: var(--color-tertiary);
    }

    &:active {
        color: var(--color-black);
    }
}

a, .Link {
    &:not(.Button, .Pill, .LanguageMenu, .ButtonCta, .NewsItem__link) {
        @extend %link-settings;
    }
}
