/*
|--------------------------------------------------------------------------
|   Mixins
|--------------------------------------------------------------------------
*/

/*
    poly-fluid-sizing
    Generate linear interpolated size values through multiple break points
    @param $property - A string CSS property name
    @param $map - A SASS map of viewport unit and size value pairs
    @requires function linear-interpolation
    @requires function map-sort
    @example
        @include poly-fluid-sizing('font-size', (576px: 22px, 768px: 24px, 992px: 34px));
    @author Jake Wilson <jake.e.wilson@gmail.com>
*/
@mixin poly-fluid-sizing($property, $map) {
    $length: length(map-keys($map));

    @if ($length < 2) {
        @error "poly-fluid-sizing() $map requires at least values";
    }

    $map: map-sort($map);
    $keys: map-keys($map);

    #{$property}: map-get($map, nth($keys, 1));

    @for $i from 1 through ($length - 1) {
        @media (min-width: nth($keys, $i)) {
            #{$property}: linear-interpolation((nth($keys, $i): map-get($map, nth($keys, $i)), nth($keys, ($i+1)): map-get($map, nth($keys, ($i + 1)))));
        }
    }

    @media (min-width: nth($keys, $length)) {
        #{$property}: map-get($map, nth($keys, $length));
    }
}

/*
    Responsive sizing of elements
*/
@mixin clamp-size($property, $min, $max, $base: 4) {
    #{$property}: clamp(#{$min / 16}rem, #{$base}vw, #{$max / 16}rem)
}

@mixin rwd-fluid-sizing(
    $property,
    $property-medium-bp,
    $property-xlarge-bp) {
    @include poly-fluid-sizing($property, (
        map_get($breakpoints, "medium"): $property-medium-bp,
        map_get($breakpoints, "xlarge"): $property-xlarge-bp)
    );
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }

        @media screen and (min-width: $min-vw) {
            @each $property in $properties {
                #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
            }
        }

        @media screen and (min-width: $max-vw) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

@mixin vw($prop: font-size, $size: 16) {
    #{$prop}: get-vw($size);

    @include breakpoint(xxlarge) {
        $prop: $size;
    }
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "No breakpoint";
    }
}

@mixin only-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "No breakpoint";
    }
}

@mixin parent-article() {
    .Article & {
        @content;
    }
}
