.theme {
    &--dark {
        --color-primary: var(--color-black);
        --color-secondary: var(--color-black);
        --color-tertiary: var(--color-black);
        --color-typography: var(--color-black);

        --color-gray-1: var(--color-white);
        --color-gray-2: var(--color-white);
        --color-gray-3: var(--color-white);
        --color-gray-4: var(--color-black);
        --color-gray-5: var(--color-black);
        --color-gray-6: var(--color-black);
        --color-gray-7: var(--color-black);
        --color-gray-8: var(--color-black);
        --color-gray-9: var(--color-black);

        --color-blue-1: var(--color-white);
        --color-blue-2: var(--color-white);
        --color-blue-3: var(--color-gray-5);

        --color-clr-gray-1: var(--color-black);
        --color-clr-gray-2: var(--color-white);
        --color-clr-background-2: var(--color-white);

        --color-clr-brand-alt: var(--color-black);
        --color-clr-brand-helper: var(--color-black);

        .Button {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }

    &--light {
        --color-black: #121212;
        --color-white: #151515;
        --color-typography: #F2F2F2;
        --color-blue-1: #151515;
        --color-blue-2: #222;
        --color-blue-3: #121212;

        // Headings
        h1, .h1, p.h1,
        h2, .h2, p.h2,
        h3, .h3, p.h3,
        h4, .h4, p.h4,
        h5, .h5, p.h5,
        h6, .h6, p.h6 {
            color: #fff;
        }

        // Titles
        .Title {
            color: #F2F2F2;
        }

        .PageHeader {
            &__primary {
                color: #F2F2F2;
            }

            &__seconadry {
                color: #F2F2F2;
            }
        }

        .SectionHeader {
            &__title {
                color: #F2F2F2;
            }

            &__subtitle {
                color: #EA7624;
            }
        }

        // Subtitles
        .Subtitle {
            color: #EA7624;
        }

        // Meta
        .Meta {
            color: #AAA;
        }

        // Links
        a:not(.Button, .Pill, .LanguageMenu, .ButtonCta, .NewsItem__link),
        .Link:not(.Button, .Pill, .LanguageMenu, .ButtonCta, .NewsItem__link) {
            color: #EA7624;

            &:hover {
                color: #0FB6CE;
            }

            &:active, &:focus {
                color: #F2F2F2;
            }
        }

        // Pills
        .Pill {
            color: #AAA;
            border-color: #555;
        }

        // Table
        table {
            th {
                background-color: #000;
                color: #fff;
            }

            th, td {
                border-color: #434750;
            }

            td {
                color: #E2E2E2;
                background-color: transparent;
            }
        }

        // Button
        .Button {
            &:not(&:disabled) {
                background-color: #EA7624;
                border-color: #EA7624;

                &:hover {
                    background-color: #0FB6CE;
                    border-color: #0FB6CE;
                }

                &:active, &:focus {
                    background-color: #F2F2F2;
                    border-color: #F2F2F2;
                }
            }

            &[disabled] {
                background-color: #777;
                border-color: #777;

                &:hover {
                    background-color: #777;
                    border-color: #777;
                }

                &:active, &:focus {
                    background-color: #777;
                    border-color: #777;
                }
            }
        }

        // PageSettings
        .PageSettings {
            &__block {
                &:not(:first-of-type) {
                    border-top-color: #434750;
                }
            }

            span {
                color: #E2E2E2;

                &.PageSettings__trigger {
                    color: #E2E2E2;
                }

                &:hover, &:active {
                    color: #EA7624;
                }

                &:focus {
                    color: #0fb6ce;
                }
            }

            li.active span {
                color: #0fb6ce;
                background: none;
            }
        }

        // LanguageMenu
        .LanguageMenu {
            color: #E2E2E2;

            &:hover, &:active {
                color: #EA7624;
            }

            &:focus {
                color: #0fb6ce;
            }
        }

        // Nav
        .Nav__list, .Header__menu {
            a {
                color: #fff;

                span {
                    &::before {
                        display: none;
                    }
                }

                &:hover, &:active {
                    color: #EA7624;
                }

                &:focus {
                    color: #0fb6ce;
                }
            }
        }

        // Intro blocks
        .IntroBlock {
            &__label {
                color: #ea7624 !important;
            }

            &__title, &__text {
                color: #fff !important;
            }

            &--bg-blue-3 {
                background-color: #222;
            }
        }

        // Hero
        .Hero {
            &__title {
                color: #fff !important;
            }
        }

        // Document
        .Document {
            border-color: #434750;
        }

        // News items
        .NewsItem {
            &__link {
                color: #fff;
            }

            &__meta, &__text {
                color: #AAA;
            }
        }

        // Special content
        .SpecialItem {
            &__title, &__meta {
                color: #E2E2E2 !important;

                a {
                    text-decoration-color: #fff !important;
                }
            }

            &__content {
                background-color: transparent !important;

                p {
                    color: #E2E2E2 !important;
                }
            }
        }

        // Faq
        .FaqSection__header p {
            color: #fff;
        }

        .Faq {
            &:not(:first-of-type) {
                border-top-color: #434750;
            }

            border-bottom-color: #434750;
        }

        // Sidebar
        .Sidebar {
            &Header__title {
                span {
                    &::before {
                        display: none;
                    }
                }
            }

            &__item {
                border-bottom-color: #434750;
            }
        }

        // Tabs
        .Tab {
            background-color: #EBEDF5;
        }

        // TextComponent__header
        .TextComponent__header p {
            color: #fff;
        }

        // Video
        .Video {
            &__title, &__text {
                color: #fff;
            }

            &__section {
                background: var(--color-white);
            }
        }

        // Section
        .Section {
            &__title {
                color: #fff;
            }

            &__subtitle {
                color: #EA7624;
            }
        }

        // Testimonial
        .Testimonial {
            &__author {
                .name {
                    color: #fff;
                }

                .agency {
                    color: #EA7624;
                }
            }

            &__title {
                color: #fff;
            }

            &__text {
                color: #fff;
                background-color: var(--color-black);

                &::before {
                    border-color: var(--color-black) transparent transparent transparent;
                }
            }
        }

        // Program aside
        .ProgramAside__title {
            color: #fff;
        }

        // Pagination
        .Pagination__list-element {
            a {
                border-color: #555;
            }
        }

        // Footer
        .Footer {
            &__section-header {
                .title {
                    color: #fff;
                }
            }

            .ButtonCta--icon {
                svg {
                    color: var(--color-gray-3);
                }
            }
        }

        // Agency in numbers
        .AgencyInNumbers {
            div {
                &:first-of-type {
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }

    &--font-dyslexia {
        --font-primary: var(--font-lexend);
        --font-secondary: var(--font-lexend);
    }
}
