%headings-base {
    @apply font-bold mt-0;

    font-family: var(--font-secondary);
    letter-spacing: 0.01em;
    color: var(--color-black);
}

%h1 {
    @apply font-black;
    @extend %headings-base;

    @include clamp-size("font-size", 32, 54);
    @include clamp-size("line-height", 36, 60);
}

%h2 {
    @extend %headings-base;

    @include clamp-size("font-size", 24, 42);
    @include clamp-size("line-height", 30, 50);

    letter-spacing: unset;
}

%h3 {
    @extend %headings-base;

    @include clamp-size("font-size", 22, 36);
    @include clamp-size("line-height", 30, 40);
}

%h4 {
    @extend %headings-base;

    @include clamp-size("font-size", 20, 30);
    @include clamp-size("line-height", 26, 36);
}

%h5 {
    @extend %headings-base;

    @include clamp-size("font-size", 18, 24);
    @include clamp-size("line-height", 24, 30);
}

%h6 {
    @extend %headings-base;

    @include clamp-size("font-size", 16, 22);
    @include clamp-size("line-height", 22, 30);
}

%hero {
    @include clamp-size("font-size", 28, 52);
    @include clamp-size("line-height", 36, 70);
}

%content-paragraph-no-margin {
    @include clamp-size("font-size", 16, 19);
    @include clamp-size("line-height", 26, 32);
}

%content-paragraph {
    @extend %content-paragraph-no-margin;
    @include clamp-size("margin-bottom", 32, 36);
}

h1, .h1, p.h1,
h2, .h2, p.h2,
h3, .h3, p.h3,
h4, .h4, p.h4,
h5, .h5, p.h5,
h6, .h6, p.h6 {
    @extend %headings-base;
}

h1, .h1 {
    @extend %h1;
}

h2, .h2 {
    @extend %h2;
}

h3, .h3 {
    @extend %h3;
}

h4, .h4 {
    @extend %h4;
}

h5, .h5 {
    @extend %h5;
}

h6, .h6 {
    @include clamp-size("font-size", 16, 22);
    @include clamp-size("line-height", 2, 30);
}

.Title {
    @apply mt-0;

    font-family: var(--font-secondary);
    color: var(--color-black);

    &--big {
        @apply font-black leading-tight;
        @extend %hero;
    }

    &--small {
        @apply font-bold;
        @include clamp-size("font-size", 16, 18);
        @include clamp-size("line-height", 22, 24);

        letter-spacing: 0.02em;
    }
}

.Subtitle {
    @apply tracking-wider uppercase font-bold;

    color: var(--color-gray-5);

    &--regular {
        @apply text-sm leading-snug;
    }

    &--large {
        @apply text-base leading-tight;
    }

    &--small {
        @apply text-xs leading-relaxed;
    }
}

.Meta {
    @apply leading-normal;

    color: var(--color-gray-5);

    &--regular {
        @apply text-sm;
    }

    &--large {
        @apply text-base;
    }

    &--small {
        font-size: rem-calc(13);
    }
}

.Text {
    @apply mb-4 mt-0;

    &--intro {
        @include clamp-size("font-size", 18, 21);
        @include clamp-size("line-height", 28, 33);

        @include respond-to('large') {
            letter-spacing: 0.01em;
        }
    }

    &--content {
        @extend %content-paragraph;
    }

    &--quote {
        @include clamp-size("font-size", 19, 21);
        @include clamp-size("line-height", 28, 34);

        font-style: italic;
    }

    p {
        @include clamp-size("margin-bottom", 20, 40);
    }
}

.ain-text-primary {
    @apply font-bold;

    font-family: var(--font-primary);
}

.ain-text-secondary {
    @apply font-medium;

    font-family: var(--font-primary);
}
