:root {
    // Components
    --menu-position: 0;
    --header-inner-height: 114px;
    --ain-position: -120px;
    --header-extra-height: 85px;

    // Colors
    --color-white: #FFF;
    --color-black: #000;

    --color-primary: #2C6BA9;
    --color-secondary: #0FB6CE;
    --color-tertiary: #EA7624;
    --color-typography: #212A3D;

    --color-gray-1: #F2F2F2;
    --color-gray-2: #E2E2E2;
    --color-gray-3: #AAA;
    --color-gray-4: #777;
    --color-gray-5: #555;
    --color-gray-6: #434750;
    --color-gray-7: #999;
    --color-gray-8: #CCC;
    --color-gray-9: #e4e4e;

    --color-blue-1: #F8F9FD;
    --color-blue-2: #EBEDF5;
    --color-blue-3: #184890;

    --color-clr-gray-1: #F1F1F1;
    --color-clr-gray-2: #E2E2E2;
    --color-clr-background-2: #EEF0F7;

    --color-clr-brand-alt: #00A3B9;
    --color-clr-brand-helper: #868789;

    // Fonts
    --font-base: 100;
    --font-size: calc(var(--font-base) * 1%);
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: Roboto, sans-serif;
    --font-dyslexic: OpenDyslexic, sans-serif;
    --font-lexend: 'Lexend', sans-serif;
}

$breakpoints: (
    small: 640px,
    medium: 768px,
    mediumLarge: 990px,
    large: 1024px,
    xlarge: 1280px
);

$gap: 20;
$column-size: 60;
$container-width: 1200;
