{% macro imageResizer(image,options) %}

  {# Set Defaults #}
  {% set defaults = {
  sizes: [  
    { width: 400 },
    { width: 1200 },
  ],
  allowUpscale: true,
  alt: false,
  background: false,
  link: false,
  amp: false,
  class: 'Item-image',
  format: 'jpg',
  interlace: true,
  lazy: false,
  mode: 'fit',
  openDiv: false,
  position: false,
  quality: 90,
  ratio: 16/9
  } %}

  {# Merge Attr with Defaults #}
  {% set options = options ? defaults|merge(options) : defaults %}

  {% if image %}

  {# Set Ratio #}
    {% if options.ratio %}
      {% set ratio = options.ratio|split(':') %}
      {% set base64Ratio = options.ratio|split(':') %}
      {% set ratio = ratio|first/ratio|last %}
    {% else %}
      {% set imageSize = image.width ~ ':' ~ image.height %}
      {% set base64Ratio = imageSize|split(':') %}
      {% set ratio = '' %}
    {% endif %}


  {# Define global variables #}
    {% set imageSettings = {
      allowUpscale: options.allowUpscale,
      format: options.format,
      interlace: options.interlace,
      jpegQuality: options.quality,
      mode: options.mode,
      ratio: ratio,
    } %}

  {# Image #}
    {% set images = craft.imager.transformImage(image, options.sizes, imageSettings, { fillTransforms: true }) %}
    {% if options.background %}
      <style>
        {% for image in images %}
        @media (min-width: 601px) { .resized-image01 { background: url('{{ images[1].url }}'); } }
        {% endfor %}
      </style>
      <span class="Item-image resized-image01"></span>
      {% elseif options.lazy %}
        <img data-sizes="auto"
              src="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
              data-srcset="{{ craft.imager.srcset(images) }}"
              class="{{ options.class }} lazyload"
              alt="{% if image.imageAlt %}{{ image.imageAlt }}{% else %}{{ image.title }}{% endif %}" />
      {% elseif options.link %}
          {{ images|last.url }}
      {% elseif options.amp %}
      <amp-img
        alt="{% if image.imageAlt %}{{ image.imageAlt }}{% else %}{{ image.title }}{% endif %}"
        src="{{ images|first.url }}"
        width="{{ images|first.width }}"
        height="{{ images|first.height }}"
        layout="responsive">
      </amp-img>
      {% else %}
        <img sizes="100vw"
            src="{{ images|last.url }}"
            srcset="{{ craft.imager.srcset(images) }}"
            class="{{ options.class }}"  
            alt="{% if image.imageAlt %}{{ image.imageAlt }}{% else %}{{ image.title }}{% endif %}" />
    {% endif %}
  {% endif %}
{% endmacro %}