.Map {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    @include respond-to('medium') {
        padding-bottom: percentage(700 / 1440);
    }

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
