.FilterAction {
    &__block {
        & + & {
            margin-top: rem-calc(30);
        }
    }

    &__title {
        margin-bottom: rem-calc(20);
        padding-left: rem-calc(15);
        font-size: rem-calc(20);
        line-height: 1.5;
        font-weight: bold;
    }

    &__search {
        display: flex;
        align-items: center;
        position: relative;

        input {
            width: 100%;
            padding: rem-calc(15) rem-calc(69) rem-calc(15) rem-calc(15);
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    ul {
    }

    li {
        display: inline-block;
        margin: 0 rem-calc(10) rem-calc(10) 0;
    }
}

.FilterResults {
    &__list {
        display: grid;
        grid-gap: rem-calc(30);

        .Document {
            margin-bottom: 0;
        }

        li {
        }

        &--grid {
            @include respond-to('medium') {
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: rem-calc(40);
            }

            @include respond-to('large') {
                grid-template-columns: repeat(3, 1fr);
            }

            li {
                display: flex;
                flex-direction: column;

                & > * {
                    height: 100%;
                }

                @include respond-to('large') {
                    &.columns-2 {
                        grid-column: span 2;
                    }

                    &.columns-3 {
                        grid-column: span 3;
                    }
                }

                .NewsItem--small {
                    max-width: unset;
                }
            }
        }
    }
}
