.Program,
.Content {
    @include rwd-fluid-sizing("padding-top", 30px, 55px);
    @include rwd-fluid-sizing("padding-bottom", 30px, 55px);

    &__aside {
        @include rwd-fluid-sizing("padding-bottom", 30px, 55px);
        &--landing {
            @apply shadow-element;

            background-color: var(--color-white);
        }
    }

    &__section {
    }

    &__header {
        margin-bottom: rem-calc(40);
    }

}

.ProgramAside__header,
.ContentAside__header {
}

.ProgramAside__title,
.ContentAside__title {
    @extend %h5;

    margin-bottom: rem-calc(25);
}
