{% extends "_layout" %}
{% set navItems = craft.facetedNavigation.buildFacets(['podrucja']) %}

{% set relationParam = ['or'] %}
{% set params = {
	status: 'live',
	section: ['publikacije', 'programi', 'novosti', 'natjecaji', 'dogadanja', 'oNama'],
	orderBy: 'title asc',
	limit: null,
	with: ['title']
	}
%}
{% set searchQuery = craft.app.request.getQueryParam('q') %}
{% set sectionQuery = craft.app.request.getQueryParam('section') %}

{% block content %}
{{ include("_header.html") }}
<main id="main" s-replace="#results">
    <section class="container">
        <section data-js="cmp-layout-sidebar" data-option-show-mobile class="Content Layout Layout--sidebar">

            <aside class="Content__aside" aria-expanded="true">
                <form class="FilterAction" action="">

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Unesi pretragu</p>
                        <div class="FilterAction__search">
                            {# Replaces only the `#results` div #}
                            <input type="text" name="q" value="{{searchQuery}}" placeholder="Traži" class="text">
                            <button class="Button Button--small Button--secondary">
                                <svg class="icon-container icon-1.5x">
                                    <use xlink:href="#icon-search"/>
                                </svg>
                            </button>
                        </div>
                    </div>
					
					{% for catGroup in navItems.categoryGroups %}

                    <div class="FilterAction__block">
                        <p class="FilterAction__title">{{ catGroup.name }}</p>
                        <ul>
                        	{% for cat in attribute(navItems.categories, catGroup.handle) %}
                            <li>
                            	<a href="{% if cat.active %}{{ url('trazilica'~cat.url.remove) }}{% else %}{{ url('trazilica'~cat.url.add) }}{% endif %}" class="Pill{% if cat.active %} active{% endif %}">{{ cat.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <div class="FilterAction__block">
                        <p class="FilterAction__title">Vrsta sadržaja</p>
                        <ul>
                            <li><a href="{% if sectionQuery == 'programi' %}?q=&section={% else %}?q=&section=programi{% endif %}" class="Pill{% if sectionQuery == 'programi' %} active{% endif %}">Programi</a></li>
                            <li><a href="{% if sectionQuery == 'natjecaji' %}?q=&section={% else %}?q=&section=natjecaji{% endif %}" class="Pill{% if sectionQuery == 'natjecaji' %} active{% endif %}">Natječaji</a></li>
                            <li><a href="{% if sectionQuery == 'dogadanja' %}?q=&section={% else %}?q=&section=dogadanja{% endif %}" class="Pill{% if sectionQuery == 'dogadanja' %} active{% endif %}">Događanja</a></li>
                            <li><a href="{% if sectionQuery == 'publikacije' %}?q=&section={% else %}?q=&section=publikacije{% endif %}" class="Pill{% if sectionQuery == 'publikacije' %} active{% endif %}">Publikacije</a></li>
                        </ul>
                    </div>
                </form>
            </aside>

            <section class="Content__section">		
                <article class="Article Article--no-padding">
                    <header class="Article__header">
                        <h1 class="PageHeader__primary">Pronađi sve za sebe</h1>
                        <nav>
                            <ul>
							{% if navItems.activeCategories|length %}
								{% for category in navItems.activeCategories %}
									{% set relationParam = relationParam|merge([{ targetElement:category }]) %}
								{% endfor %}
                            {% endif %}
                            </ul>
                        </nav>
                    </header>
                </article>

                <div class="FilterResults">
                    <ul class="FilterResults__list FilterResults__list--grid" id="results">

				{% if relationParam|length > 1 %}
				    {% set params = params|merge({relatedTo: relationParam}) %}
				{% endif %}
				
				{% set products = craft.entries(params).search(searchQuery).section(sectionQuery).limit(20) %}

				{% if products|length %}

						{% for product in products.all() %}
							{% set image = product.images[0] ?? null %}
                        <li>
                            <div class="NewsItem NewsItem--small">
                                <a href="{{ product.url }}" title="{{ product.title }}" class="NewsItem__link">
                                    <div class="NewsItem__image">
                                    {% for image in product.coverImage %}
                                    {% set transformedImages = craft.imager.transformImage(image, [
                                    { width: 260, height: 174, jpegQuality: 85 }
                                    ], { ratio: 16/10, jpegQuality: 85 }) %}
                                        <img
                                            loading="lazy"
                                            decoding="async"
                                            src="{{ craft.imager.placeholder({ width: 260, height: 174 }) }}"
                                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                                            width="260"
                                            height="174"
                                            alt="{{ image.alttag }}">
                                    {% endfor %}
                                    </div>

                                    <div class="NewsItem__content">
                                        <p class="NewsItem__meta">
                            <span>
                                <strong>{{ product.section }}</strong>,
                                <time datetime="{{ product.postDate | date("Y-m-d") }}">
                                    {% if currentSite.language == 'hr' %}{{ product.postDate | date("d.m.Y.") }}{% else %}{{ product.postDate | date("d F Y") }}{% endif %}
                                </time>
                            </span>
                                        </p>
                                        <p class="NewsItem__title">
                                            {{ product.title }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
						{% endfor %}
				{% else %}
					<p>Nažalost vaša pretraga nije pronašla nikakve rezultate.</p>
				{% endif %}


                    </ul>

<!--                     <section class="Pagination__container">
                        <nav class="Pagination is-centered" role="navigation">
                            <ul class="Pagination__list">
                                <li class="Pagination__list-element is-first">
                                    <a href="/" title="Go to previous page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-left"></use>
                                        </svg>
                                    </a>
                                </li>

                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 1">1</a>
                                </li>
                                <li class="Pagination__list-element is-active">
                                    <a href="/" title="Go to page 2">2</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Go to page 2">3</a>
                                </li>
                                <li class="Pagination__list-element">
                                    <a href="/" title="Show other pages">...</a>
                                </li>
                                <li class="Pagination__list-element is-last">
                                    <a href="/" title="Go to next page">
                                        <svg class="icon-container icon-1.5x">
                                            <use xlink:href="#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section> -->
                </div>
            </section>

        </section>
    </section>
</main>

{% endblock %}