{% extends "_layout" %}
{% block content %}
{% set entries = craft.entries.section('programi').level('1') %}
{{ include("_header.html") }}
<main>
    {% nav entry in entries %}
    <section class="IntroBlock {{ cycle(['', 'IntroBlock--bg-blue-1 IntroBlock--inverted'], loop.index0) }}" data-js="cmp-intro-block">
        <div class="IntroBlock__container">
            <div class="IntroBlock__content">
                <div class="IntroBlock__header">
                    <p class="IntroBlock__title">{{ entry.title }}</p>
                </div>
                <div class="IntroBlock__image">
                    {% for asset in entry.coverImage.all %}
                    {% set transformedImages = craft.imager.transformImage(asset, [
                        { width: 660 }, 
                        { width: 300, jpegQuality: 65 }
                        ], { mode: 'fit', ratio: 660/432, jpegQuality: 100 }, 
                        { fillTransforms: true }) %}
                    <img
                        loading="lazy"
                        src="{{ craft.imager.placeholder({ width: 660, height: 440 }) }}"
                        srcset="{{ craft.imager.srcset(transformedImages) }}"
                        width="660"
                        alt="{{ asset.alttag }}">
                    {% endfor %}
                </div>
                <div class="IntroBlock__text">
                    <p>{{ entry.lead }}</p>
                </div>
                <div class="IntroBlock__cta">
                    <a
                        href="{% if entry.cta %}{{ entry.cta.url }}{% else %}{{ entry.url }}{% endif %}"
                        title="{{ entry.title }}"
                        {% if entry.cta %}target="{{ entry.cta.target }}"{% endif %}
                        class="Button">{% if currentSite.language == 'hr' %}Doznaj više{% else %}Find out more{% endif %}</a>
                </div>
            </div>
        </div>
    </section>
    {% endnav %}
</main>
{% endblock %}