{% extends "calendar-demo/layouts/_layout.html" %}

{% set pageTitle = "Day" %}
{% set page = "day" %}

{% block content %}

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if segment3 == "calendar" %}
        {% set calendarHandle = segment4 %}
        {% if segment5 %}
            {% set targetDate = segment5~"-"~segment6~"-"~segment7 %}
        {% endif %}
    {% elseif segment3 is not empty %}
        {% set targetDate = segment3~"-"~segment4~"-"~segment5 %}
    {% endif %}
<section class="NewsItems">
    <div class="container">
    <div class="row">
        <div class="col-md-9">

            {% include "calendar-demo/layouts/_calendar_banner.html" %}

            {% set day = craft.calendar.day({
                date: targetDate,
                calendar: calendarHandle,
            }) %}

            <div id="day_calendar">

                <div class="row justify-content-between mb-3">

                    <div class="col-3">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}calendar-demo/day/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ day.previousDate|date('Y/m/d') }}">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-left" />
                            </svg> Prethodni
                        </a>
                    </div>

                    <div class="col-auto">
                        <h3>
                            {{ day.date|date('l, F j, Y') }}
                        </h3>
                    </div>

                    <div class="col-2 clearfix">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}calendar-demo/day/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ day.nextDate|date('Y/m/d') }}">
                            Idući <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-right" />
                            </svg>
                        </a>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <td style="width:15%;">
                            {% if day.allDayEventCount %}
                                <strong>All Day</strong>
                                <span class="badge badge-warning float-right">
                                    {{ day.allDayEventCount }}
                                </span>
                            {% else %}
                                Cijeli dan
                            {% endif %}
                        </td>
                        <td>
                            {% if day.allDayEvents %}
                                <ul class="list-group">
                                    {% for event in day.allDayEvents %}
                                        <li class="list-group-item d-flex align-items-center justify-content-between"
                                            style="background-color: {{ event.calendar.lighterColor }}; border-left: 5px solid {{ event.calendar.color }};"
                                        >
                                            <div>
                                                <b>
                                                    <a href="{{ siteUrl }}calendar-demo/event/{{ event.id }}/{{ event.repeating ? event.startDate|date('Y/m/d') }}"
                                                       style="color: {{ event.calendar.contrastColor }} !important;">
                                                        {{ event.title }}</a>
                                                </b>

                                                {% if event['location'] is defined %}
                                                    &nbsp;&nbsp;<i>{{ event.location }}</i>
                                                {% endif %}
                                            </div>

                                            <a href="{{ siteUrl }}calendar-demo/calendars/{{ event.calendar.handle }}/"
                                               class="badge"
                                               style="background-color: {{ event.calendar.color }}; color: {{ event.calendar.contrastColor }};">
                                                {{ event.calendar.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>

                    {% for hour in day %}
                        <tr>
                            <td>
                                {% if hour.eventCount %}
                                    <strong>{{ hour.date|date('H:i') }}</strong>
                                    <span class="badge badge-warning float-right">
                                        {{ hour.eventCount }}
                                    </span>
                                {% else %}
                                    {{ hour.date|date('H:i') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if hour.events %}
                                    <ul class="list-group">
                                        {% for event in hour.events %}
                                            <li class="list-group-item d-flex align-items-center justify-content-between"
                                                style="border-left: 5px solid {{ event.calendar.color }};"
                                            >
                                                <div>
                                                    <span class="far fa-clock"></span>

                                                    {% if event.multiDay %}
                                                        {% if day.containsDate(event.startDate) %}
                                                            Starts {{ event.startDate|date('g:ia') }} ({{ event.duration.humanReadable }})
                                                        {% elseif day.containsDate(event.endDate) %}
                                                            Ends {{ event.endDate|date('g:ia') }} ({{ event.duration.humanReadable }})
                                                        {% endif %}
                                                    {% else %}
                                                        {{ event.startDate|date('g:ia') }} - {{ event.endDate|date('g:ia') }}
                                                    {% endif %}
                                                    &nbsp;
                                                    <b>
                                                        <a href="{{ siteUrl }}calendar-demo/event/{{ event.id }}/{{ event.repeating ? event.startDate|date('Y/m/d') }}"
                                                           class="calendar_event_title">
                                                            {{ event.title }}
                                                        </a>
                                                    </b>

                                                    {% if event['location'] is defined %}
                                                        <i>{{ event.location }}</i>
                                                    {% endif %}
                                                </div>

                                                <a href="{{ siteUrl }}calendar-demo/calendars/{{ event.calendar.handle }}/"
                                                   class="badge"
                                                   style="background-color: {{ event.calendar.color }}; color: {{ event.calendar.contrastColor }};">
                                                    {{ event.calendar.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md-3">
            {% include "calendar-demo/layouts/_sidebar.html" %}
        </div>

    </div>
</div>
</section>
{% endblock %}
