{% extends "calendar-demo/layouts/_layout.html" %}

{% set pageTitle = "Month" %}
{% set page = "month" %}

{% block content %}

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if segment3 == "calendar" %}
        {% set calendarHandle = segment4 %}
        {% if segment5 %}
            {% set targetDate = segment5~"-"~segment6~"-01" %}
        {% endif %}
    {% elseif segment3 is not empty %}
        {% set targetDate = segment3~"-"~segment4~"-01" %}
    {% endif %}
<section class="NewsItems">
    <div class="container">
    <div class="row">
        <div class="col-md-12">

            {% include "calendar-demo/layouts/_calendar_banner.html" %}

            <div id="month_calendar">
                {% set month = craft.calendar.month({
                    date: targetDate,
                    calendar: calendarHandle,
                }) %}

                <div class="row justify-content-between mb-3">
                    <div class="col-3">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}calendar-demo/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.previousDate|date('Y/m') }}">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-left" />
                            </svg>{{ month.previousDate|date('F')|pascal }}
                        </a>
                    </div>

                    <div class="col-auto">
                            {% include "calendar-demo/layouts/_month_heading.html" with {month: month} only %} &nbsp;
                    </div>

                    <div class="col-3 clearfix">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}calendar-demo/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.nextDate|date('Y/m') }}">
                            {{ month.nextDate|date('F')|pascal }}
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-right" />
                            </svg>
                        </a>
                    </div>
                </div>

                <table id="month_calendar_inner" class="table table-bordered">
                    <thead>
                    <tr id="days_of_week" class="active">
                        {% for day in month|first %}
                            <th class="day_of_week">
                                {{ day.date|date("l")|pascal }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in month %}
                        <tr>
                            {% for day in week %}
                                {% if month.containsDate(day.date) %}
                                <td class="day_cell{{ day.dateLocalized.isToday ? " today" }}">
                                    <div class="date{{ day.eventCount ? " has_events" }}">
                                        <a class="num"
                                           href="{{ siteUrl }}calendar-demo/day/{{ segment3 == 'calendar' ? "calendar/"~segment4~"/" }}{{ day.date|date('Y/m/d') }}">
                                            {{ day.date|date('j') }}
                                        </a>
                                    </div>
                                {% else %}
                                    <td class="day_cell out_of_range">
                                    <div class="date">
                                        <span class="num">
                                            {{ day.date|date('j') }}
                                        </span>
                                    </div>
                                {% endif %}

                                {% for event in day.events %}
                                    {% include "calendar-demo/layouts/_event.html" %}
                                {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    </div>
</section>
{% endblock %}
