{% extends "calendar-demo/layouts/_layout.html" %}

{% set pageTitle = "Week" %}
{% set page = "week" %}

{% block content %}

    <h1>Week View</h1>
    <p class="lead">
        Below is full week calendar view, which allows you to see all your event occurrences in a daily view.
    </p>
    <hr /><br />

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if segment3 == "calendar" %}
        {% set calendarHandle = segment4 %}
        {% if segment5 %}
            {% set targetDate = segment5~"-"~segment6~"-"~segment7 %}
        {% endif %}
    {% elseif segment3 is not empty %}
        {% set targetDate = segment3~"-"~segment4~"-"~segment5 %}
    {% endif %}

    <div class="row">
        <div class="col-md-9">

            {% include "calendar-demo/layouts/_calendar_banner.html" %}

            <div id="week_calendar">
                {% set week = craft.calendar.week({
                    date: targetDate,
                    calendar: calendarHandle,
                }) %}

                <div class="row justify-content-between mb-3">
                    <div class="col-2">
                        <a class="btn btn-outline-secondary"
                           href="{{ siteUrl }}calendar-demo/week/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ week.previousDate|date('Y/m/d') }}">
                            <span class="fas fa-arrow-left"></span> Last Week
                        </a>
                    </div>

                    <div class="col-auto">
                        <h3>
                            Week of {{ week.date|date("F j, Y") }} &nbsp;
                            <span class="badge {{ week.eventCount ? "badge-warning" : "badge-secondary" }}">
                            {{ week.eventCount }} event{{ week.eventCount > 1 or week.eventCount == 0 ? "s" }}
                        </span>
                        </h3>
                    </div>

                    <div class="col-2 clearfix">
                        <a class="btn btn-outline-secondary float-right"
                           href="{{ siteUrl }}calendar-demo/week/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ week.nextDate|date('Y/m/d') }}">
                            Next Week <span class="fas fa-arrow-right"></span>
                        </a>
                    </div>
                </div>

                {% for day in week %}
                    <ul class="list-group mb-4">
                        <li class="list-group-item list-group-item-{{ day.dateLocalized.isToday ? "warning" : "secondary" }}">
                            <a class="text-dark font-weight-bold"
                               href="{{ siteUrl }}calendar-demo/day/{{ segment3 == "calendar" ? segment3~"/"~segment4~"/" }}{{ day.date|date('Y/m/d') }}">
                                {% if day.dateLocalized.isToday %}
                                    TODAY
                                {% else %}
                                    {{ day.date|date('l, F j, Y') }}
                                {% endif %}
                            </a> &nbsp;
                            {% if day.eventCount %}
                                <span class="badge badge-warning">
                                    {{ day.eventCount }} event{{ day.eventCount > 1 ? "s" }}
                                </span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            {% if day.events %}
                                <ul class="list-group">
                                    {% for event in day.events %}
                                        <li class="list-group-item d-flex align-items-center justify-content-between"
                                            style="border-left: 5px solid {{ event.calendar.color }};">
                                            <div>
                                                <span class="far fa-clock"></span>
                                                {% if event.allDay %}
                                                    All Day
                                                {% else %}
                                                    {% if event.multiDay %}
                                                        {% if day.containsDate(event.startDate) %}
                                                            Starts {{ event.startDate|date("g:ia") }}
                                                        {% elseif day.containsDate(event.endDate) %}
                                                            Ends {{ event.endDate|date("g:ia") }}
                                                        {% else %}
                                                            All Day
                                                        {% endif %}
                                                    {% else %}
                                                        {{ event.startDate|date("g:ia") }} - {{ event.endDate|date("g:ia") }}
                                                    {% endif %}
                                                {% endif %}
                                                <b>
                                                    <a href="{{ siteUrl }}calendar-demo/event/{{ event.id }}/{{ event.repeating ? event.startDate|date("Y/m/d") }}"
                                                       class="calendar_event_title">
                                                        {{ event.title }}</a>
                                                </b>
                                                {% if event['location'] is defined %}
                                                    &nbsp;&nbsp;<i>{{ event.location }}</i>
                                                {% endif %}
                                            </div>

                                            <a href="{{ siteUrl }}calendar-demo/calendars/{{ event.calendar.handle }}"
                                               class="badge"
                                               style="background-color: {{ event.calendar.color }}; color: {{ event.calendar.contrastColor }};">
                                                {{ event.calendar.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No events for this day.
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3">
            {% include "calendar-demo/layouts/_sidebar.html" %}
        </div>

    </div>

{% endblock %}
