<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--  Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--  CSS  -->    
    <link href="{{ craft.app.sites.primarySite.baseUrl }}css/vendor.bb476f76ed1c8b2e7f4a.min.css" rel="stylesheet">
    <link href="{{ craft.app.sites.primarySite.baseUrl }}css/main.8a9916020d5b8994f4b9.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-73JRD26EXJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-73JRD26EXJ');
    </script>

    {% hook 'seomaticRender' %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ craft.app.sites.primarySite.baseUrl }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ craft.app.sites.primarySite.baseUrl }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ craft.app.sites.primarySite.baseUrl }}favicon-16x16.png">
    <link rel="manifest" href="{{ craft.app.sites.primarySite.baseUrl }}site.webmanifest">

    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ siteUrl }}css/bootstrap-temp.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/calendar-demo/css/main.css">
    {% block headerCss %}{% endblock %}
</head>

{# Acquire URL segments #}
{% set segment1 = craft.app.request.segment(1) %}
{% set segment2 = craft.app.request.segment(2) %}
{% set segment3 = craft.app.request.segment(3) %}
{% set segment4 = craft.app.request.segment(4) %}
{% set segment5 = craft.app.request.segment(5) %}
{% set segment6 = craft.app.request.segment(6) %}
{% set segment7 = craft.app.request.segment(7) %}

<body role="document">
    {% hook 'after-body-start' %}
<!-- SVG Symbols -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-menu" viewBox="0 0 28 16">
        <g fill="currentColor">
            <path d="m0 14h20v2h-20z"/>
            <path d="m0 7h24v2h-24z"/>
            <path d="m0 0h28v2h-28z"/>
        </g>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 22 22">
        <rect y="20.192" width="28" height="2" transform="rotate(-45 0 20.1924)" fill="currentColor"/>
        <rect x="1.414" y=".393" width="28" height="2" transform="rotate(45 1.41418 0.393311)" fill="currentColor"/>
    </symbol>
    <symbol id="icon-mail" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 10.99L4 6H20ZM12 13L4 8V18H20V8L12 13Z" fill="#currentColor"/>
        </g>
    </symbol>
    <symbol id="icon-download" viewBox="0 0 24 24">
        <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.35 10.04C18.67 6.59 15.64 4 12 4C9.11 4 6.6 5.64 5.35 8.04C2.34 8.36 0 10.91 0 14C0 17.31 2.69 20 6 20H19C21.76 20 24 17.76 24 15C24 12.36 21.95 10.22 19.35 10.04ZM19 18H6C3.79 18 2 16.21 2 14C2 11.95 3.53 10.24 5.56 10.03L6.63 9.92L7.13 8.97C8.08 7.14 9.94 6 12 6C14.62 6 16.88 7.86 17.39 10.43L17.69 11.93L19.22 12.04C20.78 12.14 22 13.45 22 15C22 16.65 20.65 18 19 18ZM10.55 10H13.45V13H16L12 17L8 13H10.55V10Z" fill="currentColor"/>
        </g>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 30 30">
        <path d="M23.75 16.25H16.25V23.75H13.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-minus" viewBox="0 0 24 24">
        <path d="M3 11H21V13H3V11Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 24 24">
        <path d="M7.41 15.705L12 11.125L16.59 15.705L18 14.295L12 8.29496L6 14.295L7.41 15.705Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M16.59 8.29504L12 12.875L7.41 8.29504L6 9.70504L12 15.705L18 9.70504L16.59 8.29504Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-hamburger" viewBox="0 0 28 16">
        <rect y="14" width="20" height="2" fill="currentColor" />
        <rect y="7" width="24" height="2" fill="currentColor" />
        <rect width="28" height="2" fill="currentColor" />
    </symbol>
    <symbol id="icon-arrow-left" viewBox="0 0 22 20">
        <path d="M10.9997 16.6665L12.2922 15.4915L7.17718 10.8332L18.333 10.8332V9.1665L7.17718 9.1665L12.2922 4.50817L10.9997 3.33317L3.66634 9.99984L10.9997 16.6665Z" fill="currentColor"/>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 22 20">
        <path d="M11.0003 3.3335L9.70783 4.5085L14.8228 9.16683H3.66699V10.8335H14.8228L9.70783 15.4918L11.0003 16.6668L18.3337 10.0002L11.0003 3.3335Z" fill="currentColor"/>
    </symbol>
</svg>
{{ include("_header.html") }}
{% if page is not defined %}
    {% set page = "month" %}
{% endif %}

    {% block content %}{% endblock %}

<footer class="Footer">
    <div class="Footer__container">
        <div class="Footer__section Footer__section--upper">
            <div class="Footer__block">
                <div class="Footer__section-header Footer__section-header--primary">
                    {% if currentSite.language == 'hr' %}
                    <p class="title">Trebaš pomoć?</p>
                    <span class="subtitle">Reci nam kako ti možemo pomoći</span>
                    {% else %}
                     <p class="title">Need help?</p>
                    <span class="subtitle">Tell us how we can help you</span>
                    {% endif %}
                </div>

                <a href="mailto:info@ampeu.hr" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-mail" />
                    </svg>
                    <span>{% if currentSite.language == 'hr' %}Pošalji e-poruku{% else %}Send email{% endif %}</span>
                </a>
                {% if currentSite.language == 'hr' %}
                <a href="{{ siteUrl }}publikacije" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                {% else %}
                <a href="{{ siteUrl }}publications" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                {% endif %}
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-download" />
                    </svg>
                    <span>{% if currentSite.language == 'hr' %}Preuzmi publikacije{% else %}View publications{% endif %}</span>
                </a>
                <a href="{{ craft.app.sites.primarySite.baseUrl }}newsletter" class="ButtonCta ButtonCta--full-width ButtonCta--icon">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-mail" />
                    </svg>
                    <span>{% if currentSite.language == 'hr' %}Prijavi se na Vjesnik AMPEU{% else %}Subscribe to AMEUP newsletter{% endif %}</span>
                </a>
            </div>
            <div class="Footer__block">
                <div class="Footer__section-header Footer__section-header--secondary">
                    {% if currentSite.language == 'hr' %}
                    <p class="title">Agencija za mobilnost i programe EU</p>
                    <span class="subtitle">Adresa i kontakt</span>
                    {% else %}
                    <p class="title">Agency for Mobility and EU Programmes</p>
                    <span class="subtitle">Address and contact</span>
                    {% endif %}
                </div>
                <div class="Footer__info">
                    <p>
                        <a href="https://goo.gl/maps/P7hFuKvTkjV2NNVa9" title="title">
                            Frankopanska 26, zgrada Leksikografskog zavoda Miroslav Krleža, HR - 10000 Zagreb
                        </a>
                    </p>
                    <p>
                        <a
                            href="tel:+385015556498"
                            title="+385 (0) 1 5556 498">
                            Tel: +385 (0) 1 5556 498
                        </a><br>
                        <a
                            href="fax:+385015005699"
                            title="+385 (0) 1 5005 699">
                            Fax: +385 (0) 1 5005 699
                        </a>
                        <br>
                        <a
                            href="mailto:info@ampeu.hr"
                            title="info@ampeu.hr">
                            e-mail: <strong>info@ampeu.hr</strong>
                        </a>
                    </p>

                    <p>OIB: 25385906011</p>
                </div>
            </div>
            <div class="Footer__block">
                <nav class="Nav Nav--column Footer__nav">
                    <ul class="Nav__list">
                        {% if currentSite.language == 'hr' %}
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}" title="Naslovnica"><span>Naslovnica</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}programi" title="Programi"><span>Programi</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}natjecaji" title="Natječaji"><span>Natječaji</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}novosti" title="Novosti"><span>Novosti</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}trazilica" title="Tražilica"><span>Tražilica</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}dogadanja" title="Događanja"><span>Događanja</span></a></li>
                        <li><a href="{{ craft.app.sites.primarySite.baseUrl }}o-nama" title="O nama"><span>O nama</span></a></li>
                        {% else %}
                        <li><a href="{{ siteUrl }}" title="Homepage"><span>Homepage</span></a></li>
                        <li><a href="{{ siteUrl }}programs" title="Programmes"><span>Programmes</span></a></li>
                        <li><a href="{{ siteUrl }}open-calls" title="Open Calls"><span>Open Calls</span></a></li>
                        <li><a href="{{ siteUrl }}#about-us" title="About us"><span>About us</span></a></li>
                        {% endif %}
                    </ul>
                </nav>

                <div class="Footer__block-info">

                    {% if currentSite.language == 'hr' %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.app.sites.primarySite.baseUrl }}images/sufinancira-europska-unija.png"
                            width="160"
                            height="42"
                            alt="Sufinanica europska unija logo">
                    {% else %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.app.sites.primarySite.baseUrl }}images/sufinancira-europska-unija_en.png"
                            width="160"
                            height="36"
                            alt="Sufinanica europska unija logo">
                    {% endif %}
                    

                </div>
                <div class="Footer__block-info">

                    {% if currentSite.language == 'hr' %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.app.sites.primarySite.baseUrl }}images/ampeu-zeleno-poslovanje-hr.png"
                            width="160"
                            height="42"
                            alt="Sufinanica europska unija logo">
                    {% else %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.app.sites.primarySite.baseUrl }}images/ampeu-zeleno-poslovanje-en.png"
                            width="160"
                            height="36"
                            alt="Sufinanica europska unija logo">
                    {% endif %}
                    

                </div>

            </div>
        </div>
        <div class="Footer__section Footer__section--lower">
            <div class="Socials">
                <ul class="Socials__list">
                    <li>
                        <a href="{{ seomatic.site.sameAsLinks["facebook"]["url"] }}" title="Facebook">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.app.sites.primarySite.baseUrl }}images/icon-facebook.aa8f5a1d716272e97b861a4faa8e05ee.svg"
                                width="32"
                                height="32"
                                alt="Facebook social icon">
                        </a>
                    </li>
                    <li>
                        <a href="{{ seomatic.site.sameAsLinks["youtube"]["url"] }}" title="Youtube">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.app.sites.primarySite.baseUrl }}images/icon-youtube.e7ef4e9965625a926e3317bb67055579.svg"
                                width="32"
                                height="32"
                                alt="Youtube social icon">
                        </a>
                    </li>
                    <li>
                        <a href="{{ seomatic.site.sameAsLinks["linkedin"]["url"] }}" title="LinkedIn">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.app.sites.primarySite.baseUrl }}images/icon-linkedin.66cd6d5989a90459f9c8a91bafea75ca.svg"
                                width="32"
                                height="32"
                                alt="LinkedIn social icon">
                        </a>
                    </li>
                    <li>
                        <a href="{{ seomatic.site.sameAsLinks["instagram"]["url"] }}" title="Instagram">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.app.sites.primarySite.baseUrl }}images/icon-instagram.00ee021d3b0c4f68133898b4968d8c7a.svg"
                                width="32"
                                height="32"
                                alt="Instagram social icon">
                        </a>
                    </li>
                    <li>
                        <a href="{{ seomatic.site.sameAsLinks["twitter"]["url"] }}" title="Twitter">
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.app.sites.primarySite.baseUrl }}images/icon-twitter.a34c3d9034ee472b958aad0b305d762b.svg"
                                width="32"
                                height="32"
                                alt="Twitter social icon">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="Footer__address-block">
                <div class="Footer__address-navigation">
                    <nav class="Nav Nav--row Nav--small">
                        <ul class="Nav__list">
                            {% if currentSite.language == 'hr' %}
                            <li><a href="{{ siteUrl }}dokumentacija" title="Dokumentacija"><span>Dokumentacija</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/obrada-osobnih-podataka/uvjeti-korištenja" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/pristup-informacijama/kontakti" title="Kontakti"><span>Kontakti</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/izjava-o-pristupačnosti" title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/obrada-osobnih-podataka/postavke-kolačića" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                            {% else %}
                            <li><a href="{{ siteUrl }}terms-of-use" title="Terms of use"><span>Terms of use</span></a></li>
                            <li><a href="{{ siteUrl }}contact" title="Contact"><span>Contact</span></a></li>
                            <li><a href="{{ siteUrl }}accessibility-info" title="Accessibility info<"><span>Accessibility info</span></a></li>
                            <li><a href="{{ siteUrl }}cookie-settings" title="Cookie settings"><span>Cookie settings</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <p>© AMPEU, {{ "now"|date("Y") }}.</p>
                </div>
                <div class="Footer__address-colophone">
                    {% if currentSite.language == 'hr' %}
                    <p>Ova mrežna stranica je ostvarena uz financijsku potporu Europske komisije. Ona izražava isključivo stajalište autora mrežne stranice i Komisija se ne može smatrati odgovornom pri upotrebi informacija koje se na njoj nalaze.</p>
                    {% else %}
                    <p>This website has been produced with the financial assistance of the European Commission. It reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/calendar-demo/js/main.js"></script>
<script type="text/javascript" src="{{ craft.app.sites.primarySite.baseUrl }}js/vendor.60fdf4cd7bf9a68870a6.min.js"></script>
<script type="text/javascript" src="{{ craft.app.sites.primarySite.baseUrl }}js/bundle.9719b7bc04ddd58a78ba.min.js"></script>
<script type="text/javascript">
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true
});
</script>
{% block footerJs %}{% endblock %}
</body>
</html>
