<div class="btn-group" role="group" aria-label="Month navigation">
    <button id="calendar-month-menu"
            type="button"
            class="ButtonCta ButtonCta--full-width"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    >
        <strong>{{ month.date|date('F')|pascal }} {{ month.date|date('Y') }}</strong> <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        {% for date in month.dateRange(-6, 6) %}
            {% if date == month.date %}
                <div class="dropdown-divider"></div>{% endif %}

            <a class="dropdown-item" href="{{ siteUrl }}calendar-demo/month/{{ date|date('Y/m') }}/">
                {{ date|date('F')|pascal }} {{ date|date('Y') }}
            </a>

            {% if date == month.date %}
                <div class="dropdown-divider"></div>{% endif %}
        {% endfor %}
    </div>
</div>
