{% extends "_layout" %}
{% block content %}
{{ include("_header.html") }}
<main id="main">
    <section class="Section">
        <div class="Section__body">
            <div class="TextComponent__container">
                <div class="TextComponent">
                    {% if currentSite.language == 'hr' %}
                    <h1>404 - Stranica nije pronađena</h1>
                    <p>Stranica koju ste tražili ne postoji na siteu. Možda je uklonjena, možda joj se naziv promijenio ili je trenutno nedostupna.</p>
                    <ul>
                    <li>Ukoliko ste krivo upisali link u lokacijsku traku vašeg preglednika, provjerite eventualne gramatičke pogreške.</li>
                    <li>Vratite se na <a href="{{ siteUrl }}">početnu stranicu</a> i pregledajte izdvojene sadržaje koji bi vas mogli interesirati.</li>
                    <li>Upotrijebite back tipku u pregledniku i probajte s nekim drugim linkom.</li>
                    <li>Iskoristite glavne linkove pri vrhu stranice i probajte potražiti željeni sadržaj kroz kategorije.</li>
                    {% else %}
                    <h1>404 - Page not found</h1>
                    <p>The page you requested does not exist on the site. It may have been removed, it may have changed its name, or it may not be available right now. </p>
                     <ul>
                     <li> If you typed a link incorrectly in your browser's location bar, check for grammatical errors. </li>
                     <li> Return to the <a href="{{siteUrl}}"> homepage </a> and review selected content that may be of interest to you.</li>
                     <li> Use the back button in your browser and try another link.</li>
                     <li> Use the main links at the top of the page and try searching for the content you want through the categories.</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}