{% import "macros/_nav.html" as macros %}
<header class="Header Header--isFixed Header--isOpen" data-js="cmp-header">
    <div class="Header__container" data-js="main-navigation-mobile">
        <div class="Header__container-inner">

            <div class="Header__logo Logo Logo--app-homepage">
                <a href="{{ siteUrl }}" title="{% if currentSite.language == 'hr' %}Odi na naslovnicu{% else %}Go to homepage{% endif %}" class="Logo__content">
                <h1 class="Logo__content">
                    {% if currentSite.language == 'hr' %}
                    <img
                        src="{{ craft.app.sites.primarySite.baseUrl }}images/ampeu-logo.svg"
                        alt="AMPEU Logo">
                    {% else %}
                    <img
                        src="{{ craft.app.sites.primarySite.baseUrl }}images/ampeu-logo-en.svg"
                        alt="AMPEU Logo">                    
                    {% endif %}
                    <span class="sr-only">{% if currentSite.language == 'hr' %}Agencija za mobilnost i programe EU{% else %}Agency for Mobility and EU Programme{% endif %}</span>
                </h1>
                </a>
            </div>
        
            <div class="Header__trigger-container ml-auto">
                <button class="Header__trigger" data-js="cmp-menu-trigger" aria-expanded="false" aria-controls="main-menu">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu"/>
                    </svg>
                </button>
            </div>
            <div class="Header__group">

                <div class="Header__group-inner Header__group-inner--space-evenly">
                    <nav
                        class="Nav Nav--header"
                        role="navigation"
                        aria-label="Main Site Navigation">
                        <ul
                            id="main-menu"
                            class="Nav__list"
                            role="menubar"
                            aria-label="Main Site Navigation">
                        {% if currentSite.language == 'hr' %}
                        <li role="none" class="{{ macros.is_active('programi') }}">
                            <a role="menuitem" href="{{ siteUrl }}programi" title="Programi"><span>Programi</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('natjecaji') }}">
                            <a role="menuitem" href="{{ siteUrl }}natjecaji" title="Natječaji"><span>Natječaji</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('novosti') }}">
                            <a role="menuitem" href="{{ siteUrl }}novosti" title="Novosti"><span>Novosti</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('trazilica') }}">
                            <a role="menuitem" href="{{ siteUrl }}trazilica" title="Tražilica"><span>Tražilica</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('o-nama') }}">
                            <a role="menuitem" href="{{ siteUrl }}o-nama" title="O nama"><span>O nama</span></a>
                        </li>
                        {% else %}
                        <li role="none" class="{{ macros.is_active('programs') }}">
                            <a role="menuitem" href="{{ siteUrl }}#programmes" title="Programmes"><span>Programmes</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('open-calls') }}">
                            <a role="menuitem" href="{{ siteUrl }}#open-calls" title="Open Calls"><span>Open Calls</span></a>
                        </li>
                        <li role="none" class="{{ macros.is_active('about-us') }}">
                            <a role="menuitem" href="{{ siteUrl }}#about-us" title="About us"><span>About us</span></a>
                        </li>                        
                        {% endif %}
                        </ul>
                    </nav>

                        <div class="Header__extra" data-js="cmp-extra">
                            <div class="Header__extra-inner">

                                <div class="PageSettings" data-js="cmp-page-settings">
                                    <div class="PageSettings__block PageSettings__block--top">
                                        <span tabindex="0" title="Prilagodba stranice" class="PageSettings__trigger" data-js="cmp-page-setting-toggle">
                                            {% if currentSite.language == 'hr' %}Prilagodba stranice{% else %}Page Settings{% endif %}
                                        </span>
                                        <button class="PageSettings__close-trigger" data-js="cmp-page-setting-close">
                                            <svg class="icon-container">
                                                <use xlink:href="#icon-close"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="PageSettings__block-group" data-js="cmp-page-settings-menu">
                                        {% if currentSite.language == 'hr' %}
                                        <div class="PageSettings__block" data-js="cmp-settings-font-color">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-color-black" title="Crna slova">Crna slova</span>
                                                </li>
                                                <li>
                                                    <span tabindex="0" data-settings="font-color-light" title="Crna slova">Bijela slova</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-color-default" title="Zadane boje">Zadane boje</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="PageSettings__block" data-js="cmp-settings-font-size">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-size-decrement" title="Manja slova">Manja slova</span>
                                                </li>
                                                <li>
                                                    <span tabindex="0" data-settings="font-size-increment" title="Veća slova">Veća slova</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-size-default" title="Zadana slova">Zadana slova</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="PageSettings__block" data-js="cmp-settings-font-family">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-family-dyslexia" title="Font za disleksiju">Font za disleksiju</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-family-default" title="Zadani font">Zadani Font</span>
                                                </li>
                                            </ul>
                                        </div>
                                        {% else %}
                                        <div class="PageSettings__block" data-js="cmp-settings-font-color">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-color-black" title="Black text">Black text</span>
                                                </li>
                                                <li>
                                                    <span tabindex="0" data-settings="font-color-light" title="White text">White text</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-color-default" title="Default color">Default color</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="PageSettings__block" data-js="cmp-settings-font-size">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-size-decrement" title="Smaller Text">Smaller Text</span>
                                                </li>
                                                <li>
                                                    <span tabindex="0" data-settings="font-size-increment" title="Larger Text">Larger Text</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-size-default" title="Default Text">Default Text</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="PageSettings__block" data-js="cmp-settings-font-family">
                                            <ul>
                                                <li>
                                                    <span tabindex="0" data-settings="font-family-dyslexia" title="Dyslexic font">Dyslexic font</span>
                                                </li>
                                                <li class="active">
                                                    <span tabindex="0" data-settings="font-family-default" title="Default font">Default Font</span>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% set langSwitcher = craft.app.sites.getAllSites()|without(currentSite) %}
                            {% for site in langSwitcher %}
                                {% set url = site.getBaseUrl() %}
                                <a href="{{url}}" class="LanguageMenu" title="Change language">{{site.language}}</a>
                            {% endfor %}
                            </div>
                        </div>

                </div>
                <button class="Header__desktop-trigger" data-js="cmp-desktop-menu-trigger" aria-expanded="false" aria-controls="main-menu-desktop">
                    <svg class="icon-container icon-1.5x">
                        <use xlink:href="#icon-menu"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="Header__menu" data-js="cmp-desktop-menu">
        <div class="container">
            <div class="Header__menu-inner-container">

                <div class="Header__menu-body Header__menu-body--three-items">
                    {% set blocks = header.podnavigacija.limit(3) %}
                    {% if blocks|length %}
                      
                        {% for block in blocks.all() %}
                            {% if block.sekcija %}
                                <div class="Header__menu-block">
                                    <a href="{{ siteUrl }}{{ block.sekcija }}" title="{{ block.sekcija.label }}"><span>{{ block.sekcija.label }}</span></a>
                                    <ul>
                                {% set section = craft.app.sections.getSectionByHandle(block.sekcija) %}
                                {% set entries = craft.entries.section(section).limit(5) %}
                                    {% for entry in entries.all() %}
                                    <li><a href="{{ entry.url }}" title="{{ entry.title }}"><span>{{ entry.title }}</span></a></li>
                                {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}          
                            
                            {% if block.linkovi %}
                                <div class="Header__menu-block">
                                    <a href="{{ block.glavniLink.url }}" title="{{ block.glavniLink.text }}"><span>{{ block.glavniLink.text }}</span></a>
                                    <ul>
                                    {% for row in block.linkovi.all() %}
                                        <li><a href="{{ row.links.url }}" title="{{ row.links.text }}"><span>{{ row.links.text }}</span></a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                      
                    {% endif %}
                </div>


                <div class="Header__menu-body Header__menu-body--three-items">
                    {% set blocks = header.podnavigacija.limit(3).offset(3) %}
                    {% if blocks|length %}
                      
                        {% for block in blocks %}
                            {% if block.sekcija %}
                                <div class="Header__menu-block">
                                    <a href="{{ siteUrl }}{{ block.sekcija }}" title="{{ block.sekcija.label }}"><span>{{ block.sekcija.label }}</span></a>
                                    <ul>
                                {% set section = craft.app.sections.getSectionByHandle(block.sekcija) %}
                                {% set entries = craft.entries.section(section).limit(5) %}
                                    {% for entry in entries.all() %}
                                    <li><a href="{{ entry.url }}" title="{{ entry.title }}"><span>{{ entry.title }}</span></a></li>
                                {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            
                            {% if block.linkovi %}
                                <div class="Header__menu-block">
                                    <a href="{{ block.glavniLink.url }}" title="{{ block.glavniLink.text }}"><span>{{ block.glavniLink.text }}</span></a>
                                    <ul>
                                    {% for row in block.linkovi.all() %}
                                        <li><a href="{{ row.links.url }}" title="{{ row.links.text }}"><span>{{ row.links.text }}</span></a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                      
                    {% endif %}
                </div>



                <div class="Header__menu-footer">
                    <p>{% if currentSite.language == 'hr' %}Pravne informacije{% else %}Legal info{% endif %}</p>
                    <ul class="Nav">
                            {% if currentSite.language == 'hr' %}
                            <li><a href="{{ siteUrl }}o-nama/obrada-osobnih-podataka/uvjeti-korištenja" title="Uvjeti korištenja"><span>Uvjeti korištenja</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/pristup-informacijama/kontakti" title="Zaštita privatnosti"><span>Kontakti</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/izjava-o-pristupačnosti" title="Izjava o pristupačnosti"><span>Izjava o pristupačnosti</span></a></li>
                            <li><a href="{{ siteUrl }}o-nama/obrada-osobnih-podataka/postavke-kolačića" title="Postavke kolačića"><span>Postavke kolačića</span></a></li>
                            {% else %}
                            <li><a href="{{ siteUrl }}terms-of-use" title="Terms of use"><span>Terms of use</span></a></li>
                            <li><a href="{{ siteUrl }}contact" title="Contact"><span>Contact</span></a></li>
                            <li><a href="{{ siteUrl }}accessibility-info" title="Accessibility info<"><span>Accessibility info</span></a></li>
                            <li><a href="{{ siteUrl }}cookie-settings" title="Cookie settings"><span>Cookie settings</span></a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>