<div class="Header__container Header__container--lower">
    <div class="Header__container-inner">
        <div class="Header__logo Logo Logo--alternative">
                {% set lvl = entry.level %} 
                {% if lvl == 1 %}
                {% for image in entry.logo %}
                    <a href="{{ entry.url }}" title="{{ entry.title }}" class="Logo__content">
                    {% set transformedImages = craft.imager.transformImage(image, [
                    { width: 190, mode: 'fit', jpegQuality: 100 }
                    ], { ratio: 21/9, jpegQuality: 100 }) %}
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.imager.placeholder({ width: 190 }) }}"
                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                            width="190"
                            alt="{{ image.alttag }}">
                    <span class="sr-only">{{ image.title }}</span>
                    </a>
                {% endfor %}
                {% else %}
                    {% set parent = entry.getAncestors().one() %}
                    {% for subnav in entries.descendantOf(parent).descendantDist('1').limit(1) %}
                    <a href="{{ parent.url }}" title="{{ parent.title }}" class="Logo__content">
                        {% set image = parent.logo %}
                            {% for image in parent.logo %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                            { width: 190, mode: 'fit', jpegQuality: 100 }
                            ], { ratio: 21/9, jpegQuality: 100 }) %}
                                <img
                                    loading="lazy"
                                    decoding="async"
                                    src="{{ craft.imager.placeholder({ width: 190 }) }}"
                                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                                    width="190"
                                    alt="{{ image.alttag }}">
                            <span class="sr-only">{{ image.title }}</span>
                            {% endfor %}
                    {% endfor %}
                    </a>
                {% endif %}
        </div>

        <div class="Header__trigger-container">
            <button
                class="Header__trigger"
                data-js="cmp-menu-trigger"
                aria-expanded="false"
                aria-controls="main-menu"
            >
                <svg class="icon-container icon-1.5x">
                    <use xlink:href="#icon-menu" />
                </svg>
            </button>
        </div>

        <div class="Header__group">
            <div class="Header__group-inner Header__group-inner--align-left">
                <nav
                    class="Nav Nav--header"
                    role="navigation"
                    aria-label="Main Site Navigation">
                    <ul
                        id="main-menu"
                        class="Nav__list"
                        role="menubar"
                        aria-label="Main Site Navigation">
                        {% set lvl = entry.level %} 


{% if lvl == 1 %}
    {% for row in entry.podnavigacija %}
        {% if row.linkovi is not null %}
            {% set link = row.linkovi.one() %}
            {% if link.type.handle == "entries" %}
                {% set entry = link.entries.one() %}
                <li role="none"><a href="{{ entry.url }}" title="{{ link.text }}"><span>{{ link.text }}</span></a></li>
            {% else %}
                <li role="none"><a href="{{ entry.url }}{{ link.url }}" title="{{ link.text }}"><span>{{ link.text }}</span></a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
                            {% set parent = entry.getAncestors() %}
                            {% for entry in parent %}
                                {% for row in entry.podnavigacija %}
                                {% if row.linkovi.typeHandle == "entry" %}
                                    <li role="none"><a href="{{ row.linkovi.url }}" title="{{ row.linkovi.text }}"><span>{{ row.linkovi.text }}</span></a></li>
                                {% else %}
                                    <li role="none"><a href="{{ entry.url }}{{ row.linkovi.url }}" title="{{ row.linkovi.text }}"><span>{{ row.linkovi.text }}</span></a></li>
                                {% endif %}
                                {% endfor %}
                            {% endfor %}
{% endif %}

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>