{% extends "_layout" %}
{% block content %}
{% if currentSite.language == 'hr' %}
{% set entries = craft.entries.section('naslovnica') %}
{% else %}
{% set entries = craft.entries.section('homepage') %}
{% endif %}
{{ include("_header.html") }}
<main id="main">

{% for block in entry.programi.all() %}
    {% if block.type == "intro" %}

        {{ include("partials/_intro.html") }}

    {% elseif block.type == "tabovi" %}

        {{ include("partials/_tabovi.html") }}

    {% elseif block.type == "text" %}

        {{ include("partials/_text.html") }}

    {% elseif block.type == "faq" %}

        {{ include("partials/_faq.html") }}

    {% elseif block.type == "sidro" %}

        <span id="{{ block.sidro|lower|replace({' ': ''}) }}"></span>

    {% elseif block.type == "video" %}

        {{ include("partials/_video.html") }}

    {% elseif block.type == "testimoniali" %}

        {{ include("partials/_testimoniali.html") }}

    {% elseif block.type == "cards" %}

        {{ include("partials/_cards.html") }}

    {% elseif block.type == "citat" %}

        {{ include("partials/_citat_program.html") }}

    {% elseif block.type == "karta" %}

        {{ include("partials/_map.html") }}

    {% elseif block.type == "bigHero" %}

        {{ include("partials/_bighero.html") }}

    {% elseif block.type == "agencijaUBrojkama" %}

        {{ include("partials/_agencijaubrojkama.html") }}

    {% elseif block.type == "listing" %}
    
        {{ include("partials/_listinghomepage.html") }}
    
    {% endif %}

{% endfor %}

<section class="NewsItems">
    <div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="month_calendar">
                {% set month = craft.calendar.month({
                    calendar: 'default',
                }) %}

                <div class="row justify-content-between mb-3">
                    <div class="col-3">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}kalendar">
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-left" />
                            </svg>{{ month.previousDate|date('F')|pascal }}
                        </a>
                    </div>

                    <div class="col-auto">
                            {% include "kalendar/layouts/_month_heading.html" with {month: month} only %} &nbsp;
                    </div>

                    <div class="col-3 clearfix">
                        <a class="ButtonCta ButtonCta--full-width ButtonCta--icon"
                           href="{{ siteUrl }}kalendar/month">
                            {{ month.nextDate|date('F')|pascal }}
                            <svg class="icon-container icon-1.5x">
                                <use xlink:href="#icon-arrow-right" />
                            </svg>
                        </a>
                    </div>
                </div>

                <table id="month_calendar_inner" class="table table-bordered">
                    <thead>
                    <tr id="days_of_week" class="active">
                        {% for day in month|first %}
                            <th class="day_of_week">
                                {{ day.date|date("l")|pascal }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in month %}
                        <tr>
                            {% for day in week %}
                                {% if month.containsDate(day.date) %}
                                <td class="day_cell{{ day.dateLocalized.isToday ? " today" }}">
                                    <div class="date{{ day.eventCount ? " has_events" }}">
                                        <a class="num"
                                           href="{{ siteUrl }}kalendar/day">
                                            {{ day.date|date('j') }}
                                        </a>
                                    </div>
                                {% else %}
                                    <td class="day_cell out_of_range">
                                    <div class="date">
                                        <span class="num">
                                            {{ day.date|date('j') }}
                                        </span>
                                    </div>
                                {% endif %}

                                {% for event in day.events %}
                                    {% include "kalendar/layouts/_event.html" %}
                                {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    </div>
</section>



</main>
{% endblock %}