{% extends "_layout" %}
{% block content %}
{% set current_section = craft.app.request.segments|first %}
{% set entries = craft.entries.section('current_section').limit(1) %}
{{ include("_header.html") }}
<main id="main">
    <section class="container-960">
        <article class="Article Article--vertical-padding">
            <header class="Article__header">
            <nav class="Breadcrumbs Breadcrumbs--blue">
                <ul>
                    <li><a href="{{ siteUrl }}">{% if currentSite.language == 'hr' %}Naslovnica{% else %}Homepage{% endif %}</a></li>
                    <li><a href="{{ siteUrl }}{{ current_section }}">{{ current_section|capitalize|replace('-', ' ') }}</a></li>
                </ul>
            </nav>
                <h1 class="Article__title">
                    {{ entry.title }}
                </h1>
            </header>
            <div class="Article__content">
            <div class="Article__intro">
                <p>{{ entry.lead }}</p>
            </div>
{% for block in entry.blokovi.level(1).all() %}

    {% if block.type == "text" %}
                {{ block.mainText }}

    {% elseif block.type == "naslov" %}
        <h2 class="Title Title--small">{{ block.naslov }}</h2>
        <p class="Title Title--small">{{ block.podnaslov }}</p>

    {% elseif block.type == "citat" %}
        {% for row in block.citati.all() %}
                <blockquote>
                    <div class="Blockquote__content">
                        <p>{{ row.citat }}</p>
                    </div>
                    <div class="Blockquote__author">
                        <span><strong>{{ row.imeOsobe }}</strong></span>
                        <span>{{ row.titulaOsobe }}</span>
                    </div>
                </blockquote>
        {% endfor %}

    {% elseif block.type == "foto" %}
        {% for row in block.foto.all() %}
            {% for asset in row.foto.all %}
                {% if asset.extension == 'gif' %}
                    <img src="{{ asset.url }}" alt="{{ asset.alttag }}">
                {% else %}
                    <figure>
                        {% set transformedImages = craft.imager.transformImage(asset, [
                        { width: 920, mode: 'fit', jpegQuality: 100 }
                        ], { ratio: 16/10, jpegQuality: 100 }) %}
                        <img src="{{ craft.imager.placeholder({ width: 920 }) }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.alttag }}">
                        <figcaption>{{ asset.caption }} {{ asset.izvorFotografije }}</figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% elseif block.type == "galerija" %}

    {{ include("partials/_galerija.html") }}

    {% elseif block.type == "video" %}

        {% for asset in block.video.all() %}
        {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
        <div class="Video" data-aspect="16:9">
            <iframe class="Video__iframe" src="{{ embeddedAsset.getIframeSrc(['autoplay=0']) }}" title="{{ embeddedAsset ? embeddedAsset.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        {% endfor %}

    {% elseif block.type == "faq" %}

    {{ include("partials/_faq_article.html") }}

    {% elseif block.type == "tabovi" %}

    {{ include("partials/_tabovi.html") }}

    {% elseif block.type == "file" %}

    {{ include("partials/_document.html") }}

    {% elseif block.type == "listing" %}

    {{ include("partials/_rucnilisting.html") }}

    {% endif %}
{% endfor %}
            </div>
            <div class="Article__footer">
                <div class="Article__meta">
                    <span class="Article__meta-pubdate">
                        {% if currentSite.language == 'hr' %}Objavljeno{% else %}Date Created{% endif %}:
                        <time datetime="{{ entry.dateCreated|date("Y-m-d") }}">{{ entry.dateCreated|date("j. n. Y.") }}</time> /
                        {% if currentSite.language == 'hr' %}Zadnje ažurirano{% else %}Date Updated{% endif %}:
                        <time datetime="{{ entry.dateUpdated|date("Y-m-d") }}">{{ entry.dateUpdated|date("j. n. Y.") }}</time>
                    </span>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}