{% extends "_layout" %}
{% block content %}
{% set sectionHandlesByFirstSegment = {
    'publikacije': 'publikacije',
    'publications': 'publikacije',
    'novosti': 'novosti',
    'news': 'novosti',
    'dogadanja': 'dogadanja',
    'events': 'dogadanja'
} %}
{% set sectionHandle = sectionHandlesByFirstSegment[craft.app.request.getSegment(1)] %}
{% set section = craft.app.sections.getSectionByHandle(sectionHandle) %}
{% paginate craft.entries.section(section).limit(20).istaknuto(false) as pageInfo, pageEntries %}
{{ include("_header.html") }}
<main>
{% if pageInfo.currentPage == 1 %}

{% set entries = craft.entries.section(section).limit(1).istaknuto(true) %}
    {% for entry in entries %}
    <section class="IntroBlock" data-js="cmp-intro-block">
        <div class="IntroBlock__container">
            <div class="IntroBlock__content">
                <div class="IntroBlock__header">
                    <p class="NewsItem__meta">
                    {% if entry.kategorijaVijesti %}
                    <span>
                        <strong>{{ entry.kategorijaVijesti.one() }}</strong>
                        <time datetime="{{ entry.postDate | date("Y-m-d") }}">{% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}</time>
                    </span>
                    {% endif %}
                    </p>
                    <p class="IntroBlock__title"><small>{{ entry.title }}</small></p>
                </div>
                <div class="IntroBlock__image">
                    {% for asset in entry.coverImage.all %}
                    {% set transformedImages = craft.imager.transformImage(asset, [
                        { width: 670, height: 440 }, 
                        { width: 300, jpegQuality: 65 }
                        ], { jpegQuality: 100 }, 
                        { fillTransforms: true }) %}
                <img
                    loading="lazy"
                    src="{{ craft.imager.placeholder({ width: 660, height: 440 }) }}"
                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                    width="660"
                    height="440"
                    alt="{{ asset.alttag }}">
                    {% endfor %}
                </div>
                <div class="IntroBlock__cta">
                    <a href="{{ entry.url }}" title="{{ entry.title }}" class="Button">{% if currentSite.language == 'hr' %}Doznaj više{% else %}Find out more{% endif %}</a>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endif %}


    <aside class="NewsItems">
        <div class="container">
            <div class="NewsItems__header">
                {% set section = craft.app.request.getSegment(1) %}
                <h2 class="NewsItems__title">
                {% if section == 'novosti' %}
                    {% if currentSite.language == 'hr' %}Novosti{% else %}News{% endif %}
                {% elseif section == 'publikacije' %}
                    {% if currentSite.language == 'hr' %}Publikacije{% else %}Publications{% endif %}
                {% elseif section == 'natjecaji' %}
                    {% if currentSite.language == 'hr' %}Natječaji{% else %}Open Calls{% endif %}
                {% elseif section == 'dogadanja' %}
                    {% if currentSite.language == 'hr' %}Događanja{% else %}Events{% endif %}
                {% endif %} 
                </h2>
            </div>

            <div class="NewsItems__list NewsItems__list--four-items">
            {% for entry in pageEntries %}
                <div class="NewsItem NewsItem--small">
                {% if entry.file|length %}
                    {% for asset in entry.file.all() %}
                    <a href="{{ asset.url }}" title="{{ entry.title }}" class="NewsItem__link">
                    {% endfor %}
                {% else %}
                    <a href="{{ entry.url }}" title="{{ entry.title }}" class="NewsItem__link">
                {% endif %}
                        <div class="NewsItem__image">
                        {% set image = entry.coverImage.one() %}
                            {% for image in entry.coverImage %}
                            {% set transformedImages = craft.imager.transformImage(image, [
                            { width: 560, height: 376, jpegQuality: 95 }
                            ], { ratio: 16/10, jpegQuality: 95 }) %}
                            <img
                                loading="lazy"
                                decoding="async"
                                src="{{ craft.imager.placeholder({ width: 560, height: 376 }) }}"
                                srcset="{{ craft.imager.srcset(transformedImages) }}"
                                width="560"
                                height="376"
                                alt="{{ image.alttag }}">
                            {% endfor %}
                        </div>

                        <div class="NewsItem__content">
                            <p class="NewsItem__meta">
                            {% if entry.kategorijaVijesti %}
                            <span>
                                <strong>{{ entry.kategorijaVijesti.one() }}</strong>
                                <time datetime="{{ entry.postDate | date("Y-m-d") }}">{% if currentSite.language == 'hr' %}{{ entry.postDate | date("d.m.Y.") }}{% else %}{{ entry.postDate | date("d F Y") }}{% endif %}</time>
                            </span>
                            {% endif %}
                            </p>
                            <p class="NewsItem__title">
                                {{ entry.title }}
                            </p>
                            {% if entry.rok %}
                            <p class="NewsItem__info">
                                {% if entry.section == 'dogadanja' or 'events' %}
                                    <strong>{% if currentSite.language == 'hr' %}Datum: {{ entry.rok | date("d.m.Y.") }}{% else %}Date: {{ entry.rok | date("d F Y") }}{% endif %}</strong>
                                {% endif %}
                            </p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </aside>
    <section class="Pagination__container">
        <nav class="Pagination is-centered" role="navigation">
            <ul class="Pagination__list">
                {% if pageInfo.prevUrl %}
                <li class="Pagination__list-element is-first">
                    <a href="{{ pageInfo.prevUrl }}" title="Prethodna stranica">
                        <svg class="icon-container icon-1.5x">
                            <use xlink:href="#icon-arrow-left"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% for page, url in pageInfo.getPrevUrls(2) %}
                <li class="Pagination__list-element">
                    <a href="{{ url }}" title="{{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="Pagination__list-element is-active">
                    <a href="/" title="{{ pageInfo.currentPage }}">{{ pageInfo.currentPage }}</a>
                </li>
                {% for page, url in pageInfo.getNextUrls(2) %}
                <li class="Pagination__list-element">
                    <a href="{{ url }}" title="{{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if pageInfo.nextUrl %}
                <li class="Pagination__list-element is-last">
                    <a href="{{ pageInfo.nextUrl }}" title="Iduća stranica">
                        <svg class="icon-container icon-1.5x">
                            <use xlink:href="#icon-arrow-right"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>
</main>
{% endblock %}