{% for event in events.all %}
    <a href="{{ siteUrl }}kalendar/event/{{ event.id }}/{{ event.repeating ? event.startDate.format('Y/m/d') }}"
       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0"
       style="border-left: 5px solid {{ event.calendar.color }};">
        <strong>{{ event.title }}</strong>
        <em>{{ event.startDate.format('F j, Y') }}</em>
    </a>
{% else %}
    <span class="list-group-item">
        No events could be found within the specified time range (today until 6 months from today) for this Calendar.
    </span>
{% endfor %}
