{% if segment3 == "kalendar" %}
    {% set calendar = craft.calendar.calendar({handle: segment4}) %}
    {% if calendar %}
        <div class="alert" role="alert"
             style="color: {{ calendar.contrastColor }}; background-color: {{ calendar.lighterColor }}; border-color: {{ calendar.color }};">
            <span class="fas fa-calendar-alt" aria-hidden="true"></span>&nbsp;
            Events for <strong>{{ calendar.name }}</strong> calendar
        </div>
        <br />
    {% endif %}
{% endif %}
