<div class="qtip d-none">
    <div class="title">
        {{ event.title }}
        <span class='event_time'>
            <span class='far fa-clock'></span>
            {% if event.allDay %}
                All Day
                {% if event.duration.days > 1 %}
                    ({{ event.duration.days }} days)
                {% endif %}
            {% else %}
                {% if event.multiDay %}
                    {% if day.containsDate(event.startDate) %}
                        Počinje {{ event.startDate|date('g:ia') }}
                    {% elseif day.containsDate(event.endDate) %}
                        Završava {{ event.endDate|date('g:ia') }}
                    {% else %}
                        All Day
                    {% endif %}
                    ({{ event.duration.days }} days)
                {% else %}
                    {{ event.startDate|date('g:ia') }} - {{ event.endDate|date('g:ia') }}
                    ({{ event.duration.humanReadable }})
                {% endif %}
            {% endif %}
            </span>
    </div>
    <div class="content">
        <span class='fas fa-calendar-alt' style='color: {{ event.calendar.color }};'></span>
        <span style='color: {{ event.calendar.color }};'>{{ event.calendar.name }}</span>
        <hr />
        {% if event.allDay %}
            {% if event.multiDay %}
                <b>Počinje</b> {{ event.startDate|date('F j, Y') }}<br />
                <b>Završava</b> {{ event.endDate|date('F j, Y') }}
            {% else %}
                {{ event.startDate|date('F j, Y') }} (All Day)
            {% endif %}
        {% else %}
            <b>Počinje</b> {{ event.startDate|date('F j, Y \\a\\t g:ia') }}<br />
            <b>Završava</b> {{ event.endDate|date('F j, Y \\a\\t g:ia') }}
        {% endif %}

        {% if event.repeating %}
            <hr />
            <span class='fas fa-redo'></span>&nbsp;<b>Repeats</b>
            {{ event.readableRepeatRule }}
        {% endif %}
    </div>
</div>
