<h3>Kalendar</h3>

{% set targetDate = "today" %}

{% if segment2 in ["month", "week", "day", "mini_cal"] %}
    {% if segment3 == "calendar" %}
        {% if segment5 is not empty %}
            {% set targetDate = segment5~"-"~segment6~"-01" %}
        {% endif %}
    {% elseif segment3 is not empty %}
        {% set targetDate = segment3~"-"~segment4~"-01" %}
    {% endif %}
{% endif %}

{% set month = craft.calendar.month({
    date: targetDate,
}) %}

<div id="mini_calendar">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="1">
                {% if segment2 != "calendars" %}
                    <a id="mini_calendar_prev_month" href="{{ siteUrl }}kalendar/month/{{ month.previousDate|date('Y/m') }}/">&larr;</a>
                {% endif %}
            </th>
            <th colspan="5">
                {{ month.date|date('F Y') }}
            </th>
            <th colspan="1">
                {% if segment2 != "calendars" %}
                    <a id="mini_calendar_next_month" href="{{ siteUrl }}kalendar/month/{{ month.nextDate|date('Y/m') }}/"> &rarr;</a>
                {% endif %}
            </th>
        </tr>
        <tr class="mini_calendar_days">
            {% for day in month|first %}
                <th>{{ day.date|date('D')|first }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month %}
            <tr>
                {% for day in week %}
                    <td class="
                            {{ month.containsDate(day.date) ? 'mini_calendar_pad'}}
                            {{ day.eventCount ? 'has_events' }}
                            {{ day.date.isToday ? 'today' }}
                        ">
                        <div class="mini_calendar_date">
                            {% if month.containsDate(day.date) %}
                                {% if day.eventCount %}
                                    <a href="{{ siteUrl }}kalendar/day/{{ day.date|date('Y/m/d') }}">
                                {% endif %}

                                {{ day.date|date('j') }}

                                {% if day.eventCount %}
                                    </a>
                                {% endif %}
                            {% else %}
                                <strong class="middot">&middot;</strong>
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
