{% extends "kalendar/layouts/_layout.html" %}

{% set pageTitle = "Calendars" %}
{% set page = "calendars" %}

{% block content %}

	<h1>Calendars</h1>
	<p class="lead">Below is an overview over your site's calendars and events.</p>
	<hr /><br />

	<div class="row">

		<div class="col-md-9">

			<h3>Events by Calendar</h3>
			{% set calendars = craft.calendar.calendars({
				handle: segment3 ? segment3 : null,
				orderBy: "name",
				sort: "asc"
			}) %}

			{% for calendar in calendars %}

				<div class="card" style="border-color: {{ calendar.color }}; margin-bottom: 20px;">
					<h4 class="card-header d-flex justify-content-between align-items-center"
					    style="color: {{ calendar.contrastColor }}; background-color: {{ calendar.lighterColor }};">
						<span>
							<span class="fas fa-calendar-alt" aria-hidden="true"></span>&nbsp;
							{{ calendar.name }}
						</span>
						{% if craft.calendar.exportEnabled %}
							<a href="{{ siteUrl }}kalendar/export/calendar/{{ calendar.id }}" class="btn btn-light btn-sm border-light border border-dark">
								<span class="fas fa-file-export"></span>&nbsp;
								Export Events
							</a>
						{% endif %}
					</h4>
					<ul class="list-group list-group-flush">
					{% if craft.calendar.exportEnabled and calendar.icsUrl %}
						<li class="list-group-item">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">ICS Subscribe</div>
								</div>
								<input type="text" class="form-control" value="{{ calendar.icsUrl }}" onclick="this.select();">
							</div>
						</li>
					{% endif %}
						<li class="list-group-item">
							<strong>Description:</strong>
							{{ calendar.description }}
						</li>
						<li class="list-group-item">
							<strong>View events by:&nbsp;</strong>
							<a href="{{ siteUrl }}kalendar/month/calendar/{{ calendar.handle }}" class="btn btn-secondary btn-sm">Month</a>
							<a href="{{ siteUrl }}kalendar/week/calendar/{{ calendar.handle }}" class="btn btn-secondary btn-sm">Week</a>
							<a href="{{ siteUrl }}kalendar/day/calendar/{{ calendar.handle }}" class="btn btn-secondary btn-sm">Day</a>
						</li>
						<li class="list-group-item">
							<strong>Upcoming Events:</strong>
							<div class="list-group" style="margin-top: 10px;">
								{% set events = craft.calendar.events({
									rangeStart: "today",
									rangeEnd: "6 months",
									calendarId: calendar.id,
									limit: segment3 ? 20 : 5
								}) %}
								{% include "kalendar/layouts/_calendar_events.html" %}
							</div>
						</li>
					</ul>
				</div>


			{% else %}
				<div class="alert alert-danger" role="alert">
					<p class="lead">
						Sorry, no calendars were found.
					</p>
				</div>
			{% endfor %}

		</div>

		<div class="col-sm-12 col-md-3">
			{% include "kalendar/layouts/_sidebar.html" %}
		</div>

	</div>

{% endblock %}
