{% extends "kalendar/layouts/_layout.html" %}

{% set pageTitle = "Event" %}
{% set page = "event" %}

{% block content %}

<main id="main">
    {% set eventSaved = craft.app.session.getFlash('calendar_event_saved') %}
<section class="NewsItems">
    <div class="container">
	<div class="row">
		<div class="col-md-9">
			<div id="events_calendar">

                {% set occurrenceDate = null %}
                {% if segment4 and segment5 and segment6 %}
                    {% set occurrenceDate = segment4~"-"~segment5~"-"~segment6 %}
                {% endif %}

                {% if event is not defined %}
                    {% set event = craft.calendar.event(segment3, {targetDate: occurrenceDate}) %}

                    {% if event and event.repeating %}
                        {% set event = craft.calendar.addFirstOccurrenceDate(event) %}
                    {% endif %}

                {% endif %}

                {% if event %}

                    <div class="btn-group float-right" role="group" aria-label="actions">
                        {% if craft.calendar.exportEnabled %}
                            <a href="{{ siteUrl }}kalendar/export/event/{{ segment3 }}"
                               class="btn ButtonCta"
                               role="button">
                                <span class="fas fa-file-export" aria-hidden="true"></span>
                                &nbsp;Export Event
                            </a>
                        {% endif %}

                    </div>
            <header class="Article__header">
            <nav class="Breadcrumbs Breadcrumbs--blue">
                <ul>
                    <li><a href="{{ siteUrl }}kalendar">{% if currentSite.language == 'hr' %}Natrag na kalendar{% else %}Homepage{% endif %}</a></li>
                </ul>
            </nav>
                <h1 class="Article__title">
                    {{ event.title }}
                </h1>
            </header>

                    <table class="table table-striped mt-3">
                        <tr>
                            <th style="width: 20%;">Kalendar</th>
                            <td>
                                <span class="fas fa-calendar-alt" style="color: {{ event.calendar.color }};"></span>&nbsp;
                                <a href="{{ siteUrl }}kalendar/calendars/{{ event.calendar.handle }}" style="color: {{ event.calendar.color }};">
                                    {{ event.calendar.name }}
                                </a>
                            </td>
                        </tr>
                        {% if event['location'] is defined and event.location is not empty %}
                            <tr>
                                <th>Location</th>
                                <td>
                                    {{ event.location }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Datum</th>
                            <td>
                                {{ event.startDate|date('l, F j, Y') }}

                                {% if event.allDay %}
                                    (all day)
                                {% else %}
                                    at {{ event.startDate|date("g:ia") }} -
                                    {% if event.multiDay %}
                                        <br />{{ event.endDate|date("l, F j, Y \\a\\t g:ia") }}
                                    {% else %}
                                        {{ event.endDate|date("g:ia") }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Trajanje</th>
                            <td>
                                <span class="far fa-clock"></span>&nbsp;
                                {{ event.duration.humanReadable }}
                            </td>
                        </tr>
                        {% if event['description'] is defined and event.description is not empty %}
                            <tr>
                                <th>Details</th>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Ponavlja se?</th>
                            <td>
                                {% if event.repeating %}
                                    <span class="fas fa-redo"></span>&nbsp;
                                    Repeats {{ event.readableRepeatRule }}
                                {% else %}
                                    Ne
                                {% endif %}
                            </td>
                        </tr>

                        {% if event.repeating %}
                        <tr>
                            <th>Upcoming Recurrences</th>
                            <td>
                                {% set occurrences = event.occurrences({
                                    rangeStart: 'today',
                                    rangeEnd: '+6 months',
                                    limit: 10,
                                }) %}

                                {% if occurrences %}
                                    <ul class="list-group">
                                        {% for occurrence in occurrences %}
                                            <li class="list-group-item d-flex align-items-center" style="border-left: 5px solid {{ occurrence.calendar.color }};">
                                                <small class="mr-auto">
                                                    <span class="far fa-clock"></span>&nbsp;
                                                    {{ occurrence.startDate|date("l, F j, Y") }}

                                                    {% if occurrence.allDay %}
                                                        (all day)
                                                    {% else %}
                                                        at {{ occurrence.startDate|date("g:ia") }}
                                                        {% if occurrence.multiDay %}
                                                            <br />{{ occurrence.endDate|date("l, F j, Y \\a\\t g:ia") }}
                                                        {% else %}
                                                            {{ occurrence.endDate|date("g:ia") }}
                                                        {% endif %}
                                                    {% endif %}
                                                </small>

                                                <a href="{{ siteUrl }}kalendar/event/{{ occurrence.id }}/{{ occurrence.startDate|date("Y/m/d") }}" class="badge mr-2"
                                                   style="background-color: {{ occurrence.calendar.color }}; color: {{ occurrence.calendar.contrastColor }} !important;">
                                                    View Recurrence
                                                </a>
                                                <a class="badge badge-primary"
                                                   href="{{ siteUrl }}kalendar/day/{{ occurrence.startDate|date("Y/m/d") }}">
                                                    View Day in Calendar
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No occurrences found for this timeframe (next 6 months from today).</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if event['cta'] is defined and event.cta is not empty %}
                        <tr>
                            <th>Više informacija</th>
                            <td>
                                <a href="{{ event.cta.url }}">{{ event.cta.text }}</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if event['prijaviSe'] is defined and event.prijaviSe is not empty %}
                        <tr>
                            <th>Link na prijavu</th>
                            <td>
                                <a href="{{ event.prijaviSe.url }}">{{ event.prijaviSe.text }}</a>
                            </td>
                        </tr>
                        {% endif %}
                    </table>

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <p class="lead">
                            Sorry, no event was found.
                        </p>
                    </div>
                {% endif %}
			</div>

		</div>

		<div class="col-md-3">
            {% include "kalendar/layouts/_sidebar.html" %}
		</div>

    </div>
</div>
</section>

    <section class="container-960">
        <article class="Article Article--vertical-padding">
            <div class="Article__content">
            <div class="Article__intro">
                <p>{{ event.lead }}</p>
            </div>
{% for block in event.blokovi.level(1).all() %}

    {% if block.type == "text" %}
                {{ block.mainText }}

    {% elseif block.type == "citat" %}
        {% for row in block.citati.all() %}
                <blockquote>
                    <div class="Blockquote__content">
                        <p>{{ row.citat }}</p>
                    </div>
                    <div class="Blockquote__author">
                        <span><strong>{{ row.imeOsobe }}</strong></span>
                        <span>{{ row.titulaOsobe }}</span>
                    </div>
                </blockquote>
        {% endfor %}

    {% elseif block.type == "foto" %}
        {% for row in block.foto.all() %}
            {% for asset in row.foto.all %}
                {% if asset.extension == 'gif' %}
                    <img src="{{ asset.url }}" alt="{{ asset.alttag }}">
                {% else %}
                    <figure>
                        {% set transformedImages = craft.imager.transformImage(asset, [
                        { width: 920, mode: 'fit', jpegQuality: 100 }
                        ], { ratio: 16/10, jpegQuality: 100 }) %}
                        <img src="{{ craft.imager.placeholder({ width: 920 }) }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.alttag }}">
                        <figcaption>{{ asset.caption }} {{ asset.izvorFotografije }}</figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% elseif block.type == "galerija" %}

    {{ include("partials/_galerija.html") }}

    {% elseif block.type == "video" %}

{% for asset in block.video.all() %}
{% set embeddedAsset = craft.embeddedAssets.get(asset) %}
<div class="Video" data-aspect="16:9">
    <iframe class="Video__iframe" src="{{ embeddedAsset.getIframeSrc(['autoplay=0']) }}" title="{{ embeddedAsset ? embeddedAsset.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>
{% endfor %}

    {% elseif block.type == "faq" %}

    {{ include("partials/_faq_article.html") }}

    {% elseif block.type == "tabovi" %}

    {{ include("partials/_tabovi.html") }}

    {% elseif block.type == "file" %}

    {{ include("partials/_document.html") }}

    {% elseif block.type == "listing" %}

    {{ include("partials/_rucnilisting.html") }}

    {% endif %}
{% endfor %}
            </div>
            <div class="Article__footer">
                <div class="Article__meta">
                    <span class="Article__meta-pubdate">
                        {% if currentSite.language == 'hr' %}Objavljeno{% else %}Date Created{% endif %}:
                        <time datetime="{{ event.dateCreated|date("Y-m-d") }}">{{ event.dateCreated|date("j. n. Y.") }}</time> /
                        {% if currentSite.language == 'hr' %}Zadnje ažurirano{% else %}Date Updated{% endif %}:
                        <time datetime="{{ event.dateUpdated|date("Y-m-d") }}">{{ event.dateUpdated|date("j. n. Y.") }}</time>
                    </span>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}
