{% extends "_layout" %}
{% block content %}
{% set entries = craft.entries.section('promocije').limit(1) %}
{% if entry.file|length %}
    {% for asset in entry.file.all() %}
        {% redirect asset.url %}
    {% endfor %}
{% endif %}
<main id="main">
    <section class="Layout Layout--landing">

        <aside class="Program__aside" aria-expanded="true">

            <div class="Sidebar Sidebar--desktop-sticky" data-js="cmp-sidebar">

                <div class="ProgramAside__header">
                    <a href="{{ siteUrl}}" title="Naslovnica" class="Logo__content Logo__content--sidebar">
                        <img src="{{ siteUrl}}images/ampeu-logo.svg" alt="Logo Agencije za mobilnost i programe EU">
                        <span class="sr-only">{% if currentSite.language == 'hr' %}Agencija za mobilnost i programe EU{% else %}Agency for Mobility and EU Programme{% endif %}</span>
                    </a>
                    <p class="ProgramAside__title">{{ entry.title }}</p>
                </div>
                    {% for block in entry.blokovi.all() %}
                    {% if block.type == "naslov" %}
                <div data-js="sidebar-item" class="Sidebar__item is-collapsed">
                    <div class="Sidebar__header">
                        <p class="SidebarHeader__title Sidebar__title">
                            <a href="#{{ block.naslov|lower|replace({' ': ''}) }}" title="{{ block.naslov }}">
                                <span>{{ block.naslov }}</span>
                            </a>
                        </p>
                    </div>
                </div>
                    {% endif %}
                    {% endfor %}
            </div>
        </aside>

        <div class="container-landing">

        {% set image = entry.coverImage.one() %}
        {% if entry.vrstaHeadera == "velika" %}
            {% for row in entry.introBanner %}
            <section class="Hero Hero--primary">
                <div class="Hero__container">
                    <div class="Hero__content">
                        <div class="Hero__body">
                            <span class="Hero__label">{{ row.nadnaslov }}</span>
                            <h1 class="Hero__title">
                                {{ row.naslov }}
                            </h1>
                            <div class="IntroBlock__text">
                                <p>{{ row.tekst }}</p>
                            </div>
                            {% if row.cta %}
                            <div class="Hero__cta">
                                <a class="Button Button--tertiary" href="{{ row.cta.url }}">{{ row.cta.text }}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Hero__image-container">
                        <figure>
                    {% for image in row.foto %}
                    {% set transformedImages = craft.imager.transformImage(image, [
                    { width: 1600, mode: 'fit', jpegQuality: 100 }
                    ], { ratio: 4/3, jpegQuality: 100 }) %}
                        <img style="display: inline;"
                            loading="lazy"
                            decoding="async"
                            src="{{ craft.imager.placeholder({ width: 1600, height: 1080 }) }}"
                            srcset="{{ craft.imager.srcset(transformedImages) }}"
                            width="1600"
                            alt="{{ image.alttag }}">
                    {% endfor %}
                        </figure>
                    </div>
                </div>
            </section>
            {% endfor %}
        {% elseif entry.vrstaHeadera == "bezHeadera" %}
        {% elseif entry.vrstaHeadera == "mala" %}
            {% for row in entry.introBanner %}
                <section class="IntroBlock {{ row.orijentacija }} {{ row.boja }}" data-js="cmp-intro-block">
                    <div class="IntroBlock__container">
                        <div class="IntroBlock__content">
                            <div class="IntroBlock__header">
                                <span class="IntroBlock__label">{{ row.nadnaslov }}</span>
                                <p class="IntroBlock__title">{{ row.naslov }}</p>
                            </div>
                            <div class="IntroBlock__image">
                                {% for asset in row.foto.all %}
                                {% set transformedImages = craft.imager.transformImage(asset, [
                                    { width: 670, height: 440 }, 
                                    { width: 300, jpegQuality: 65 }
                                    ], { jpegQuality: 100 }, 
                                    { fillTransforms: true }) %}
                                <img
                                    loading="lazy"
                                    src="{{ craft.imager.placeholder({ width: 660, height: 440 }) }}"
                                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                                    width="660"
                                    height="440"
                                    alt="{{ asset.alttag }}">
                                    {% endfor %}
                            </div>
                            <div class="IntroBlock__text">
                                <p>{{ row.tekst }}</p>
                            </div>
                            <div class="IntroBlock__cta">
                                {% if row.cta %}
                                <a href="{{ row.cta.url }}" title="{{ row.cta.text }}" class="Button" target="{{ row.cta.target }}">{{ row.cta.text }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        {% else %}
        {% set transformedImage = craft.imager.transformImage(image, { width: 1900, height: 460 }) %}
        <section class="Hero Hero--secondary" style="background-image: url({{ transformedImage.url }})">
            <div class="Hero__container">
                <div class="Hero__content">
                    <div class="Hero__body">
                    {% if craft.app.request.segments %}
                    <nav class="Breadcrumbs Breadcrumbs--blue">
                        <ul>
                            <li><a href="{{ siteUrl }}">Naslovnica</a></li>
                            <li><a href="{{ siteUrl }}programi">Programi</a></li>
                            {% for crumb in entry.getAncestors() %}
                                <li>{{ crumb.getLink() }}</li>
                            {% endfor %}
                        </ul>
                    </nav>
                    {% endif %}
                        <h1 class="Hero__title">{{ entry.title }}</h1>
                        <div class="Hero__text">
                            <p>{{ entry.lead }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
            <article class="Article Article--horizontal-padding">
                <div class="Article__content">
{% for block in entry.programi.all() %}
    {% if block.type == "intro" %}

        {{ include("partials/_intro.html") }}

    {% elseif block.type == "tabovi" %}

        {{ include("partials/_tabovi.html") }}

    {% elseif block.type == "text" %}

        {{ include("partials/_text.html") }}

    {% elseif block.type == "faq" %}

        {{ include("partials/_faq.html") }}

    {% elseif block.type == "sidro" %}

        <span id="{{ block.sidro|lower|replace({' ': ''}) }}"></span>

    {% elseif block.type == "video" %}

        {{ include("partials/_video.html") }}

    {% elseif block.type == "testimoniali" %}

        {{ include("partials/_testimoniali.html") }}

    {% elseif block.type == "cards" %}

        {{ include("partials/_cards.html") }}

    {% elseif block.type == "citat" %}

        {{ include("partials/_citat_program.html") }}

    {% elseif block.type == "bigHero" %}

        {{ include("partials/_bighero.html") }}

    {% elseif block.type == "agencijaUBrojkama" %}

        {{ include("partials/_agencijaubrojkama.html") }}

    {% elseif block.type == "listing" %}
    
        {{ include("partials/_rucnilisting.html") }}
    
    {% endif %}

{% endfor %}
                    
                    {% for block in entry.blokovi.all() %}
                    {% if block.type == "text" %}
                                {{ block.mainText }}
                    {% elseif block.type == "naslov" %}
                                <h2 class="Title Title--small" id="{{ block.naslov|lower|replace({' ': ''}) }}">{{ block.naslov }}</h2>
                                <p class="Title Title--small">{{ block.podnaslov }}</p>
                    {% elseif block.type == "citat" %}

                        {{ include("partials/_citati.html") }}

                    {% elseif block.type == "foto" %}

                        {{ include("partials/_foto.html") }}

                    {% elseif block.type == "galerija" %}

                        {{ include("partials/_galerija.html") }}

                    {% elseif block.type == "file" %}

                        {{ include("partials/_document.html") }}

                    {% elseif block.type == "tabovi" %}
                    
                        {{ include("partials/_tabovi.html") }}

                    {% elseif block.type == "saznajVise" %}

                        {{ include("partials/_saznajvise.html") }}

                    {% elseif block.type == "listing" %}

                        {{ include("partials/_rucnilisting.html") }}

                    {% elseif block.type == "textStupci" %}

                        {{ include("partials/_text.html") }}

                    {% elseif block.type == "video" %}

                        {{ include("partials/_videoarticle.html") }}

                    {% elseif block.type == "faq" %}

                        {{ include("partials/_faq.html") }}

                    {% endif %}
                    {% endfor %}
                </div>
            </article>
        </div>
    </section>
</main>
{% endblock %}